In [1]:
import numpy as np
import pandas as pd

In [3]:
f_2012=pd.read_csv("combined_2011_12_district.csv")
f_2013=pd.read_csv("combined_2012_13_district.csv")
f_2014=pd.read_csv("combined_2013_14_district.csv")
f_2015=pd.read_csv("combined_2014_15_district.csv")
f_2016=pd.read_csv("combined_2015_16_district.csv")
f_2017=pd.read_csv("combined_2016_17_district.csv")
f_2018=pd.read_csv("combined_2017_18_district.csv")
f_2019=pd.read_csv("combined_2018_19_district.csv")
f_2020=pd.read_csv("combined_2019_20_district.csv")
f_2021=pd.read_csv("combined_2020_21_district.csv")

In [63]:
f_2012.head()

,Unnamed: 0,Sno.,State Name,District Name,Total households applied for job card,Total job cards issued,Total job cards (SC),Total job cards (ST),Total job cards (non-SC/ST),Total households demanded work,...,Total persons worked(Jun),Total persons worked(Jul),Total persons worked(Aug),Total persons worked(Sep),Total persons worked(Oct),Total persons worked(Nov),Total persons worked(Dec),Total persons worked(Jan),Total persons worked(Feb),Total persons worked(Mar)
0,0,1.0,ANDAMAN AND NICOBAR,NICOBARS,2882,2882,4,2211,667,1284,...,888,1076,6080,5655,6269,4218,2890,4281,3336,3882
1,1,2.0,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,17687,17687,0,0,17687,10503,...,12022,37680,50732,79546,85925,74504,66462,63752,46405,17892
2,2,3.0,ANDAMAN AND NICOBAR,SOUTH ANDAMAN,24827,24827,0,344,24483,8125,...,14983,21064,17365,14872,12606,18749,22709,21660,27516,8833
3,3,4.0,DADRA & NAGAR HAVELI,DADRA AND NAGAR HAVELI,7845,1726,1,1703,22,0,...,0,0,0,0,0,0,0,0,0,0
4,4,5.0,DAMAN & DIU,DAMAN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
f_2012.columns

Index(['Unnamed: 0', 'Sno.', 'State Name', 'District Name',
       'Total households applied for job card', 'Total job cards issued',
       'Total job cards (SC)', 'Total job cards (ST)',
       'Total job cards (non-SC/ST)', 'Total households demanded work',
       ...
       'Total persons worked(Jun)', 'Total persons worked(Jul)',
       'Total persons worked(Aug)', 'Total persons worked(Sep)',
       'Total persons worked(Oct)', 'Total persons worked(Nov)',
       'Total persons worked(Dec)', 'Total persons worked(Jan)',
       'Total persons worked(Feb)', 'Total persons worked(Mar)'],
      dtype='object', length=108)

In [20]:
f_2012['State Name'].unique()

array(['ANDAMAN AND NICOBAR', 'DADRA & NAGAR HAVELI', 'DAMAN & DIU',
       'LAKSHADWEEP', 'NAGALAND', 'ANDHRA PRADESH', 'ARUNACHAL PRADESH',
       'ASSAM', 'BIHAR', 'CHHATTISGARH', 'GOA', 'GUJARAT', 'HARYANA',
       'HIMACHAL PRADESH', 'JAMMU AND KASHMIR', 'JHARKHAND', 'KARNATAKA',
       'KERALA', 'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR', 'MEGHALAYA',
       'MIZORAM', 'ODISHA', 'PUDUCHERRY', 'PUNJAB', 'RAJASTHAN', 'SIKKIM',
       'TAMIL NADU', 'TRIPURA', 'UTTAR PRADESH', 'UTTARAKHAND',
       'WEST BENGAL', nan], dtype=object)

In [51]:
state_list = ['ANDAMAN', 'DADRA', 'DAMAN',
       'LAKSHADWEEP', 'NAGALAND', 'ANDHRA', 'ARUNACHAL',
       'ASSAM', 'BIHAR', 'CHHATTISGARH', 'GOA', 'GUJARAT', 'HARYANA',
       'HIMACHAL', 'JAMMU', 'JHARKHAND', 'KARNATAKA',
       'KERALA', 'MADHYA', 'MAHARASHTRA', 'MANIPUR', 'MEGHALAYA',
       'MIZORAM', 'ODISHA', 'PUDUCHERRY', 'PUNJAB', 'RAJASTHAN', 'SIKKIM',
       'TAMIL', 'TRIPURA', 'UTTAR', 'UTTARAKHAND',
       'WEST']

In [52]:
s = []
for i in state_list:
    s.append("f_2012_"+str(i))
    #s = "f_2012_"+str(i)

In [53]:
s

['f_2012_ANDAMAN',
 'f_2012_DADRA',
 'f_2012_DAMAN',
 'f_2012_LAKSHADWEEP',
 'f_2012_NAGALAND',
 'f_2012_ANDHRA',
 'f_2012_ARUNACHAL',
 'f_2012_ASSAM',
 'f_2012_BIHAR',
 'f_2012_CHHATTISGARH',
 'f_2012_GOA',
 'f_2012_GUJARAT',
 'f_2012_HARYANA',
 'f_2012_HIMACHAL',
 'f_2012_JAMMU',
 'f_2012_JHARKHAND',
 'f_2012_KARNATAKA',
 'f_2012_KERALA',
 'f_2012_MADHYA',
 'f_2012_MAHARASHTRA',
 'f_2012_MANIPUR',
 'f_2012_MEGHALAYA',
 'f_2012_MIZORAM',
 'f_2012_ODISHA',
 'f_2012_PUDUCHERRY',
 'f_2012_PUNJAB',
 'f_2012_RAJASTHAN',
 'f_2012_SIKKIM',
 'f_2012_TAMIL',
 'f_2012_TRIPURA',
 'f_2012_UTTAR',
 'f_2012_UTTARAKHAND',
 'f_2012_WEST']

In [59]:
len(s)

33

In [61]:
for i in state_list:
    for j in s: 
        f_2012[f_2012['State Name'] == i]

In [62]:
f_2012_WEST

NameError: name 'f_2012_WEST' is not defined

In [27]:
for i in state_list:
    f_2012[range(1,34)]= f_2012[f_2012['State Name'] == i]

ValueError: Wrong number of items passed 108, placement implies 1

In [15]:
f_2012_aan = f_2012[f_2012['State Name'] == 'ANDAMAN AND NICOBAR']

In [16]:
f_2012_aan

,Unnamed: 0,Sno.,State Name,District Name,Total households applied for job card,Total job cards issued,Total job cards (SC),Total job cards (ST),Total job cards (non-SC/ST),Total households demanded work,...,Total persons worked(Jun),Total persons worked(Jul),Total persons worked(Aug),Total persons worked(Sep),Total persons worked(Oct),Total persons worked(Nov),Total persons worked(Dec),Total persons worked(Jan),Total persons worked(Feb),Total persons worked(Mar)
0,0,1.0,ANDAMAN AND NICOBAR,NICOBARS,2882,2882,4,2211,667,1284,...,888,1076,6080,5655,6269,4218,2890,4281,3336,3882
1,1,2.0,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,17687,17687,0,0,17687,10503,...,12022,37680,50732,79546,85925,74504,66462,63752,46405,17892
2,2,3.0,ANDAMAN AND NICOBAR,SOUTH ANDAMAN,24827,24827,0,344,24483,8125,...,14983,21064,17365,14872,12606,18749,22709,21660,27516,8833

In [7]:
indicator_list=list(f_2021.columns)

In [8]:
indicator_list

['Unnamed: 0',
 'Sno.',
 'State Name',
 'District Name',
 'Total households applied for job card',
 'Total job cards issued',
 'Total job cards (SC)',
 'Total job cards (ST)',
 'Total job cards (non-SC/ST)',
 'Total households demanded work',
 'Total persons demanded work',
 'Total households allotted work',
 'Total persons allotted work',
 'Total muster rolls filled',
 'Total households worked',
 'Total persons worked',
 'Total households reached 100 day limit',
 'Total persons with disability',
 'Total households worked (non-SC/ST)',
 'Total person-days worked (non-SC/ST)',
 'Total SC households worked',
 'Total person-days worked by SCs',
 'Total ST households worked',
 'Total person-days worked by STs',
 'Total land reform/IAY households worked',
 'Total person-days worked by women',
 'Total person-days',
 'Total SC households over 100 day limit',
 'Total ST households over 100 day limit',
 'Labour exp. (disbursed, Rs. In Lakhs)',
 'Material exp. (disbursed, Rs. In Lakhs)',
 'Labour exp. (disbursed + pending, Rs. In Lakhs)',
 'Material exp. (disbursed + pending, Rs. In Lakhs)',
 'Amount sanctioned (Rs. In Lakhs)',
 'Total works',
 'Total bank accounts',
 'Total individual bank accounts',
 'Total joint bank accounts',
 'Amount disbursed to bank accounts',
 'Total post office accounts',
 'Total individual post office accounts',
 'Total joint post office accounts',
 'Amount disbursed to post office accounts',
 'Total households completed person-days in range:1-10',
 'Total households completed<br>person-days in range:11-20',
 'Total households completed<br>person-days in range:21-30',
 'Total households completed<br>person-days in range:31-40',
 'Total households completed<br>person-days in range:41-50',
 'Total households completed<br>person-days in range:51-60',
 'Total households completed<br>person-days in range:61-70',
 'Total households completed<br>person-days in range:71-80',
 'Total households completed<br>person-days in range:81-99',
 'Total households completed<br>person-days in range:100',
 'Total households completed<br>person-days in range:>100',
 'Total households completed<br>person-days in range:>14',
 'Total workers employed<br>in age group:18-30yrs',
 'Total workers employed<br>in age group:30-40yrs',
 'Total workers employed<br>in age group:40-50yrs',
 'Total workers employed<br>in age group:50-60yrs',
 'Total workers employed<br>in age group:>60yrs',
 'Total households demanded<br>work(Apr)',
 'Total households demanded<br>work(May)',
 'Total households demanded<br>work(Jun)',
 'Total households demanded<br>work(Jul)',
 'Total households demanded<br>work(Aug)',
 'Total households demanded<br>work(Sep)',
 'Total households demanded<br>work(Oct)',
 'Total households demanded<br>work(Nov)',
 'Total households demanded<br>work(Dec)',
 'Total households demanded<br>work(Jan)',
 'Total households demanded<br>work(Feb)',
 'Total households demanded<br>work(Mar)',
 'Total persons demanded work(Apr)',
 'Total persons demanded work(May)',
 'Total persons demanded work(Jun)',
 'Total persons demanded work(Jul)',
 'Total persons demanded work(Aug)',
 'Total persons demanded work(Sep)',
 'Total persons demanded work(Oct)',
 'Total persons demanded work(Nov)',
 'Total persons demanded work(Dec)',
 'Total persons demanded work(Jan)',
 'Total persons demanded work(Feb)',
 'Total persons demanded work(Mar)',
 'Total households worked(Apr)',
 'Total households worked(May)',
 'Total households worked(Jun)',
 'Total households worked(Jul)',
 'Total households worked(Aug)',
 'Total households worked(Sep)',
 'Total households worked(Oct)',
 'Total households worked(Nov)',
 'Total households worked(Dec)',
 'Total households worked(Jan)',
 'Total households worked(Feb)',
 'Total households worked(Mar)',
 'Total persons worked(Apr)',
 'Total persons worked(May)',
 'Total persons worked(Jun)',
 'Total persons worked(Jul)',
 'Total persons worked(Aug)',
 'Total persons worked(Sep)',
 'Total persons worked(Oct)',
 'Total persons worked(Nov)',
 'Total persons worked(Dec)',
 'Total persons worked(Jan)',
 'Total persons worked(Feb)',
 'Total persons worked(Mar)']

In [9]:
#li=[f_2012,f_2013,f_2014]
li=[f_2012,f_2013,f_2014,f_2015,f_2016,f_2017,f_2018,f_2019,f_2020,f_2021]
#yr=["2012","2013","2014"]
yr=["2012","2013","2014","2015","2016","2017","2018","2019","2020","2021"]

In [10]:
column_1_data = pd.DataFrame()
for i  in range(1,11):
    year=li[i-1]
    if(i==1):
        n=year
        n=n.rename(columns={n.columns[2]:yr[i-1],"State Name":"Year"})
        n=n[['Year',n.columns[2]]]  #here 2 means "Total households applied for job card"
        n=n.T
        new_header = n.iloc[0] #grab the first row for the header
        n = n[1:] #take the data less the header row
        n.columns = new_header #set the header row as the df header
        column_1_data=n
    else:
        n=year
        n=n.rename(columns={n.columns[2]:yr[i-1],"State Name":"Year"})
        n=n[['Year',n.columns[2]]]  #here 2 means "Total households applied for job card"
        n=n.T
        new_header = n.iloc[0] #grab the first row for the header
        n = n[1:] #take the data less the header row
        n.columns = new_header
        column_1_data=pd.concat([column_1_data, n],sort=False)

ValueError: Plan shapes are not aligned