In [1]:
import pandas as pd

In [2]:

##TEST 1

In [3]:
f_2012=pd.read_csv("combined_state_2011-12.csv")
f_2013=pd.read_csv("combined_state_2012-13.csv")
f_2014=pd.read_csv("combined_2013_14_state.csv")
f_2015=pd.read_csv("combined_2014_15_state.csv")
f_2016=pd.read_csv("combined_2015_16_state.csv")
f_2017=pd.read_csv("combined_state_2016-17.csv")
f_2018=pd.read_csv("combined_2017_18_state.csv")
f_2019=pd.read_csv("combined_2018_19_state.csv")
f_2020=pd.read_csv("combined_2019_20_state.csv")
f_2021=pd.read_csv("combined_state_2020-21.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'combined_state_2011-12.csv'

In [25]:
indidcator_list=list(f_2021.columns)

In [20]:
#li=[f_2012,f_2013,f_2014]
li=[f_2012,f_2013,f_2014,f_2015,f_2016,f_2017,f_2018,f_2019,f_2020,f_2021]
#yr=["2012","2013","2014"]
yr=["2012","2013","2014","2015","2016","2017","2018","2019","2020","2021"]

In [21]:
column_1_data = pd.DataFrame()
for i  in range(1,11):
    year=li[i-1]
    if(i==1):
        n=year
        n=n.rename(columns={n.columns[2]:yr[i-1],"State Name":"Year"})
        n=n[['Year',n.columns[2]]]  #here 2 means "Total households applied for job card"
        n=n.T
        new_header = n.iloc[0] #grab the first row for the header
        n = n[1:] #take the data less the header row
        n.columns = new_header #set the header row as the df header
        column_1_data=n
    else:
        n=year
        n=n.rename(columns={n.columns[2]:yr[i-1],"State Name":"Year"})
        n=n[['Year',n.columns[2]]]  #here 2 means "Total households applied for job card"
        n=n.T
        new_header = n.iloc[0] #grab the first row for the header
        n = n[1:] #take the data less the header row
        n.columns = new_header
        column_1_data=pd.concat([column_1_data, n],sort=False)

In [22]:

column_1_data

,ANDAMAN AND NICOBAR,DADRA & NAGAR HAVELI,DAMAN & DIU,LAKSHADWEEP,NAGALAND,ANDHRA PRADESH,ARUNACHAL PRADESH,ASSAM,BIHAR,CHHATTISGARH,...,PUDUCHERRY,PUNJAB,RAJASTHAN,SIKKIM,TAMIL NADU,TRIPURA,UTTAR PRADESH,UTTARAKHAND,WEST BENGAL,Total:
2012,45396,7845,0,8254,384478,7166470,163974,3949587,12698704,4402364,...,66941,880093,10022207,80444,8419826,603959,15120532,1037940,11226851,120857507
2013,48489,8176,0,8493,398035,8524226,181538,4031420,13350085,4458232,...,67733,927299,9985194,84625,9344972,642073,15325945,1066326,11495899,125991924
2014,50651,8157,0,8709,413625,8883860,193153,4165360,13383199,4058588,...,69607,1088523,9882504,87426,8598545,629322,15162447,1085917,11848223,123711595
2015,50034,8157,0,8452,424272,8282158,201511,4513431,13179932,4028288,...,70076,1117270,9924168,85941,8340268,631915,15743902,1116325,12204578,123188127
2016,52041,8157,0,8309,425656,8441660,210263,4918677,14006596,3998110,...,69650,1203409,10037724,86024,8606114,615874,16775573,1153578,12559419,126874057
2017,36024,8157,0,8243,429713,8554384,218870,4595348,15217059,3776191,...,70057,1299715,9821261,80496,8010977,609086,15869019,1079662,12854044,125123639
2018,35514,9141,0,8178,431925,8641251,221215,4671142,15896313,3833174,...,66136,1529672,9930376,81151,8082248,611429,16224816,1066419,11959609,127078540
2019,0,0,0,0,434770,8816291,230387,4930925,17012912,3921814,...,68149,1668491,10341336,82660,8308437,626495,16958899,1089672,12175809,132424797
2020,NaN,NaN,NaN,NaN,437347,8965257,245373,5263290,18441789,4002269,...,70168,1811052,10713421,84032,8564455,632052,17948604,1124012,12819228,139075443
2021,NaN,NaN,NaN,NaN,444760,9385904,257782,5524835,19783004,4238775,...,73591,1955384,11467272,85859,8908482,642272,21429238,1213244,13755632,150477911

# FOR LOOP FOR INDICATORS

In [94]:
f_2012=pd.read_csv("combined_state_2011-12.csv")
f_2013=pd.read_csv("combined_state_2012-13.csv")
f_2014=pd.read_csv("combined_2013_14_state.csv")
f_2015=pd.read_csv("combined_2014_15_state.csv")
f_2016=pd.read_csv("combined_2015_16_state.csv")
f_2017=pd.read_csv("combined_state_2016-17.csv")
f_2018=pd.read_csv("combined_2017_18_state.csv")
f_2019=pd.read_csv("combined_2018_19_state.csv")
f_2020=pd.read_csv("combined_2019_20_state.csv")
f_2021=pd.read_csv("combined_state_2020-21.csv")

In [95]:
indidcator_list=list(f_2021.columns[2:25])

In [97]:
for i in range(0,23):
    indidcator_list[i]=indidcator_list[i].replace("-","_")
    indidcator_list[i]=indidcator_list[i].replace(" ","_")
    indidcator_list[i]=indidcator_list[i].replace("(","")
    indidcator_list[i]=indidcator_list[i].replace(")","")
    indidcator_list[i]=indidcator_list[i].replace("/","_")

In [99]:
j=2
d={}
for name in indidcator_list:
    d[name]=pd.DataFrame()
    
    
    for i  in range(1,11):
        year=li[i-1]
        if(i==1):
            n=year
            n=n.rename(columns={n.columns[j]:yr[i-1],"State Name":"Year"})
            n=n[['Year',n.columns[j]]]  #here 2 means "Total households applied for job card"
            n=n.T
            new_header = n.iloc[0] #grab the first row for the header
            n = n[1:] #take the data less the header row
            n.columns = new_header #set the header row as the df header
            d[name]=n
        else:
            n=year
            n=n.rename(columns={n.columns[j]:yr[i-1],"State Name":"Year"})
            n=n[['Year',n.columns[j]]]  #here 2 means "Total households applied for job card"
            n=n.T
            new_header = n.iloc[0] #grab the first row for the header
            n = n[1:] #take the data less the header row
            n.columns = new_header
            d[name]=pd.concat([d[name], n],sort=False)
    j=j+1

In [100]:
indidcator_list

['Total_households_applied_for_job_card',
 'Total_job_cards_issued',
 'Total_job_cards_SC',
 'Total_job_cards_ST',
 'Total_job_cards_non_SC_ST',
 'Total_households_demanded_work',
 'Total_persons_demanded_work',
 'Total_households_allotted_work',
 'Total_persons_allotted_work',
 'Total_muster_rolls_filled',
 'Total_households_worked',
 'Total_persons_worked',
 'Total_households_reached_100_day_limit',
 'Total_persons_with_disability',
 'Total_households_worked_non_SC_ST',
 'Total_person_days_worked_non_SC_ST',
 'Total_SC_households_worked',
 'Total_person_days_worked_by_SCs',
 'Total_ST_households_worked',
 'Total_person_days_worked_by_STs',
 'Total_land_reform_IAY_households_worked',
 'Total_person_days_worked_by_women',
 'Total_person_days']

In [115]:
#Total_households_applied_for_job_card=d['Total_households_applied_for_job_card']
type(Total_person_days_worked_by_women)

pandas.core.frame.DataFrame

In [106]:
for name in indidcator_list:
    globals()[name]=d[name]

In [116]:
Total_person_days_worked_by_STs

,ANDAMAN AND NICOBAR,DADRA & NAGAR HAVELI,DAMAN & DIU,LAKSHADWEEP,NAGALAND,ANDHRA PRADESH,ARUNACHAL PRADESH,ASSAM,BIHAR,CHHATTISGARH,...,PUDUCHERRY,PUNJAB,RAJASTHAN,SIKKIM,TAMIL NADU,TRIPURA,UTTAR PRADESH,UTTARAKHAND,WEST BENGAL,Total:
2012,33043,0,0,162723,27840077,28964178,72807,8018997,0,45578537,...,1011,2145,52370887,1187068,3852578,20571092,3310384,570409,15514426,382984444
2013,45700,0,0,47781,22922093,23178788,3869815,6536958,1826407,45917868,...,550,1780,53358594,1461562,5379327,22158829,1448492,483047,20100340,382678104
2014,68564,0,0,14248,17377972,19975903,3337902,4829482,1813324,52107450,...,667,4144,48109195,1765322,4792364,22553949,1803534,430686,22154936,361804282
2015,0,0,0,0,8674614,18565435,1748518,3191990,486601,17817895,...,231,931,44775144,861742,2992800,22564919,1063758,381280,13815070,264755095
2016,0,0,0,0,20386283,24427255,4612394,9117089,1176886,43184033,...,440,2622,57018018,1680084,4468556,23320393,1970403,936360,23873549,394737178
2017,0,0,0,0,27887637,22759558,7633985,9244248,1471424,34094781,...,446,2544,58409007,1759912,4442696,21189522,1472927,1036491,19986649,395711530
2018,0,0,0,0,19111258,22215441,3780869,7345938,1312896,44414886,...,983,6268,51526694,1326637,2660010,9222754,1722408,973775,26438525,388453075
2019,0,0,0,0,12678116,25028865,6222276,10679840,1911723,50878438,...,835,6817,65682240,1243019,3618234,12545490,2021163,851185,28416164,446412721
2020,NaN,NaN,NaN,NaN,13130502,22766270,7757987,10977496,2023099,52416308,...,1087,11844,72892366,1169829,2818295,17302024,2300484,677914,25013162,467349563
2021,NaN,NaN,NaN,NaN,13738409,23853144,7162795,7198531,1735064,36856604,...,1930,14047,75407471,1001753,2963980,15578005,2867498,709923,25473641,460003846