In [ ]:
from bs4 import BeautifulSoup as soup
import lxml
import requests
from selenium import webdriver
# import smtplib
# import schedule 
import time
from time import sleep
# import threading
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import numpy as np

## Making the data to Display for selected 23 varibles with all states data (India).

### This Code is only for First 23 Variables

In [ ]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[:25]

# print(check_box_trail)
for checkbox in check_box_trail:
    checkbox.click()
driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li[1]/label').click() #inside state
driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[4]').click()

# try:
for i in range (0,33):
    i = str(i+1)
    try:
        driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
        i=int(i)
    except:
        continue
        i=int(i)
#     sleep(0.1)
#     i=int(i)
driver.find_element_by_xpath('//*[@id="viewDummy"]').click()

# except:
#     pass
# driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li[3]').click()
# # sleep(2)
# driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
# # sleep(15)
# driver.quit()
# df_list = pd.read_html('https://nregarep2.nic.in/netnrega/dynamic2/ReportGenerated.aspx')
dfs = pd.read_html(driver.page_source)
dfs_first_part = dfs[-1]
# dfs = dfs.T
print(dfs)
# dfs.to_csv('Animal.csv',index=0)
sleep(10)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Driver [C:\Users\user\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

[                                                   0   \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                Sno.
5                                                   1
6                                                   2
7                                                   3
8                                                   4
9                                                   5
10                                                  6
11                                                  7
12                                                  8
13                                                  9
14                                                 10
15                                                 11
16                                                 12
17                                                 13
18                                                 14
19                                                 15
20                                                 16
21                                                 17
22                                                 18
23                                                 19
24                                                 20
25                                                 21
26                                                 22
27                                                 23
28                                                 24
29                                                 25
30                                                 26
31                                                 27
32                                                 28
33                                                 29
34                                                 30
35                                                 31
36                                                 32
37                                                 33
38                                                NaN
39                                                NaN
40                                                NaN
41                                                NaN
42  Note: Figures shown above are indicative only ...

                                                   1   \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                          State Name
5                                 ANDAMAN AND NICOBAR
6                                DADRA & NAGAR HAVELI
7                                         DAMAN & DIU
8                                         LAKSHADWEEP
9                                            NAGALAND
10                                     ANDHRA PRADESH
11                                  ARUNACHAL PRADESH
12                                              ASSAM
13                                              BIHAR
14                                       CHHATTISGARH
15                                                GOA
16                                            GUJARAT
17                                            HARYANA
18                                   HIMACHAL PRADESH
19                                  JAMMU AND KASHMIR
20                                          JHARKHAND
21                                          KARNATAKA
22                                             KERALA
23                                     MADHYA PRADESH
24                                        MAHARASHTRA
25                                            MANIPUR
26                                          MEGHALAYA
27                                            MIZORAM
28                                             ODISHA
29                                         PUDUCHERRY
30                                             PUNJAB
31                                          RAJASTHAN
32                                             SIKKIM
33                                         TAMIL NADU
34                                            TRIPURA
35                                      UTTAR PRADESH
36                                        UTTARAKHAND
37                                        WEST BENGAL
38                                             Total:
39                                                NaN
40                                                NaN
41                                                NaN
42  Note: Figures shown above are indicative only ...

                                                   2   \
0        MGNREGA Public Data Portal For FY: 2018-2019
1                                                 NaN
2                                                 NaN
3   Sno.State NameTotal households applied for job...
4               Total households applied for job card
5                                                   0
6                                                   0
7                                                   0
8                                                   0
9                                              434770
10                                            8816291
11                                             230387
12                                            4930925
13                                           17012912
14                                            3921814
15                                              36950
16                                            3849530
17                                             930219
18                                            1261078
19                                            1290570
20                                            4720108
21                                            6004069
22                                            3512734
23                                            7113983
24                                            9183105
25                                             567989
26                                             568159
27                                             193945
28                                            6525311
29                                              68149
30                                            1668491
31                                           10341336
32                                              82660
33                                            8308437
34                                             626495
35                                           16958899
36                                            1089672
37                                           12175809
38                                          132424797
39                                                NaN
40                                                NaN
41                                                NaN
42  Note: Figures shown above are indicative only ...

                                                   3   \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                              Total job cards issued
5                                                   0
6                                                   0
7                                                   0
8                                                   0
9                                              434217
10                                            8816291
11                                             228939
12                                            4653512
13                                           15864507
14                                            3798947
15                                              33354
16                                            3727513
17                                             928251
18                                            1244051
19                                            1224754
20                                            4397616
21                                            5962497
22                                            3512123
23                                            6981267
24                                            8506967
25                                             566887
26                                             564067
27                                             193939
28                                            6478025
29                                              66081
30                                            1589845
31                                           10127108
32                                              82251
33                                            8173246
34                                             625343
35                                           16192848
36                                            1064831
37                                           11984882
38                                          128024159
39                                                NaN
40                                                NaN
41                                                NaN
42  Note: Figures shown above are indicative only ...

                                                   4                     5   \
0                                                 NaN                   NaN
1                                                 NaN                   NaN
2                                                 NaN                   NaN
3                                                 NaN                   NaN
4                                Total job cards (SC)  Total job cards (ST)
5                                                   0                     0
6                                                   0                     0
7                                                   0                     0
8                                                   0                     0
9                                                3737                414350
10                                            2123007                719449
11                                                194                209562
12                                             263869                716895
13                                            3726823                265677
14                                             401590               1264297
15                                                790                  9657
16                                             242207               1418486
17                                             395738                   125
18                                             330801                 76346
19                                              76586                170857
20                                             507863               1458610
21                                             998961                497924
22                                             432293                121452
23                                            1159847               2239641
24                                             812560               1181959
25                                              15332                245168
26                                               3882                519678
27                                                 40                192720
28                                            1155895               1760685
29                                              18546                    98
30                                            1103375                   554
31                                            1962446               1902695
32                                               3775                 30485
33                                            2159867                123925
34                                             108604                253745
35                                            5238699                161227
36                                             202777                 39513
37                                            3129884                876193
38                                           26579988              16871973
39                                                NaN                   NaN
40                                                NaN                   NaN
41                                                NaN                   NaN
42  Note: Figures shown above are indicative only ...                   NaN

                             6                               7   \
0                           NaN                             NaN
1                           NaN                             NaN
2                           NaN                             NaN
3                           NaN                             NaN
4   Total job cards (non-SC/ST)  Total households demanded work
5                             0                               0
6                             0                               0
7                             0                               0
8                             0                               0
9                         16130                          400217
10                      5973835                         4394710
11                        19183                          168311
12                      3672748                         1922742
13                     11872007                         3670617
14                      2133060                         2813750
15                        22907                            1306
16                      2066820                         1045443
17                       532388                          276534
18                       836904                          592370
19                       977311                          726614
20                      2431143                         1572304
21                      4465612                         2358638
22                      2958378                         1628881
23                      3581779                         4570714
24                      6512448                         1976995
25                       306387                          527817
26                        40507                          482832
27                         1179                          196120
28                      3561445                         2375332
29                        47437                           37729
30                       485916                          834259
31                      6261967                         5800775
32                        47991                           65093
33                      5889454                         5834288
34                       262994                          564408
35                     10792922                         5836401
36                       822541                          528992
37                      7978805                         4749694
38                     84572198                        55953886
39                          NaN                             NaN
40                          NaN                             NaN
41                          NaN                             NaN
42                          NaN                             NaN

                             8                               9   ...  \
0                           NaN                             NaN  ...
1                           NaN                             NaN  ...
2                           NaN                             NaN  ...
3                           NaN                             NaN  ...
4   Total persons demanded work  Total households allotted work  ...
5                             0                               0  ...
6                             0                               0  ...
7                             0                               0  ...
8                             0                               0  ...
9                        438477                          398573  ...
10                      7559120                         4069899  ...
11                       181328                          165986  ...
12                      2823894                         1922247  ...
13                      4380414                         3666735  ...
14                      5717431                         2812236  ...
15                         1331                            1300  ...
16                      1827837                         1043461  ...
17                       413511                          275984  ...
18                       803613                          592251  ...
19                      1126542                          725700  ...
20                      2153982                         1571304  ...
21                      4603159                         2299153  ...
22                      1912249                         1628841  ...
23                      8552299                         4560345  ...
24                      3805075                         1973372  ...
25                       597533                          524786  ...
26                       694296                          482834  ...
27                       202841                          196100  ...
28                      3928163                         2371654  ...
29                        42547                           37728  ...
30                      1082800                          832896  ...
31                      9064077                         5798431  ...
32                        77553                           65075  ...
33                      6936173                         5834124  ...
34                       772804                          564399  ...
35                      7320853                         5829578  ...
36                       707138                          528830  ...
37                      8426288                         4747757  ...
38                     86153328                        55521579  ...
39                          NaN                             NaN  ...
40                          NaN                             NaN  ...
41                          NaN                             NaN  ...
42                          NaN                             NaN  ...

                                      17                          18  \
0                                    NaN                         NaN
1                                    NaN                         NaN
2                                    NaN                         NaN
3                                    NaN                         NaN
4   Total person-days worked (non-SC/ST)  Total SC households worked
5                                      0                           0
6                                      0                           0
7                                      0                           0
8                                      0                           0
9                                 502235                        3237
10                             168647156                      994860
11                                641332                         123
12                              39866506                       93909
13                              96989105                      556861
14                              74335756                      249490
15                                  9606                          27
16                              23151928                       49028

In [ ]:
dfs_first_part.to_csv("df_firstpart.csv",index=False)

In [ ]:
dfs_first_part.head()

,Sno.,State Name,Total households applied for job card,Total job cards issued,Total job cards (SC),Total job cards (ST),Total job cards (non-SC/ST),Total households demanded work,Total persons demanded work,Total households allotted work,...,Total person-days worked (non-SC/ST),Total SC households worked,Total person-days worked by SCs,Total ST households worked,Total person-days worked by STs,Total land reform/IAY households worked,Total person-days worked by women,Total person-days,Total SC households over 100 day limit,Total ST households over 100 day limit
0,1.0,ANDAMAN AND NICOBAR,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2.0,DADRA & NAGAR HAVELI,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3.0,DAMAN & DIU,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4.0,LAKSHADWEEP,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5.0,NAGALAND,434770,434217,3737,414350,16130,400217,438477,398573,...,502235,3237,105096,370808,12678116,242,4193422,13285447,0,0

In [ ]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[31:48]
# print(check_box_trail)
for checkbox in check_box_trail:
    checkbox.click()
driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li[1]/label').click() #inside state
driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[4]').click()

# try:
for i in range (0,33):
    i = str(i+1)
    try:
        driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
        i=int(i)
    except:
        continue
        i=int(i)
#     sleep(0.1)
#     i=int(i)
driver.find_element_by_xpath('//*[@id="viewDummy"]').click()

# except:
#     pass
# driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li[3]').click()
# # sleep(2)
# driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
# # sleep(15)
# driver.quit()
# df_list = pd.read_html('https://nregarep2.nic.in/netnrega/dynamic2/ReportGenerated.aspx')
dfs1 = pd.read_html(driver.page_source)
dfs_last_part = dfs1[-1]
# dfs = dfs.T
print(dfs)
# dfs.to_csv('Animal.csv',index=0)
sleep(10)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Driver [C:\Users\user\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

[                                                   0   \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                Sno.
5                                                   1
6                                                   2
7                                                   3
8                                                   4
9                                                   5
10                                                  6
11                                                  7
12                                                  8
13                                                  9
14                                                 10
15                                                 11
16                                                 12
17                                                 13
18                                                 14
19                                                 15
20                                                 16
21                                                 17
22                                                 18
23                                                 19
24                                                 20
25                                                 21
26                                                 22
27                                                 23
28                                                 24
29                                                 25
30                                                 26
31                                                 27
32                                                 28
33                                                 29
34                                                 30
35                                                 31
36                                                 32
37                                                 33
38                                                NaN
39                                                NaN
40                                                NaN
41                                                NaN
42  Note: Figures shown above are indicative only ...

                                                   1   \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                          State Name
5                                 ANDAMAN AND NICOBAR
6                                DADRA & NAGAR HAVELI
7                                         DAMAN & DIU
8                                         LAKSHADWEEP
9                                            NAGALAND
10                                     ANDHRA PRADESH
11                                  ARUNACHAL PRADESH
12                                              ASSAM
13                                              BIHAR
14                                       CHHATTISGARH
15                                                GOA
16                                            GUJARAT
17                                            HARYANA
18                                   HIMACHAL PRADESH
19                                  JAMMU AND KASHMIR
20                                          JHARKHAND
21                                          KARNATAKA
22                                             KERALA
23                                     MADHYA PRADESH
24                                        MAHARASHTRA
25                                            MANIPUR
26                                          MEGHALAYA
27                                            MIZORAM
28                                             ODISHA
29                                         PUDUCHERRY
30                                             PUNJAB
31                                          RAJASTHAN
32                                             SIKKIM
33                                         TAMIL NADU
34                                            TRIPURA
35                                      UTTAR PRADESH
36                                        UTTARAKHAND
37                                        WEST BENGAL
38                                             Total:
39                                                NaN
40                                                NaN
41                                                NaN
42  Note: Figures shown above are indicative only ...

                                                   2   \
0        MGNREGA Public Data Portal For FY: 2018-2019
1                                                 NaN
2                                                 NaN
3   Sno.State NameTotal households applied for job...
4               Total households applied for job card
5                                                   0
6                                                   0
7                                                   0
8                                                   0
9                                              434770
10                                            8816291
11                                             230387
12                                            4930925
13                                           17012912
14                                            3921814
15                                              36950
16                                            3849530
17                                             930219
18                                            1261078
19                                            1290570
20                                            4720108
21                                            6004069
22                                            3512734
23                                            7113983
24                                            9183105
25                                             567989
26                                             568159
27                                             193945
28                                            6525311
29                                              68149
30                                            1668491
31                                           10341336
32                                              82660
33                                            8308437
34                                             626495
35                                           16958899
36                                            1089672
37                                           12175809
38                                          132424797
39                                                NaN
40                                                NaN
41                                                NaN
42  Note: Figures shown above are indicative only ...

                                                   3   \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                              Total job cards issued
5                                                   0
6                                                   0
7                                                   0
8                                                   0
9                                              434217
10                                            8816291
11                                             228939
12                                            4653512
13                                           15864507
14                                            3798947
15                                              33354
16                                            3727513
17                                             928251
18                                            1244051
19                                            1224754
20                                            4397616
21                                            5962497
22                                            3512123
23                                            6981267
24                                            8506967
25                                             566887
26                                             564067
27                                             193939
28                                            6478025
29                                              66081
30                                            1589845
31                                           10127108
32                                              82251
33                                            8173246
34                                             625343
35                                           16192848
36                                            1064831
37                                           11984882
38                                          128024159
39                                                NaN
40                                                NaN
41                                                NaN
42  Note: Figures shown above are indicative only ...

                                                   4                     5   \
0                                                 NaN                   NaN
1                                                 NaN                   NaN
2                                                 NaN                   NaN
3                                                 NaN                   NaN
4                                Total job cards (SC)  Total job cards (ST)
5                                                   0                     0
6                                                   0                     0
7                                                   0                     0
8                                                   0                     0
9                                                3737                414350
10                                            2123007                719449
11                                                194                209562
12                                             263869                716895
13                                            3726823                265677
14                                             401590               1264297
15                                                790                  9657
16                                             242207               1418486
17                                             395738                   125
18                                             330801                 76346
19                                              76586                170857
20                                             507863               1458610
21                                             998961                497924
22                                             432293                121452
23                                            1159847               2239641
24                                             812560               1181959
25                                              15332                245168
26                                               3882                519678
27                                                 40                192720
28                                            1155895               1760685
29                                              18546                    98
30                                            1103375                   554
31                                            1962446               1902695
32                                               3775                 30485
33                                            2159867                123925
34                                             108604                253745
35                                            5238699                161227
36                                             202777                 39513
37                                            3129884                876193
38                                           26579988              16871973
39                                                NaN                   NaN
40                                                NaN                   NaN
41                                                NaN                   NaN
42  Note: Figures shown above are indicative only ...                   NaN

                             6                               7   \
0                           NaN                             NaN
1                           NaN                             NaN
2                           NaN                             NaN
3                           NaN                             NaN
4   Total job cards (non-SC/ST)  Total households demanded work
5                             0                               0
6                             0                               0
7                             0                               0
8                             0                               0
9                         16130                          400217
10                      5973835                         4394710
11                        19183                          168311
12                      3672748                         1922742
13                     11872007                         3670617
14                      2133060                         2813750
15                        22907                            1306
16                      2066820                         1045443
17                       532388                          276534
18                       836904                          592370
19                       977311                          726614
20                      2431143                         1572304
21                      4465612                         2358638
22                      2958378                         1628881
23                      3581779                         4570714
24                      6512448                         1976995
25                       306387                          527817
26                        40507                          482832
27                         1179                          196120
28                      3561445                         2375332
29                        47437                           37729
30                       485916                          834259
31                      6261967                         5800775
32                        47991                           65093
33                      5889454                         5834288
34                       262994                          564408
35                     10792922                         5836401
36                       822541                          528992
37                      7978805                         4749694
38                     84572198                        55953886
39                          NaN                             NaN
40                          NaN                             NaN
41                          NaN                             NaN
42                          NaN                             NaN

                             8                               9   ...  \
0                           NaN                             NaN  ...
1                           NaN                             NaN  ...
2                           NaN                             NaN  ...
3                           NaN                             NaN  ...
4   Total persons demanded work  Total households allotted work  ...
5                             0                               0  ...
6                             0                               0  ...
7                             0                               0  ...
8                             0                               0  ...
9                        438477                          398573  ...
10                      7559120                         4069899  ...
11                       181328                          165986  ...
12                      2823894                         1922247  ...
13                      4380414                         3666735  ...
14                      5717431                         2812236  ...
15                         1331                            1300  ...
16                      1827837                         1043461  ...
17                       413511                          275984  ...
18                       803613                          592251  ...
19                      1126542                          725700  ...
20                      2153982                         1571304  ...
21                      4603159                         2299153  ...
22                      1912249                         1628841  ...
23                      8552299                         4560345  ...
24                      3805075                         1973372  ...
25                       597533                          524786  ...
26                       694296                          482834  ...
27                       202841                          196100  ...
28                      3928163                         2371654  ...
29                        42547                           37728  ...
30                      1082800                          832896  ...
31                      9064077                         5798431  ...
32                        77553                           65075  ...
33                      6936173                         5834124  ...
34                       772804                          564399  ...
35                      7320853                         5829578  ...
36                       707138                          528830  ...
37                      8426288                         4747757  ...
38                     86153328                        55521579  ...
39                          NaN                             NaN  ...
40                          NaN                             NaN  ...
41                          NaN                             NaN  ...
42                          NaN                             NaN  ...

                                      17                          18  \
0                                    NaN                         NaN
1                                    NaN                         NaN
2                                    NaN                         NaN
3                                    NaN                         NaN
4   Total person-days worked (non-SC/ST)  Total SC households worked
5                                      0                           0
6                                      0                           0
7                                      0                           0
8                                      0                           0
9                                 502235                        3237
10                             168647156                      994860
11                                641332                         123
12                              39866506                       93909
13                              96989105                      556861
14                              74335756                      249490
15                                  9606                          27
16                              23151928                       49028

In [ ]:
dfs_last_part.to_csv("df_lastpart.csv",index=False)

In [ ]:
dfs_last_part.head()

,Sno.,State Name,"Labour exp. (disbursed, Rs. In Lakhs)","Material exp. (disbursed, Rs. In Lakhs)","Labour exp. (disbursed + pending, Rs. In Lakhs)","Material exp. (disbursed + pending, Rs. In Lakhs)",Amount sanctioned (Rs. In Lakhs),Total works,Total bank accounts,Total individual bank accounts,Total joint bank accounts,Amount disbursed to bank accounts,Total post office accounts,Total individual post office accounts,Total joint post office accounts,Amount disbursed to post office accounts
0,1.0,ANDAMAN AND NICOBAR,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2.0,DADRA & NAGAR HAVELI,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,3.0,DAMAN & DIU,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,4.0,LAKSHADWEEP,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5.0,NAGALAND,14104,8307,14746,8605,10147551,25530,202301,199411,2890,485418981,206,206,0,501264

In [ ]:
dfs_last_part.drop(columns={'Sno.','State Name'},inplace=True)
dfs_merged=pd.concat([dfs_first_part,dfs_last_part],axis=1,sort=False)
dfs_merged.head()

,Sno.,State Name,Total households applied for job card,Total job cards issued,Total job cards (SC),Total job cards (ST),Total job cards (non-SC/ST),Total households demanded work,Total persons demanded work,Total households allotted work,...,Amount sanctioned (Rs. In Lakhs),Total works,Total bank accounts,Total individual bank accounts,Total joint bank accounts,Amount disbursed to bank accounts,Total post office accounts,Total individual post office accounts,Total joint post office accounts,Amount disbursed to post office accounts
0,1.0,ANDAMAN AND NICOBAR,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2.0,DADRA & NAGAR HAVELI,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3.0,DAMAN & DIU,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4.0,LAKSHADWEEP,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5.0,NAGALAND,434770,434217,3737,414350,16130,400217,438477,398573,...,10147551,25530,202301,199411,2890,485418981,206,206,0,501264

# dropdown 1

In [ ]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
# check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
# # print(check_box_trail)
# ##for checkbox in check_box_trail:
#     checkbox.click()
# driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# for i in range (0,33):
#     i = str(i+1)
#     try:
#         driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
#         i=int(i)
#     except:
#         continue
#         i=int(i)
#     i=int(i)
    
for i in range (1,13):
    i = str(i+1)
    li=['1-10','11-20','21-30','31-40','41-50','51-60','61-70','71-80','81-99','100','>100','>14']
    try:
        
        check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
        driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[4]').click()
        for checkbox in check_box_trail:
            checkbox.click()
        driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
        for j in range (0,33):
            j = str(j+1)
            try:
                driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+j+']/label').click() #inside state
                j=int(j)
            except:
                continue
                j=int(j)
        j=int(j)
        driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click() #inside state
        i=int(i)
#         typeOf(i)
        driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
        driver.implicitly_wait(15)
        dfs = pd.read_html(driver.page_source)
        dfs2 = dfs[-1]
        if i==2:
            data_1=dfs2
        else:
            data_1[dfs2.columns[2]+li[i-2]]=dfs2.iloc[:,2]
                
                
        dfs2 = dfs[-1]
#                 dfs1.columns[3] = dfs[-1].dfs.loc[:,dfs.columns[2]]
        # dfs = dfs.T
        print(dfs2)
        sleep(5)
        driver.find_element_by_xpath('//*[@id="BtnBack"]').click() #inside state
        sleep(2)
#         driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click()
    except:
        continue    
#     i=int(i)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Driver [C:\Users\user\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

    Sno.            State Name  \
0    1.0   ANDAMAN AND NICOBAR
1    2.0  DADRA & NAGAR HAVELI
2    3.0           DAMAN & DIU
3    4.0           LAKSHADWEEP
4    5.0              NAGALAND
5    6.0        ANDHRA PRADESH
6    7.0     ARUNACHAL PRADESH
7    8.0                 ASSAM
8    9.0                 BIHAR
9   10.0          CHHATTISGARH
10  11.0                   GOA
11  12.0               GUJARAT
12  13.0               HARYANA
13  14.0      HIMACHAL PRADESH
14  15.0     JAMMU AND KASHMIR
15  16.0             JHARKHAND
16  17.0             KARNATAKA
17  18.0                KERALA
18  19.0        MADHYA PRADESH
19  20.0           MAHARASHTRA
20  21.0               MANIPUR
21  22.0             MEGHALAYA
22  23.0               MIZORAM
23  24.0                ODISHA
24  25.0            PUDUCHERRY
25  26.0                PUNJAB
26  27.0             RAJASTHAN
27  28.0                SIKKIM
28  29.0            TAMIL NADU
29  30.0               TRIPURA
30  31.0         UTTAR PRADESH
31  32.0           UTTARAKHAND
32  33.0           WEST BENGAL
33   NaN                Total:

    Total households completed<br>person-days in range:
0                                                   0
1                                                   0
2                                                   0
3                                                   0
4                                              130300
5                                             2684413
6                                               16797
7                                             2266111
8                                              949908
9                                             1268692
10                                               2894
11                                             608736
12                                             309587
13                                             228267
14                                             151599
15                                             869661
16                                            1217804
17                                             826575
18                                            1930733
19                                            1588678
20                                             421208
21                                              57241
22                                               7327
23                                            1486507
24                                              62518
25                                            1033733
26                                            1972039
27                                              16905
28                                            4250955
29                                             279455
30                                            3395996
31                                             221121
32                                             253847
33                                           28509607
    Sno.            State Name  \
0    1.0   ANDAMAN AND NICOBAR
1    2.0  DADRA & NAGAR HAVELI
2    3.0           DAMAN & DIU
3    4.0           LAKSHADWEEP
4    5.0              NAGALAND
5    6.0        ANDHRA PRADESH
6    7.0     ARUNACHAL PRADESH
7    8.0                 ASSAM
8    9.0                 BIHAR
9   10.0          CHHATTISGARH
10  11.0                   GOA
11  12.0               GUJARAT
12  13.0               HARYANA
13  14.0      HIMACHAL PRADESH
14  15.0     JAMMU AND KASHMIR
15  16.0             JHARKHAND
16  17.0             KARNATAKA
17  18.0                KERALA
18  19.0        MADHYA PRADESH
19  20.0           MAHARASHTRA
20  21.0               MANIPUR
21  22.0             MEGHALAYA
22  23.0               MIZORAM
23  24.0                ODISHA
24  25.0            PUDUCHERRY
25  26.0                PUNJAB
26  27.0             RAJASTHAN
27  28.0                SIKKIM
28  29.0            TAMIL NADU
29  30.0               TRIPURA
30  31.0         UTTAR PRADESH
31  32.0           UTTARAKHAND
32  33.0           WEST BENGAL
33   NaN                Total:

    Total households completed<br>person-days in range:
0                                                   0
1                                                   0
2                                                   0
3                                                   0
4                                              510266
5                                             7085718
6                                              316986
7                                             6711455
8                                             8668881
9                                             4907052
10                                               5015
11                                            2197585
12                                             757553
13                                            1204500
14                                            1008434
15                                            3560201
16                                            4876371
17                                            1465838
18                                            7691832
19                                            5948720
20                                            2720492
21                                             350626
22                                              13751
23                                            7252472
24                                             154950
25                                            2372609
26                                            7837583
27                                             102345
28                                           11564481
29                                             877590
30                                           13522345
31                                            1222044
32                                            2248556
33                                          107156251
    Sno.            State Name  \
0    1.0   ANDAMAN AND NICOBAR
1    2.0  DADRA & NAGAR HAVELI
2    3.0           DAMAN & DIU
3    4.0           LAKSHADWEEP
4    5.0              NAGALAND
5    6.0        ANDHRA PRADESH
6    7.0     ARUNACHAL PRADESH
7    8.0                 ASSAM
8    9.0                 BIHAR
9   10.0          CHHATTISGARH
10  11.0                   GOA
11  12.0               GUJARAT
12  13.0               HARYANA
13  14.0      HIMACHAL PRADESH
14  15.0     JAMMU AND KASHMIR
15  16.0             JHARKHAND
16  17.0             KARNATAKA
17  18.0                KERALA
18  19.0        MADHYA PRADESH
19  20.0           MAHARASHTRA
20  21.0               MANIPUR
21  22.0             MEGHALAYA
22  23.0               MIZORAM
23  24.0                ODISHA
24  25.0            PUDUCHERRY
25  26.0                PUNJAB
26  27.0             RAJASTHAN
27  28.0                SIKKIM
28  29.0            TAMIL NADU
29  30.0               TRIPURA
30  31.0         UTTAR PRADESH
31  32.0           UTTARAKHAND
32  33.0           WEST BENGAL
33   NaN                Total:

    Total households completed<br>person-days in range:
0                                                   0
1                                                   0
2                                                   0
3                                                   0
4                                             3047832
5                                            10721368
6                                             1087361
7                                             7555115
8                                            14796859
9                                             7677824
10                                               3583
11                                            3572710
12                                             890189
13                                            2204364
14                                            2509688
15                                            4936070
16                                            9006399
17                                            2396646
18                                           11868976
19                                            7081714
20                                            5188809
21                                             837828
22                                              22348
23                                            9541818
24                                             194294
25                                            2682728
26                                           14506663
27                                             217610
28                                           18575785
29                                            1802857
30                                           22075683
31                                            2086688
32                                            5305852
33                                          172395661
    Sno.            State Name  \
0    1.0   ANDAMAN AND NICOBAR
1    2.0  DADRA & NAGAR HAVELI
2    3.0           DAMAN & DIU
3    4.0           LAKSHADWEEP
4    5.0              NAGALAND
5    6.0        ANDHRA PRADESH
6    7.0     ARUNACHAL PRADESH
7    8.0                 ASSAM
8    9.0                 BIHAR
9   10.0          CHHATTISGARH
10  11.0                   GOA
11  12.0               GUJARAT
12  13.0               HARYANA
13  14.0      HIMACHAL PRADESH
14  15.0     JAMMU AND KASHMIR
15  16.0             JHARKHAND
16  17.0             KARNATAKA
17  18.0                KERALA
18  19.0        MADHYA PRADESH
19  20.0           MAHARASHTRA
20  21.0               MANIPUR
21  22.0             MEGHALAYA
22  23.0               MIZORAM
23  24.0                ODISHA
24  25.0            PUDUCHERRY
25  26.0                PUNJAB
26  27.0             RAJASTHAN
27  28.0                SIKKIM
28  29.0            TAMIL NADU
29  30.0               TRIPURA
30  31.0         UTTAR PRADESH
31  32.0           UTTARAKHAND
32  33.0           WEST BENGAL
33   NaN                Total:

    Total households completed<br>person-days in range:
0                                                   0
1                                                   0
2                                                   0
3                                                   0
4                                             4373135
5                                            13125724
6                                              834228
7                                             5058008
8                                            10949979
9                                             8277430
10                                               1205
11                                            3383635
12                                             737791
13                                            1866989
14                                            1767985
15                                            3867060
16                                            7063702
17                                            3067841
18                                           11193680
19                                            6117425
20                                            2318404
21                                            1170958
22                                              51581
23                                            7444809
24                                             126897
25                                            2395540
26                                           17407332
27                                             216533
28                                           22900816
29                                            3011888
30                                           16418932
31                                            1836027
32                                            6502866
33                                          163488400
    Sno.            State Name  \
0    1.0   ANDAMAN AND NICOBAR
1    2.0  DADRA & NAGAR HAVELI
2    3.0           DAMAN & DIU
3    4.0           LAKSHADWEEP
4    5.0              NAGALAND
5    6.0        ANDHRA PRADESH
6    7.0     ARUNACHAL PRADESH
7    8.0                 ASSAM
8    9.0                 BIHAR
9   10.0          CHHATTISGARH
10  11.0                   GOA
11  12.0               GUJARAT
12  13.0               HARYANA
13  14.0      HIMACHAL PRADESH
14  15.0     JAMMU AND KASHMIR
15  16.0             JHARKHAND
16  17.0             KARNATAKA
17  18.0                KERALA
18  19.0        MADHYA PRADESH
19  20.0           MAHARASHTRA
20  21.0               MANIPUR
21  22.0             MEGHALAYA
22  23.0               MIZORAM
23  24.0                ODISHA
24  25.0            PUDUCHERRY
25  26.0                PUNJAB
26  27.0             RAJASTHAN
27  28.0                SIKKIM
28  29.0            TAMIL NADU
29  30.0               TRIPURA
30  31.0         UTTAR PRADESH
31  32.0           UTTARAKHAND
32  33.0           WEST BENGAL
33   NaN                Total:

    Total households completed<br>person-days in range:
0                                                   0
1                                                   0
2                                                   0
3                                                   0
4                                             2167657
5                                            15312770
6                                             1306434
7                                             6278494
8                                            14238284
9                                            10266369
10                                                888
11                                            4073557
12                                             764031
13                                            2481693
14                                            3185442
15                                            5718850
16                                            8762640
17                                            4201247
18                                           16410723
19                                            6989516
20                                             623908
21                                            1765805
22                                             113283
23                                            9440698
24                                              78335
25                                            2166607
26                                           21695350
27                                             305705
28                                           25546784
29                                            3925447
30                                           23192734
31                                            2410149
32                                           12192773
33                                          205616173
    Sno.            State Name  \
0    1.0   ANDAMAN AND NICOBAR
1    2.0  DADRA & NAGAR HAVELI
2    3.0           DAMAN & DIU
3    4.0           LAKSHADWEEP
4    5.0              NAGALAND
5    6.0        ANDHRA PRADESH
6    7.0     ARUNACHAL PRADESH
7    8.0                 ASSAM
8    9.0                 BIHAR
9   10.0          CHHATTISGARH
10  11.0                   GOA
11  12.0               GUJARAT
12  13.0               HARYANA
13  14.0      HIMACHAL PRADESH
14  15.0     JAMMU AND KASHMIR
15  16.0             JHARKHAND
16  17.0             KARNATAKA
17  18.0                KERALA
18  19.0        MADHYA PRADESH
19  20.0           MAHARASHTRA
20  21.0               MANIPUR
21  22.0             MEGHALAYA
22  23.0               MIZORAM
23  24.0                ODISHA
24  25.0            PUDUCHERRY
25  26.0                PUNJAB
26  27.0             RAJASTHAN
27  28.0                SIKKIM
28  29.0            TAMIL NADU
29  30.0               TRIPURA
30  31.0         UTTAR PRADESH
31  32.0           UTTARAKHAND
32  33.0           WEST BENGAL
33   NaN                Total:

    Total households completed<br>person-days in range:
0                                                   0
1                                                   0
2                                                   0
3                                                   0
4                                             2077048
5                                            17141999
6                                              768231
7                                             5612071
8                                            14426072
9                                            10969710
10                                               1171
11                                            4302933
12                                             736032
13                                            2918436
14                                            4195992
15                                            5758102
16                                           10163014
17                                            5714907
18                                           18378906
19                                            6152481
20                                             253294
21                                            1911129
22                                             142527
23                                            8380235
24                                              24098
25                                            1873261
26                                           22962838
27                                             357376
28                                           26093259
29                                            3831158
30                                           23410359
31                                            2425412
32                                           18632007
33                                          219614058
    Sno.            State Name  \
0    1.0   ANDAMAN AND NICOBAR
1    2.0  DADRA & NAGAR HAVELI
2    3.0           DAMAN & DIU
3    4.0           LAKSHADWEEP
4    5.0              NAGALAND
5    6.0        ANDHRA PRADESH
6    7.0     ARUNACHAL PRADESH
7    8.0                 ASSAM
8    9.0                 BIHAR
9   10.0          CHHATTISGARH
10  11.0                   GOA
11  12.0               GUJARAT
12  13.0               HARYANA
13  14.0      HIMACHAL PRADESH
14  15.0     JAMMU AND KASHMIR
15  16.0             JHARKHAND
16  17.0             KARNATAKA
17  18.0                KERALA
18  19.0        MADHYA PRADESH
19  20.0           MAHARASHTRA
20  21.0               MANIPUR
21  22.0             MEGHALAYA
22  23.0               MIZORAM
23  24.0                ODISHA
24  25.0            PUDUCHERRY
25  26.0                PUNJAB
26  27.0             RAJASTHAN
27  28.0                SIKKIM
28  29.0            TAMIL NADU
29  30.0               TRIPURA
30  31.0         UTTAR PRADESH
31  32.0           UTTARAKHAND
32  33.0           WEST BENGAL
33   NaN                Total:

    Total households completed<br>person-days in range:
0                                                   0
1                                                   0
2                                                   0
3                                                   0
4                                              499260
5                                            17875979
6                                              555814
7                                             3049275
8                                            10970065
9                                             9632995
10                                                188
11                                            3815874
12                                             711668
13                                            2507516
14                                            3034104
15                                            3683839
16                                            9063016

DROP_DOWN 1

In [ ]:
data_1.rename(columns = {'Total households completed<br>person-days in range:':'Total households completed<br>person-days in range:1-10'}, inplace = True)

In [ ]:
data_1.head()

,Sno.,State Name,Total households completed<br>person-days in range:1-10,Total households completed<br>person-days in range:11-20,Total households completed<br>person-days in range:21-30,Total households completed<br>person-days in range:31-40,Total households completed<br>person-days in range:41-50,Total households completed<br>person-days in range:51-60,Total households completed<br>person-days in range:61-70,Total households completed<br>person-days in range:71-80,Total households completed<br>person-days in range:81-99,Total households completed<br>person-days in range:100,Total households completed<br>person-days in range:>100,Total households completed<br>person-days in range:>14
0,1.0,ANDAMAN AND NICOBAR,0,0,0,0,0,0,0,0,0,0,0,0
1,2.0,DADRA & NAGAR HAVELI,0,0,0,0,0,0,0,0,0,0,0,0
2,3.0,DAMAN & DIU,0,0,0,0,0,0,0,0,0,0,0,0
3,4.0,LAKSHADWEEP,0,0,0,0,0,0,0,0,0,0,0,0
4,5.0,NAGALAND,130300,510266,3047832,4373135,2167657,2077048,499260,80263,193829,0,0,12801612

In [ ]:
data_1.to_csv("dropdown_1.csv")

# drop down 2

In [ ]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
# check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
# # print(check_box_trail)
# ##for checkbox in check_box_trail:
#     checkbox.click()
# driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# for i in range (0,33):
#     i = str(i+1)
#     try:
#         driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
#         i=int(i)
#     except:
#         continue
#         i=int(i)
#     i=int(i)
    
for i in range (1,6):
    i = str(i+1)
    li=['18-30yrs','30-40yrs','40-50yrs','50-60yrs','>60yrs']
    try:
        
        check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[26:27]
        driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[4]').click()
        for checkbox in check_box_trail:
            checkbox.click()
        driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
        for j in range (0,33):
            j = str(j+1)
            try:
                driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+j+']/label').click() #inside state
                j=int(j)
            except:
                continue
                j=int(j)
        j=int(j)
        driver.find_element_by_xpath('//*[@id="DdlstTxtBox9"]/option['+i+']').click() #inside state
        i=int(i)
#         typeOf(i)
        driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
        driver.implicitly_wait(15)
        dfs = pd.read_html(driver.page_source)
        dfs2 = dfs[-1]
        if i==2:
            data_2=dfs2
        else:
            data_2[dfs2.columns[2]+li[i-2]]=dfs2.iloc[:,2]
                
                
        dfs2 = dfs[-1]
#                 dfs1.columns[3] = dfs[-1].dfs.loc[:,dfs.columns[2]]
        # dfs = dfs.T
        print(dfs2)
        sleep(3)
        driver.find_element_by_xpath('//*[@id="BtnBack"]').click() #inside state
        sleep(1)
#         driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click()
    except:
        continue    
#     i=int(i)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Driver [C:\Users\user\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

    Sno.            State Name  Total workers employed<br>in age group:
0    1.0   ANDAMAN AND NICOBAR                                        0
1    2.0  DADRA & NAGAR HAVELI                                        0
2    3.0           DAMAN & DIU                                        0
3    4.0           LAKSHADWEEP                                        0
4    5.0              NAGALAND                                    26936
5    6.0        ANDHRA PRADESH                                   360624
6    7.0     ARUNACHAL PRADESH                                    22444
7    8.0                 ASSAM                                   296772
8    9.0                 BIHAR                                   427409
9   10.0          CHHATTISGARH                                   333210
10  11.0                   GOA                                       10
11  12.0               GUJARAT                                   202973
12  13.0               HARYANA                                    31559
13  14.0      HIMACHAL PRADESH                                    45426
14  15.0     JAMMU AND KASHMIR                                   111745
15  16.0             JHARKHAND                                   238584
16  17.0             KARNATAKA                                   384990
17  18.0                KERALA                                    29112
18  19.0        MADHYA PRADESH                                   582310
19  20.0           MAHARASHTRA                                   208187
20  21.0               MANIPUR                                    38296
21  22.0             MEGHALAYA                                   103408
22  23.0               MIZORAM                                    12065
23  24.0                ODISHA                                   169568
24  25.0            PUDUCHERRY                                     1151
25  26.0                PUNJAB                                    59792
26  27.0             RAJASTHAN                                   809022
27  28.0                SIKKIM                                     4345
28  29.0            TAMIL NADU                                   177913
29  30.0               TRIPURA                                    35889
30  31.0         UTTAR PRADESH                                   459039
31  32.0           UTTARAKHAND                                    41586
32  33.0           WEST BENGAL                                   338930
33   NaN                Total:                                  5553295
    Sno.            State Name  Total workers employed<br>in age group:
0    1.0   ANDAMAN AND NICOBAR                                        0
1    2.0  DADRA & NAGAR HAVELI                                        0
2    3.0           DAMAN & DIU                                        0
3    4.0           LAKSHADWEEP                                        0
4    5.0              NAGALAND                                   105031
5    6.0        ANDHRA PRADESH                                  1484521
6    7.0     ARUNACHAL PRADESH                                    45153
7    8.0                 ASSAM                                   845349
8    9.0                 BIHAR                                  1150904
9   10.0          CHHATTISGARH                                  1794268
10  11.0                   GOA                                      184
11  12.0               GUJARAT                                   467669
12  13.0               HARYANA                                   101017
13  14.0      HIMACHAL PRADESH                                   204590
14  15.0     JAMMU AND KASHMIR                                   313373
15  16.0             JHARKHAND                                   558372
16  17.0             KARNATAKA                                  1174837
17  18.0                KERALA                                   240537
18  19.0        MADHYA PRADESH                                  2221572
19  20.0           MAHARASHTRA                                  1119507
20  21.0               MANIPUR                                   142210
21  22.0             MEGHALAYA                                   213615
22  23.0               MIZORAM                                    58872
23  24.0                ODISHA                                   946624
24  25.0            PUDUCHERRY                                     8613
25  26.0                PUNJAB                                   198654
26  27.0             RAJASTHAN                                  2416217
27  28.0                SIKKIM                                    22466
28  29.0            TAMIL NADU                                  1577441
29  30.0               TRIPURA                                   233925
30  31.0         UTTAR PRADESH                                  1929247
31  32.0           UTTARAKHAND                                   173816
32  33.0           WEST BENGAL                                  2182432
33   NaN                Total:                                 21931016
    Sno.            State Name  Total workers employed<br>in age group:
0    1.0   ANDAMAN AND NICOBAR                                        0
1    2.0  DADRA & NAGAR HAVELI                                        0
2    3.0           DAMAN & DIU                                        0
3    4.0           LAKSHADWEEP                                        0
4    5.0              NAGALAND                                   109336
5    6.0        ANDHRA PRADESH                                  1952369
6    7.0     ARUNACHAL PRADESH                                    44945
7    8.0                 ASSAM                                   783808
8    9.0                 BIHAR                                  1037533
9   10.0          CHHATTISGARH                                  1337562
10  11.0                   GOA                                      458
11  12.0               GUJARAT                                   449811
12  13.0               HARYANA                                   104604
13  14.0      HIMACHAL PRADESH                                   211811
14  15.0     JAMMU AND KASHMIR                                   299800
15  16.0             JHARKHAND                                   487220
16  17.0             KARNATAKA                                  1171943
17  18.0                KERALA                                   494367
18  19.0        MADHYA PRADESH                                  1913329
19  20.0           MAHARASHTRA                                  1010663
20  21.0               MANIPUR                                   157069
21  22.0             MEGHALAYA                                   160772
22  23.0               MIZORAM                                    58256
23  24.0                ODISHA                                  1076620
24  25.0            PUDUCHERRY                                    10699
25  26.0                PUNJAB                                   238548
26  27.0             RAJASTHAN                                  2008577
27  28.0                SIKKIM                                    20252
28  29.0            TAMIL NADU                                  2151632
29  30.0               TRIPURA                                   214764
30  31.0         UTTAR PRADESH                                  2171409
31  32.0           UTTARAKHAND                                   194555
32  33.0           WEST BENGAL                                  2260568
33   NaN                Total:                                 22133280
    Sno.            State Name  Total workers employed<br>in age group:
0    1.0   ANDAMAN AND NICOBAR                                        0
1    2.0  DADRA & NAGAR HAVELI                                        0
2    3.0           DAMAN & DIU                                        0
3    4.0           LAKSHADWEEP                                        0
4    5.0              NAGALAND                                    91757
5    6.0        ANDHRA PRADESH                                  1755657
6    7.0     ARUNACHAL PRADESH                                    34587
7    8.0                 ASSAM                                   403084
8    9.0                 BIHAR                                   562627
9   10.0          CHHATTISGARH                                   778532
10  11.0                   GOA                                      323
11  12.0               GUJARAT                                   286825
12  13.0               HARYANA                                    59692
13  14.0      HIMACHAL PRADESH                                   145921
14  15.0     JAMMU AND KASHMIR                                   175988
15  16.0             JHARKHAND                                   256642
16  17.0             KARNATAKA                                   838756
17  18.0                KERALA                                   507524
18  19.0        MADHYA PRADESH                                  1221017
19  20.0           MAHARASHTRA                                   644837
20  21.0               MANIPUR                                   123199
21  22.0             MEGHALAYA                                   116518
22  23.0               MIZORAM                                    35837
23  24.0                ODISHA                                   735242
24  25.0            PUDUCHERRY                                     8429
25  26.0                PUNJAB                                   177784
26  27.0             RAJASTHAN                                  1367319
27  28.0                SIKKIM                                    13411
28  29.0            TAMIL NADU                                  1537767
29  30.0               TRIPURA                                   149793
30  31.0         UTTAR PRADESH                                  1145113
31  32.0           UTTARAKHAND                                   130165
32  33.0           WEST BENGAL                                  1677776
33   NaN                Total:                                 14982122
    Sno.            State Name  Total workers employed<br>in age group:
0    1.0   ANDAMAN AND NICOBAR                                        0
1    2.0  DADRA & NAGAR HAVELI                                        0
2    3.0           DAMAN & DIU                                        0
3    4.0           LAKSHADWEEP                                        0
4    5.0              NAGALAND                                    83824
5    6.0        ANDHRA PRADESH                                  1360328
6    7.0     ARUNACHAL PRADESH                                    22019
7    8.0                 ASSAM                                   140928
8    9.0                 BIHAR                                   203889
9   10.0          CHHATTISGARH                                   325360
10  11.0                   GOA                                      186
11  12.0               GUJARAT                                   108561
12  13.0               HARYANA                                    29907
13  14.0      HIMACHAL PRADESH                                   127897
14  15.0     JAMMU AND KASHMIR                                    79942
15  16.0             JHARKHAND                                    82028
16  17.0             KARNATAKA                                   360182
17  18.0                KERALA                                   436644
18  19.0        MADHYA PRADESH                                   727991
19  20.0           MAHARASHTRA                                   293113
20  21.0               MANIPUR                                   109579
21  22.0             MEGHALAYA                                    85217
22  23.0               MIZORAM                                    37653
23  24.0                ODISHA                                   436065
24  25.0            PUDUCHERRY                                     7039
25  26.0                PUNJAB                                   149500
26  27.0             RAJASTHAN                                   933197
27  28.0                SIKKIM                                    10658
28  29.0            TAMIL NADU                                  1079963
29  30.0               TRIPURA                                   104805
30  31.0         UTTAR PRADESH                                   438251
31  32.0           UTTARAKHAND                                    97044
32  33.0           WEST BENGAL                                   982408
33   NaN                Total:                                  8854178

In [ ]:
data_2.head()

,Sno.,State Name,Total workers employed<br>in age group:,Total workers employed<br>in age group:30-40yrs,Total workers employed<br>in age group:40-50yrs,Total workers employed<br>in age group:50-60yrs,Total workers employed<br>in age group:>60yrs
0,1.0,ANDAMAN AND NICOBAR,0,0,0,0,0
1,2.0,DADRA & NAGAR HAVELI,0,0,0,0,0
2,3.0,DAMAN & DIU,0,0,0,0,0
3,4.0,LAKSHADWEEP,0,0,0,0,0
4,5.0,NAGALAND,26936,105031,109336,91757,83824

In [ ]:
data_2.to_csv("dropdown_2.csv")

# DROPDOWN 3

In [ ]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
# check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
# # print(check_box_trail)
# ##for checkbox in check_box_trail:
#     checkbox.click()
# driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# for i in range (0,33):
#     i = str(i+1)
#     try:
#         driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
#         i=int(i)
#     except:
#         continue
#         i=int(i)
#     i=int(i)
    
for i in range (1,13):
    i = str(i+1)
    try:
        
        check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[27:28]
        driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[4]').click()
        for checkbox in check_box_trail:
            checkbox.click()
        driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
        for j in range (0,33):
            j = str(j+1)
            try:
                driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+j+']/label').click() #inside state
                j=int(j)
            except:
                continue
                j=int(j)
        j=int(j)
        driver.find_element_by_xpath('//*[@id="DdlstTxtBox5"]/option['+i+']').click() #inside state
        i=int(i)
#         typeOf(i)
        driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
        driver.implicitly_wait(15)
        dfs = pd.read_html(driver.page_source)
        dfs2 = dfs[-1]
        if i==2:
            data_3=dfs2
        else:
            data_3[dfs2.columns[2]]=dfs2.iloc[:,2]
                
                
        dfs2 = dfs[-1]
#                 dfs1.columns[3] = dfs[-1].dfs.loc[:,dfs.columns[2]]
        # dfs = dfs.T
        print(dfs2)
        sleep(5)
        driver.find_element_by_xpath('//*[@id="BtnBack"]').click() #inside state
        sleep(2)
#         driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click()
    except:
        continue    
#     i=int(i)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Driver [C:\Users\user\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

    Sno.            State Name  Total households demanded<br>work(Apr)
0    1.0   ANDAMAN AND NICOBAR                                       0
1    2.0  DADRA & NAGAR HAVELI                                       0
2    3.0           DAMAN & DIU                                       0
3    4.0           LAKSHADWEEP                                       0
4    5.0              NAGALAND                                  307377
5    6.0        ANDHRA PRADESH                                 3250192
6    7.0     ARUNACHAL PRADESH                                   21284
7    8.0                 ASSAM                                  285077
8    9.0                 BIHAR                                  890667
9   10.0          CHHATTISGARH                                 1369169
10  11.0                   GOA                                     108
11  12.0               GUJARAT                                  214686
12  13.0               HARYANA                                   32417
13  14.0      HIMACHAL PRADESH                                  168222
14  15.0     JAMMU AND KASHMIR                                   60991
15  16.0             JHARKHAND                                  498645
16  17.0             KARNATAKA                                  318747
17  18.0                KERALA                                  214249
18  19.0        MADHYA PRADESH                                  940189
19  20.0           MAHARASHTRA                                  763860
20  21.0               MANIPUR                                   10335
21  22.0             MEGHALAYA                                   41551
22  23.0               MIZORAM                                  188190
23  24.0                ODISHA                                  641658
24  25.0            PUDUCHERRY                                    2187
25  26.0                PUNJAB                                  106525
26  27.0             RAJASTHAN                                 1624281
27  28.0                SIKKIM                                   20676
28  29.0            TAMIL NADU                                  677364
29  30.0               TRIPURA                                   39393
30  31.0         UTTAR PRADESH                                 1009257
31  32.0           UTTARAKHAND                                  144610
32  33.0           WEST BENGAL                                  797624
33   NaN                Total:                                14639531
    Sno.            State Name  Total households demanded<br>work(May)
0    1.0   ANDAMAN AND NICOBAR                                       0
1    2.0  DADRA & NAGAR HAVELI                                       0
2    3.0           DAMAN & DIU                                       0
3    4.0           LAKSHADWEEP                                       0
4    5.0              NAGALAND                                  153147
5    6.0        ANDHRA PRADESH                                 3625164
6    7.0     ARUNACHAL PRADESH                                   21878
7    8.0                 ASSAM                                  413874
8    9.0                 BIHAR                                 1365934
9   10.0          CHHATTISGARH                                 1605436
10  11.0                   GOA                                     152
11  12.0               GUJARAT                                  467133
12  13.0               HARYANA                                   75846
13  14.0      HIMACHAL PRADESH                                  211151
14  15.0     JAMMU AND KASHMIR                                   70212
15  16.0             JHARKHAND                                  583030
16  17.0             KARNATAKA                                  373524
17  18.0                KERALA                                  425608
18  19.0        MADHYA PRADESH                                 1188416
19  20.0           MAHARASHTRA                                  861301
20  21.0               MANIPUR                                    2208
21  22.0             MEGHALAYA                                   50533
22  23.0               MIZORAM                                  188615
23  24.0                ODISHA                                  814216
24  25.0            PUDUCHERRY                                    3399
25  26.0                PUNJAB                                  228077
26  27.0             RAJASTHAN                                 1540606
27  28.0                SIKKIM                                   16586
28  29.0            TAMIL NADU                                  660692
29  30.0               TRIPURA                                  182622
30  31.0         UTTAR PRADESH                                 2021103
31  32.0           UTTARAKHAND                                  149932
32  33.0           WEST BENGAL                                 1002249
33   NaN                Total:                                18302644
    Sno.            State Name  Total households demanded<br>work(Jun)
0    1.0   ANDAMAN AND NICOBAR                                       0
1    2.0  DADRA & NAGAR HAVELI                                       0
2    3.0           DAMAN & DIU                                       0
3    4.0           LAKSHADWEEP                                       0
4    5.0              NAGALAND                                   94468
5    6.0        ANDHRA PRADESH                                 3454922
6    7.0     ARUNACHAL PRADESH                                   30579
7    8.0                 ASSAM                                  420732
8    9.0                 BIHAR                                 1491782
9   10.0          CHHATTISGARH                                 1252200
10  11.0                   GOA                                     200
11  12.0               GUJARAT                                  431412
12  13.0               HARYANA                                   72734
13  14.0      HIMACHAL PRADESH                                  221206
14  15.0     JAMMU AND KASHMIR                                   60043
15  16.0             JHARKHAND                                  616225
16  17.0             KARNATAKA                                  452589
17  18.0                KERALA                                  604585
18  19.0        MADHYA PRADESH                                 1746741
19  20.0           MAHARASHTRA                                  664556
20  21.0               MANIPUR                                     645
21  22.0             MEGHALAYA                                   75541
22  23.0               MIZORAM                                  188834
23  24.0                ODISHA                                  754546
24  25.0            PUDUCHERRY                                   14504
25  26.0                PUNJAB                                  227851
26  27.0             RAJASTHAN                                 2407408
27  28.0                SIKKIM                                   16555
28  29.0            TAMIL NADU                                 1165290
29  30.0               TRIPURA                                  266626
30  31.0         UTTAR PRADESH                                 2279975
31  32.0           UTTARAKHAND                                  139713
32  33.0           WEST BENGAL                                 2018368
33   NaN                Total:                                21170830
    Sno.            State Name  Total households demanded<br>work(Jul)
0    1.0   ANDAMAN AND NICOBAR                                       0
1    2.0  DADRA & NAGAR HAVELI                                       0
2    3.0           DAMAN & DIU                                       0
3    4.0           LAKSHADWEEP                                       0
4    5.0              NAGALAND                                  123405
5    6.0        ANDHRA PRADESH                                 2612215
6    7.0     ARUNACHAL PRADESH                                   21787
7    8.0                 ASSAM                                  300627
8    9.0                 BIHAR                                  630344
9   10.0          CHHATTISGARH                                  270493
10  11.0                   GOA                                      94
11  12.0               GUJARAT                                  164230
12  13.0               HARYANA                                   47517
13  14.0      HIMACHAL PRADESH                                  185536
14  15.0     JAMMU AND KASHMIR                                   62185
15  16.0             JHARKHAND                                  551088
16  17.0             KARNATAKA                                  516496
17  18.0                KERALA                                  837460
18  19.0        MADHYA PRADESH                                 1437681
19  20.0           MAHARASHTRA                                  362966
20  21.0               MANIPUR                                  183285
21  22.0             MEGHALAYA                                  112610
22  23.0               MIZORAM                                  177581
23  24.0                ODISHA                                  489815
24  25.0            PUDUCHERRY                                   22524
25  26.0                PUNJAB                                  153541
26  27.0             RAJASTHAN                                 1837110
27  28.0                SIKKIM                                   25526
28  29.0            TAMIL NADU                                 2071754
29  30.0               TRIPURA                                  253340
30  31.0         UTTAR PRADESH                                 1669883
31  32.0           UTTARAKHAND                                  125790
32  33.0           WEST BENGAL                                 1870366
33   NaN                Total:                                17117249
    Sno.            State Name  Total households demanded<br>work(Aug)
0    1.0   ANDAMAN AND NICOBAR                                       0
1    2.0  DADRA & NAGAR HAVELI                                       0
2    3.0           DAMAN & DIU                                       0
3    4.0           LAKSHADWEEP                                       0
4    5.0              NAGALAND                                   97273
5    6.0        ANDHRA PRADESH                                 1665482
6    7.0     ARUNACHAL PRADESH                                   25087
7    8.0                 ASSAM                                  363637
8    9.0                 BIHAR                                  375818
9   10.0          CHHATTISGARH                                  264456
10  11.0                   GOA                                     110
11  12.0               GUJARAT                                  119904
12  13.0               HARYANA                                   52423
13  14.0      HIMACHAL PRADESH                                  137954
14  15.0     JAMMU AND KASHMIR                                  110843
15  16.0             JHARKHAND                                  411676
16  17.0             KARNATAKA                                  536455
17  18.0                KERALA                                  639763
18  19.0        MADHYA PRADESH                                 1083709
19  20.0           MAHARASHTRA                                  285876
20  21.0               MANIPUR                                  230957
21  22.0             MEGHALAYA                                  124138
22  23.0               MIZORAM                                  123345
23  24.0                ODISHA                                  463577
24  25.0            PUDUCHERRY                                   16433
25  26.0                PUNJAB                                  169723
26  27.0             RAJASTHAN                                 1286511
27  28.0                SIKKIM                                   27411
28  29.0            TAMIL NADU                                 3374348
29  30.0               TRIPURA                                  270899
30  31.0         UTTAR PRADESH                                  993437
31  32.0           UTTARAKHAND                                  114946
32  33.0           WEST BENGAL                                 1485463
33   NaN                Total:                                14851654
    Sno.            State Name  Total households demanded<br>work(Sep)
0    1.0   ANDAMAN AND NICOBAR                                       0
1    2.0  DADRA & NAGAR HAVELI                                       0
2    3.0           DAMAN & DIU                                       0
3    4.0           LAKSHADWEEP                                       0
4    5.0              NAGALAND                                   60170
5    6.0        ANDHRA PRADESH                                 1353802
6    7.0     ARUNACHAL PRADESH                                   29642
7    8.0                 ASSAM                                  367667
8    9.0                 BIHAR                                  348531
9   10.0          CHHATTISGARH                                  272272
10  11.0                   GOA                                     249
11  12.0               GUJARAT                                  105851
12  13.0               HARYANA                                   55727
13  14.0      HIMACHAL PRADESH                                  148657
14  15.0     JAMMU AND KASHMIR                                  123598
15  16.0             JHARKHAND                                  371446
16  17.0             KARNATAKA                                  531329
17  18.0                KERALA                                  886447
18  19.0        MADHYA PRADESH                                 1106603
19  20.0           MAHARASHTRA                                  265897
20  21.0               MANIPUR                                   51900
21  22.0             MEGHALAYA                                  137488
22  23.0               MIZORAM                                  172742
23  24.0                ODISHA                                  397443
24  25.0            PUDUCHERRY                                    6360
25  26.0                PUNJAB                                  165438
26  27.0             RAJASTHAN                                 1042296
27  28.0                SIKKIM                                   19597
28  29.0            TAMIL NADU                                 3320040
29  30.0               TRIPURA                                  400285
30  31.0         UTTAR PRADESH                                  721282
31  32.0           UTTARAKHAND                                  106226
32  33.0           WEST BENGAL                                 1676079
33   NaN                Total:                                14245064
    Sno.            State Name  Total households demanded<br>work(Oct)
0    1.0   ANDAMAN AND NICOBAR                                       0
1    2.0  DADRA & NAGAR HAVELI                                       0
2    3.0           DAMAN & DIU                                       0
3    4.0           LAKSHADWEEP                                       0
4    5.0              NAGALAND                                  202844
5    6.0        ANDHRA PRADESH                                 1315609
6    7.0     ARUNACHAL PRADESH                                   44147
7    8.0                 ASSAM                                  296702
8    9.0                 BIHAR                                  498456
9   10.0          CHHATTISGARH                                  401619
10  11.0                   GOA                                     198
11  12.0               GUJARAT                                  138366
12  13.0               HARYANA                                   45780
13  14.0      HIMACHAL PRADESH                                  148979
14  15.0     JAMMU AND KASHMIR                                  162250
15  16.0             JHARKHAND                                  427667
16  17.0             KARNATAKA                                  664014
17  18.0                KERALA                                 1006178
18  19.0        MADHYA PRADESH                                 1550518
19  20.0           MAHARASHTRA                                  298232
20  21.0               MANIPUR                                  229865
21  22.0             MEGHALAYA                                  181301
22  23.0               MIZORAM                                  182336
23  24.0                ODISHA                                  435970
24  25.0            PUDUCHERRY                                    7742
25  26.0                PUNJAB                                  219925
26  27.0             RAJASTHAN                                 1021791
27  28.0                SIKKIM                                   12237
28  29.0            TAMIL NADU                                 3069880
29  30.0               TRIPURA                                  124789
30  31.0         UTTAR PRADESH                                 1199393
31  32.0           UTTARAKHAND                                  119935
32  33.0           WEST BENGAL                                 1876092
33   NaN                Total:                                15882815
    Sno.            State Name  Total households demanded<br>work(Nov)
0    1.0   ANDAMAN AND NICOBAR                                       0
1    2.0  DADRA & NAGAR HAVELI                                       0
2    3.0           DAMAN & DIU                                       0
3    4.0           LAKSHADWEEP                                       0
4    5.0              NAGALAND                                  235881
5    6.0        ANDHRA PRADESH                                 1447614
6    7.0     ARUNACHAL PRADESH                                   35454
7    8.0                 ASSAM                                  287934
8    9.0                 BIHAR                                  704160
9   10.0          CHHATTISGARH                                  382564
10  11.0                   GOA                                     184
11  12.0               GUJARAT                                  125812
12  13.0               HARYANA                                   53552
13  14.0      HIMACHAL PRADESH                                  209650
14  15.0     JAMMU AND KASHMIR                                  109660
15  16.0             JHARKHAND                                  232738
16  17.0             KARNATAKA                                  699896
17  18.0                KERALA                                 1010147
18  19.0        MADHYA PRADESH                                 1178953
19  20.0           MAHARASHTRA                                  284921
20  21.0               MANIPUR                                  231112
21  22.0             MEGHALAYA                                  194749
22  23.0               MIZORAM                                  166208
23  24.0                ODISHA                                  350532
24  25.0            PUDUCHERRY                                    1422
25  26.0                PUNJAB                                  281637
26  27.0             RAJASTHAN                                 1274677
27  28.0                SIKKIM                                   14807
28  29.0            TAMIL NADU                                 3287084
29  30.0               TRIPURA                                  280425
30  31.0         UTTAR PRADESH                                 1355639
31  32.0           UTTARAKHAND                                  113309
32  33.0           WEST BENGAL                                 2229345
33   NaN                Total:                                16780066
    Sno.            State Name  Total households demanded<br>work(Dec)

In [ ]:
data_3.head()

,Sno.,State Name,Total households demanded<br>work(Apr),Total households demanded<br>work(May),Total households demanded<br>work(Jun),Total households demanded<br>work(Jul),Total households demanded<br>work(Aug),Total households demanded<br>work(Sep),Total households demanded<br>work(Oct),Total households demanded<br>work(Nov),Total households demanded<br>work(Dec),Total households demanded<br>work(Jan),Total households demanded<br>work(Feb),Total households demanded<br>work(Mar)
0,1.0,ANDAMAN AND NICOBAR,0,0,0,0,0,0,0,0,0,0,0,0
1,2.0,DADRA & NAGAR HAVELI,0,0,0,0,0,0,0,0,0,0,0,0
2,3.0,DAMAN & DIU,0,0,0,0,0,0,0,0,0,0,0,0
3,4.0,LAKSHADWEEP,0,0,0,0,0,0,0,0,0,0,0,0
4,5.0,NAGALAND,307377,153147,94468,123405,97273,60170,202844,235881,174789,234677,248206,188353

In [ ]:
data_3.to_csv("dropdown_3.csv")

# Dropdown 4

In [ ]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
# check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
# # print(check_box_trail)
# ##for checkbox in check_box_trail:
#     checkbox.click()
# driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# for i in range (0,33):
#     i = str(i+1)
#     try:
#         driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
#         i=int(i)
#     except:
#         continue
#         i=int(i)
#     i=int(i)
    
for i in range (1,13):
    i = str(i+1)
    try:
        
        check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[28:29]
        driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[4]').click()
        for checkbox in check_box_trail:
            checkbox.click()
        driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
        for j in range (0,33):
            j = str(j+1)
            try:
                driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+j+']/label').click() #inside state
                j=int(j)
            except:
                continue
                j=int(j)
        j=int(j)
        driver.find_element_by_xpath('//*[@id="DdlstTxtBox6"]/option['+i+']').click() #inside state
        i=int(i)
#         typeOf(i)
        driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
        driver.implicitly_wait(15)
        dfs = pd.read_html(driver.page_source)
        dfs2 = dfs[-1]
        if i==2:
            data_4=dfs2
        else:
            data_4[dfs2.columns[2]]=dfs2.iloc[:,2]
                
                
        dfs2 = dfs[-1]
#                 dfs1.columns[3] = dfs[-1].dfs.loc[:,dfs.columns[2]]
        # dfs = dfs.T
        print(dfs2)
        sleep(5)
        driver.find_element_by_xpath('//*[@id="BtnBack"]').click() #inside state
        sleep(2)
#         driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click()
    except:
        continue    
#     i=int(i)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Driver [C:\Users\user\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

    Sno.            State Name  Total persons demanded work(Apr)
0    1.0   ANDAMAN AND NICOBAR                                 0
1    2.0  DADRA & NAGAR HAVELI                                 0
2    3.0           DAMAN & DIU                                 0
3    4.0           LAKSHADWEEP                                 0
4    5.0              NAGALAND                            307548
5    6.0        ANDHRA PRADESH                           5397333
6    7.0     ARUNACHAL PRADESH                             22824
7    8.0                 ASSAM                            395009
8    9.0                 BIHAR                           1032392
9   10.0          CHHATTISGARH                           2471936
10  11.0                   GOA                               112
11  12.0               GUJARAT                            320384
12  13.0               HARYANA                             43585
13  14.0      HIMACHAL PRADESH                            201854
14  15.0     JAMMU AND KASHMIR                             82115
15  16.0             JHARKHAND                            630644
16  17.0             KARNATAKA                            573080
17  18.0                KERALA                            233117
18  19.0        MADHYA PRADESH                           1455990
19  20.0           MAHARASHTRA                           1433690
20  21.0               MANIPUR                             10667
21  22.0             MEGHALAYA                             46624
22  23.0               MIZORAM                            188196
23  24.0                ODISHA                            982458
24  25.0            PUDUCHERRY                              2346
25  26.0                PUNJAB                            123514
26  27.0             RAJASTHAN                           2179389
27  28.0                SIKKIM                             22605
28  29.0            TAMIL NADU                            728515
29  30.0               TRIPURA                             42519
30  31.0         UTTAR PRADESH                           1204002
31  32.0           UTTARAKHAND                            181240
32  33.0           WEST BENGAL                           1055737
33   NaN                Total:                          21369425
    Sno.            State Name  Total persons demanded work(May)
0    1.0   ANDAMAN AND NICOBAR                                 0
1    2.0  DADRA & NAGAR HAVELI                                 0
2    3.0           DAMAN & DIU                                 0
3    4.0           LAKSHADWEEP                                 0
4    5.0              NAGALAND                            153456
5    6.0        ANDHRA PRADESH                           6027273
6    7.0     ARUNACHAL PRADESH                             23234
7    8.0                 ASSAM                            580149
8    9.0                 BIHAR                           1584371
9   10.0          CHHATTISGARH                           2941077
10  11.0                   GOA                               154
11  12.0               GUJARAT                            772870
12  13.0               HARYANA                            108405
13  14.0      HIMACHAL PRADESH                            256310
14  15.0     JAMMU AND KASHMIR                             94549
15  16.0             JHARKHAND                            739109
16  17.0             KARNATAKA                            674347
17  18.0                KERALA                            462076
18  19.0        MADHYA PRADESH                           1870328
19  20.0           MAHARASHTRA                           1623545
20  21.0               MANIPUR                              2306
21  22.0             MEGHALAYA                             58562
22  23.0               MIZORAM                            188615
23  24.0                ODISHA                           1266476
24  25.0            PUDUCHERRY                              3622
25  26.0                PUNJAB                            268468
26  27.0             RAJASTHAN                           2043679
27  28.0                SIKKIM                             18156
28  29.0            TAMIL NADU                            712958
29  30.0               TRIPURA                            195143
30  31.0         UTTAR PRADESH                           2380706
31  32.0           UTTARAKHAND                            184334
32  33.0           WEST BENGAL                           1342165
33   NaN                Total:                          26576443
    Sno.            State Name  Total persons demanded work(Jun)
0    1.0   ANDAMAN AND NICOBAR                                 0
1    2.0  DADRA & NAGAR HAVELI                                 0
2    3.0           DAMAN & DIU                                 0
3    4.0           LAKSHADWEEP                                 0
4    5.0              NAGALAND                             94658
5    6.0        ANDHRA PRADESH                           5684621
6    7.0     ARUNACHAL PRADESH                             30775
7    8.0                 ASSAM                            599654
8    9.0                 BIHAR                           1722177
9   10.0          CHHATTISGARH                           2247078
10  11.0                   GOA                               203
11  12.0               GUJARAT                            710680
12  13.0               HARYANA                            101582
13  14.0      HIMACHAL PRADESH                            264477
14  15.0     JAMMU AND KASHMIR                             79138
15  16.0             JHARKHAND                            774882
16  17.0             KARNATAKA                            824272
17  18.0                KERALA                            657698
18  19.0        MADHYA PRADESH                           2828680
19  20.0           MAHARASHTRA                           1187748
20  21.0               MANIPUR                               651
21  22.0             MEGHALAYA                             93042
22  23.0               MIZORAM                            188837
23  24.0                ODISHA                           1160248
24  25.0            PUDUCHERRY                             15527
25  26.0                PUNJAB                            266305
26  27.0             RAJASTHAN                           3229400
27  28.0                SIKKIM                             18091
28  29.0            TAMIL NADU                           1244519
29  30.0               TRIPURA                            285121
30  31.0         UTTAR PRADESH                           2678437
31  32.0           UTTARAKHAND                            169852
32  33.0           WEST BENGAL                           2784646
33   NaN                Total:                          29942999
    Sno.            State Name  Total persons demanded work(Jul)
0    1.0   ANDAMAN AND NICOBAR                                 0
1    2.0  DADRA & NAGAR HAVELI                                 0
2    3.0           DAMAN & DIU                                 0
3    4.0           LAKSHADWEEP                                 0
4    5.0              NAGALAND                            123782
5    6.0        ANDHRA PRADESH                           4202448
6    7.0     ARUNACHAL PRADESH                             22244
7    8.0                 ASSAM                            398494
8    9.0                 BIHAR                            695216
9   10.0          CHHATTISGARH                            439370
10  11.0                   GOA                                95
11  12.0               GUJARAT                            234969
12  13.0               HARYANA                             63372
13  14.0      HIMACHAL PRADESH                            223461
14  15.0     JAMMU AND KASHMIR                             79900
15  16.0             JHARKHAND                            683685
16  17.0             KARNATAKA                            933700
17  18.0                KERALA                            913627
18  19.0        MADHYA PRADESH                           2256443
19  20.0           MAHARASHTRA                            585199
20  21.0               MANIPUR                            185811
21  22.0             MEGHALAYA                            143355
22  23.0               MIZORAM                            177581
23  24.0                ODISHA                            716668
24  25.0            PUDUCHERRY                             24581
25  26.0                PUNJAB                            174931
26  27.0             RAJASTHAN                           2434413
27  28.0                SIKKIM                             27716
28  29.0            TAMIL NADU                           2234400
29  30.0               TRIPURA                            274447
30  31.0         UTTAR PRADESH                           1946123
31  32.0           UTTARAKHAND                            152142
32  33.0           WEST BENGAL                           2575450
33   NaN                Total:                          22923623
    Sno.            State Name  Total persons demanded work(Aug)
0    1.0   ANDAMAN AND NICOBAR                                 0
1    2.0  DADRA & NAGAR HAVELI                                 0
2    3.0           DAMAN & DIU                                 0
3    4.0           LAKSHADWEEP                                 0
4    5.0              NAGALAND                             97695
5    6.0        ANDHRA PRADESH                           2630717
6    7.0     ARUNACHAL PRADESH                             25286
7    8.0                 ASSAM                            496184
8    9.0                 BIHAR                            412884
9   10.0          CHHATTISGARH                            440989
10  11.0                   GOA                               112
11  12.0               GUJARAT                            164817
12  13.0               HARYANA                             71819
13  14.0      HIMACHAL PRADESH                            162991
14  15.0     JAMMU AND KASHMIR                            144122
15  16.0             JHARKHAND                            509569
16  17.0             KARNATAKA                            951476
17  18.0                KERALA                            694956
18  19.0        MADHYA PRADESH                           1675746
19  20.0           MAHARASHTRA                            453190
20  21.0               MANIPUR                            237284
21  22.0             MEGHALAYA                            157146
22  23.0               MIZORAM                            123344
23  24.0                ODISHA                            660560
24  25.0            PUDUCHERRY                             17659
25  26.0                PUNJAB                            194947
26  27.0             RAJASTHAN                           1721101
27  28.0                SIKKIM                             29589
28  29.0            TAMIL NADU                           3721349
29  30.0               TRIPURA                            297135
30  31.0         UTTAR PRADESH                           1136072
31  32.0           UTTARAKHAND                            137904
32  33.0           WEST BENGAL                           2036640
33   NaN                Total:                          19403283
    Sno.            State Name  Total persons demanded work(Sep)
0    1.0   ANDAMAN AND NICOBAR                                 0
1    2.0  DADRA & NAGAR HAVELI                                 0
2    3.0           DAMAN & DIU                                 0
3    4.0           LAKSHADWEEP                                 0
4    5.0              NAGALAND                             60208
5    6.0        ANDHRA PRADESH                           2166313
6    7.0     ARUNACHAL PRADESH                             30288
7    8.0                 ASSAM                            476377
8    9.0                 BIHAR                            382694
9   10.0          CHHATTISGARH                            449889
10  11.0                   GOA                               252
11  12.0               GUJARAT                            146141
12  13.0               HARYANA                             77643
13  14.0      HIMACHAL PRADESH                            174234
14  15.0     JAMMU AND KASHMIR                            167350
15  16.0             JHARKHAND                            457222
16  17.0             KARNATAKA                            925797
17  18.0                KERALA                            967367
18  19.0        MADHYA PRADESH                           1693056
19  20.0           MAHARASHTRA                            416935
20  21.0               MANIPUR                             52648
21  22.0             MEGHALAYA                            172124
22  23.0               MIZORAM                            172741
23  24.0                ODISHA                            558653
24  25.0            PUDUCHERRY                              6790
25  26.0                PUNJAB                            191686
26  27.0             RAJASTHAN                           1367107
27  28.0                SIKKIM                             20998
28  29.0            TAMIL NADU                           3656456
29  30.0               TRIPURA                            451241
30  31.0         UTTAR PRADESH                            830189
31  32.0           UTTARAKHAND                            127761
32  33.0           WEST BENGAL                           2312016
33   NaN                Total:                          18512176
    Sno.            State Name  Total persons demanded work(Oct)
0    1.0   ANDAMAN AND NICOBAR                                 0
1    2.0  DADRA & NAGAR HAVELI                                 0
2    3.0           DAMAN & DIU                                 0
3    4.0           LAKSHADWEEP                                 0
4    5.0              NAGALAND                            202922
5    6.0        ANDHRA PRADESH                           2098141
6    7.0     ARUNACHAL PRADESH                             44526
7    8.0                 ASSAM                            380366
8    9.0                 BIHAR                            545832
9   10.0          CHHATTISGARH                            678344
10  11.0                   GOA                               201
11  12.0               GUJARAT                            193294
12  13.0               HARYANA                             60887
13  14.0      HIMACHAL PRADESH                            172471
14  15.0     JAMMU AND KASHMIR                            225941
15  16.0             JHARKHAND                            524630
16  17.0             KARNATAKA                           1141613
17  18.0                KERALA                           1102519
18  19.0        MADHYA PRADESH                           2396262
19  20.0           MAHARASHTRA                            475335
20  21.0               MANIPUR                            233068
21  22.0             MEGHALAYA                            231226
22  23.0               MIZORAM                            182336
23  24.0                ODISHA                            620018
24  25.0            PUDUCHERRY                              8047
25  26.0                PUNJAB                            260061
26  27.0             RAJASTHAN                           1361015
27  28.0                SIKKIM                             12736
28  29.0            TAMIL NADU                           3334330
29  30.0               TRIPURA                            139817
30  31.0         UTTAR PRADESH                           1379681
31  32.0           UTTARAKHAND                            144185
32  33.0           WEST BENGAL                           2649274
33   NaN                Total:                          20799078
    Sno.            State Name  Total persons demanded work(Nov)
0    1.0   ANDAMAN AND NICOBAR                                 0
1    2.0  DADRA & NAGAR HAVELI                                 0
2    3.0           DAMAN & DIU                                 0
3    4.0           LAKSHADWEEP                                 0
4    5.0              NAGALAND                            235945
5    6.0        ANDHRA PRADESH                           2307966
6    7.0     ARUNACHAL PRADESH                             35721
7    8.0                 ASSAM                            372702
8    9.0                 BIHAR                            774256
9   10.0          CHHATTISGARH                            641145
10  11.0                   GOA                               190
11  12.0               GUJARAT                            175181
12  13.0               HARYANA                             69777
13  14.0      HIMACHAL PRADESH                            244599
14  15.0     JAMMU AND KASHMIR                            153285
15  16.0             JHARKHAND                            281845
16  17.0             KARNATAKA                           1193095
17  18.0                KERALA                           1100797
18  19.0        MADHYA PRADESH                           1764973
19  20.0           MAHARASHTRA                            461688
20  21.0               MANIPUR                            238956
21  22.0             MEGHALAYA                            242447
22  23.0               MIZORAM                            166210
23  24.0                ODISHA                            489909
24  25.0            PUDUCHERRY                              1484
25  26.0                PUNJAB                            332721
26  27.0             RAJASTHAN                           1628384
27  28.0                SIKKIM                             15450
28  29.0            TAMIL NADU                           3610627
29  30.0               TRIPURA                            311539
30  31.0         UTTAR PRADESH                           1533570
31  32.0           UTTARAKHAND                            133563
32  33.0           WEST BENGAL                           3211166
33   NaN                Total:                          21729191
    Sno.            State Name  Total persons demanded work(Dec)
0    1.0   ANDAMAN AND NICOBAR                                 0
1    2.0  DADRA & NAGAR HAVELI                                 0
2    3.0           DAMAN & DIU                                 0
3    4.0           LAKSHADWEEP                                 0
4    5.0              NAGALAND                            175018
5    6.0        ANDHRA PRADESH                           2745406
6    7.0     ARUNACHAL PRADESH                             58758
7    8.0                 ASSAM                            427498
8    9.0                 BIHAR                           1046233
9   10.0          CHHATTISGARH                           1377830
10  11.0                   GOA                               192
11  12.0               GUJARAT                            441116
12  13.0               HARYANA                            134840
13  14.0      HIMACHAL PRADESH                            257743
14  15.0     JAMMU AND KASHMIR                            210335
15  16.0             JHARKHAND                            189449
16  17.0             KARNATAKA                           1569153
17  18.0                KERALA                           1051246
18  19.0        MADHYA PRADESH                           2275674
19  20.0           MAHARASHTRA                            659596
20  21.0               MANIPUR                             34715
21  22.0             MEGHALAYA                            183634
22  23.0               MIZORAM                            189141
23  24.0                ODISHA                            302242
24  25.0            PUDUCHERRY                              2266
25  26.0                PUNJAB                            315953

In [ ]:
data_4.head()

,Sno.,State Name,Total persons demanded work(Apr),Total persons demanded work(May),Total persons demanded work(Jun),Total persons demanded work(Jul),Total persons demanded work(Aug),Total persons demanded work(Sep),Total persons demanded work(Oct),Total persons demanded work(Nov),Total persons demanded work(Dec),Total persons demanded work(Jan),Total persons demanded work(Feb),Total persons demanded work(Mar)
0,1.0,ANDAMAN AND NICOBAR,0,0,0,0,0,0,0,0,0,0,0,0
1,2.0,DADRA & NAGAR HAVELI,0,0,0,0,0,0,0,0,0,0,0,0
2,3.0,DAMAN & DIU,0,0,0,0,0,0,0,0,0,0,0,0
3,4.0,LAKSHADWEEP,0,0,0,0,0,0,0,0,0,0,0,0
4,5.0,NAGALAND,307548,153456,94658,123782,97695,60208,202922,235945,175018,235044,248507,189175

In [ ]:
data_4.to_csv("dropdown_4.csv")

# Dropdown 5

In [ ]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
# check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
# # print(check_box_trail)
# ##for checkbox in check_box_trail:
#     checkbox.click()
# driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# for i in range (0,33):
#     i = str(i+1)
#     try:
#         driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
#         i=int(i)
#     except:
#         continue
#         i=int(i)
#     i=int(i)
    
for i in range (1,13):
    i = str(i+1)
    try:
        
        check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[29:30]
        driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[4]').click()
        for checkbox in check_box_trail:
            checkbox.click()
        driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
        for j in range (0,33):
            j = str(j+1)
            try:
                driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+j+']/label').click() #inside state
                j=int(j)
            except:
                continue
                j=int(j)
        j=int(j)
        driver.find_element_by_xpath('//*[@id="DdlstTxtBox7"]/option['+i+']').click() #inside state
        i=int(i)
#         typeOf(i)
        driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
        driver.implicitly_wait(15)
        dfs = pd.read_html(driver.page_source)
        dfs2 = dfs[-1]
        if i==2:
            data_5=dfs2
        else:
            data_5[dfs2.columns[2]]=dfs2.iloc[:,2]
                
                
        dfs2 = dfs[-1]
#                 dfs1.columns[3] = dfs[-1].dfs.loc[:,dfs.columns[2]]
        # dfs = dfs.T
        print(dfs2)
        sleep(5)
        driver.find_element_by_xpath('//*[@id="BtnBack"]').click() #inside state
        sleep(2)
#         driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click()
    except:
        continue    
#     i=int(i)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Driver [C:\Users\user\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

    Sno.            State Name  Total households worked(Apr)
0    1.0   ANDAMAN AND NICOBAR                             0
1    2.0  DADRA & NAGAR HAVELI                             0
2    3.0           DAMAN & DIU                             0
3    4.0           LAKSHADWEEP                             0
4    5.0              NAGALAND                        190059
5    6.0        ANDHRA PRADESH                       2421289
6    7.0     ARUNACHAL PRADESH                         12219
7    8.0                 ASSAM                        225720
8    9.0                 BIHAR                        646964
9   10.0          CHHATTISGARH                       1042668
10  11.0                   GOA                            62
11  12.0               GUJARAT                        170902
12  13.0               HARYANA                         24084
13  14.0      HIMACHAL PRADESH                        142084
14  15.0     JAMMU AND KASHMIR                         45833
15  16.0             JHARKHAND                        393938
16  17.0             KARNATAKA                        221349
17  18.0                KERALA                        175533
18  19.0        MADHYA PRADESH                        764811
19  20.0           MAHARASHTRA                        638493
20  21.0               MANIPUR                          9491
21  22.0             MEGHALAYA                         38648
22  23.0               MIZORAM                        187207
23  24.0                ODISHA                        550015
24  25.0            PUDUCHERRY                          1738
25  26.0                PUNJAB                         78367
26  27.0             RAJASTHAN                       1254903
27  28.0                SIKKIM                         18001
28  29.0            TAMIL NADU                        585399
29  30.0               TRIPURA                         33424
30  31.0         UTTAR PRADESH                        779608
31  32.0           UTTARAKHAND                        122809
32  33.0           WEST BENGAL                        694754
33   NaN                Total:                      11470372
    Sno.            State Name  Total households worked(May)
0    1.0   ANDAMAN AND NICOBAR                             0
1    2.0  DADRA & NAGAR HAVELI                             0
2    3.0           DAMAN & DIU                             0
3    4.0           LAKSHADWEEP                             0
4    5.0              NAGALAND                         85109
5    6.0        ANDHRA PRADESH                       3039783
6    7.0     ARUNACHAL PRADESH                         14022
7    8.0                 ASSAM                        362061
8    9.0                 BIHAR                       1081417
9   10.0          CHHATTISGARH                       1315386
10  11.0                   GOA                           138
11  12.0               GUJARAT                        382146
12  13.0               HARYANA                         58706
13  14.0      HIMACHAL PRADESH                        182708
14  15.0     JAMMU AND KASHMIR                         67323
15  16.0             JHARKHAND                        481341
16  17.0             KARNATAKA                        281624
17  18.0                KERALA                        370849
18  19.0        MADHYA PRADESH                        927134
19  20.0           MAHARASHTRA                        741539
20  21.0               MANIPUR                          1021
21  22.0             MEGHALAYA                         48966
22  23.0               MIZORAM                        187366
23  24.0                ODISHA                        762396
24  25.0            PUDUCHERRY                          2375
25  26.0                PUNJAB                        177889
26  27.0             RAJASTHAN                       1155457
27  28.0                SIKKIM                         15540
28  29.0            TAMIL NADU                        595400
29  30.0               TRIPURA                        163978
30  31.0         UTTAR PRADESH                       1700320
31  32.0           UTTARAKHAND                        131767
32  33.0           WEST BENGAL                        995500
33   NaN                Total:                      15329261
    Sno.            State Name  Total households worked(Jun)
0    1.0   ANDAMAN AND NICOBAR                             0
1    2.0  DADRA & NAGAR HAVELI                             0
2    3.0           DAMAN & DIU                             0
3    4.0           LAKSHADWEEP                             0
4    5.0              NAGALAND                         63222
5    6.0        ANDHRA PRADESH                       2809174
6    7.0     ARUNACHAL PRADESH                         22006
7    8.0                 ASSAM                        363058
8    9.0                 BIHAR                       1169110
9   10.0          CHHATTISGARH                       1063514
10  11.0                   GOA                           182
11  12.0               GUJARAT                        362282
12  13.0               HARYANA                         53297
13  14.0      HIMACHAL PRADESH                        190141
14  15.0     JAMMU AND KASHMIR                         60640
15  16.0             JHARKHAND                        508208
16  17.0             KARNATAKA                        348573
17  18.0                KERALA                        539220
18  19.0        MADHYA PRADESH                       1442397
19  20.0           MAHARASHTRA                        595533
20  21.0               MANIPUR                           636
21  22.0             MEGHALAYA                         73384
22  23.0               MIZORAM                        187431
23  24.0                ODISHA                        772239
24  25.0            PUDUCHERRY                         12027
25  26.0                PUNJAB                        180934
26  27.0             RAJASTHAN                       1932545
27  28.0                SIKKIM                         15332
28  29.0            TAMIL NADU                       1037410
29  30.0               TRIPURA                        246020
30  31.0         UTTAR PRADESH                       2026217
31  32.0           UTTARAKHAND                        122120
32  33.0           WEST BENGAL                       1948890
33   NaN                Total:                      18145742
    Sno.            State Name  Total households worked(Jul)
0    1.0   ANDAMAN AND NICOBAR                             0
1    2.0  DADRA & NAGAR HAVELI                             0
2    3.0           DAMAN & DIU                             0
3    4.0           LAKSHADWEEP                             0
4    5.0              NAGALAND                         81029
5    6.0        ANDHRA PRADESH                       1740535
6    7.0     ARUNACHAL PRADESH                         18414
7    8.0                 ASSAM                        258409
8    9.0                 BIHAR                        421312
9   10.0          CHHATTISGARH                        181533
10  11.0                   GOA                            94
11  12.0               GUJARAT                        136581
12  13.0               HARYANA                         35653
13  14.0      HIMACHAL PRADESH                        156096
14  15.0     JAMMU AND KASHMIR                         65872
15  16.0             JHARKHAND                        445108
16  17.0             KARNATAKA                        413212
17  18.0                KERALA                        767155
18  19.0        MADHYA PRADESH                       1265486
19  20.0           MAHARASHTRA                        319416
20  21.0               MANIPUR                        157644
21  22.0             MEGHALAYA                        117782
22  23.0               MIZORAM                        176716
23  24.0                ODISHA                        481693
24  25.0            PUDUCHERRY                         20070
25  26.0                PUNJAB                        123934
26  27.0             RAJASTHAN                       1468497
27  28.0                SIKKIM                         23501
28  29.0            TAMIL NADU                       1859418
29  30.0               TRIPURA                        239141
30  31.0         UTTAR PRADESH                       1425894
31  32.0           UTTARAKHAND                        107087
32  33.0           WEST BENGAL                       1851008
33   NaN                Total:                      14358290
    Sno.            State Name  Total households worked(Aug)
0    1.0   ANDAMAN AND NICOBAR                             0
1    2.0  DADRA & NAGAR HAVELI                             0
2    3.0           DAMAN & DIU                             0
3    4.0           LAKSHADWEEP                             0
4    5.0              NAGALAND                         64778
5    6.0        ANDHRA PRADESH                        965102
6    7.0     ARUNACHAL PRADESH                         22683
7    8.0                 ASSAM                        307004
8    9.0                 BIHAR                        239174
9   10.0          CHHATTISGARH                        229869
10  11.0                   GOA                            97
11  12.0               GUJARAT                         99712
12  13.0               HARYANA                         39679
13  14.0      HIMACHAL PRADESH                        112147
14  15.0     JAMMU AND KASHMIR                        108662
15  16.0             JHARKHAND                        308767
16  17.0             KARNATAKA                        428789
17  18.0                KERALA                        609365
18  19.0        MADHYA PRADESH                        946666
19  20.0           MAHARASHTRA                        253389
20  21.0               MANIPUR                        202596
21  22.0             MEGHALAYA                        133027
22  23.0               MIZORAM                        122713
23  24.0                ODISHA                        444995
24  25.0            PUDUCHERRY                         14271
25  26.0                PUNJAB                        133515
26  27.0             RAJASTHAN                       1012339
27  28.0                SIKKIM                         27240
28  29.0            TAMIL NADU                       3089761
29  30.0               TRIPURA                        257051
30  31.0         UTTAR PRADESH                        785643
31  32.0           UTTARAKHAND                         99442
32  33.0           WEST BENGAL                       1522359
33   NaN                Total:                      12580835
    Sno.            State Name  Total households worked(Sep)
0    1.0   ANDAMAN AND NICOBAR                             0
1    2.0  DADRA & NAGAR HAVELI                             0
2    3.0           DAMAN & DIU                             0
3    4.0           LAKSHADWEEP                             0
4    5.0              NAGALAND                         72910
5    6.0        ANDHRA PRADESH                        819030
6    7.0     ARUNACHAL PRADESH                         28729
7    8.0                 ASSAM                        313640
8    9.0                 BIHAR                        250776
9   10.0          CHHATTISGARH                        249248
10  11.0                   GOA                           188
11  12.0               GUJARAT                         86292
12  13.0               HARYANA                         41319
13  14.0      HIMACHAL PRADESH                        120235
14  15.0     JAMMU AND KASHMIR                        133186
15  16.0             JHARKHAND                        279636
16  17.0             KARNATAKA                        424290
17  18.0                KERALA                        780736
18  19.0        MADHYA PRADESH                        933720
19  20.0           MAHARASHTRA                        235035
20  21.0               MANIPUR                         44689
21  22.0             MEGHALAYA                        150207
22  23.0               MIZORAM                        171809
23  24.0                ODISHA                        384207
24  25.0            PUDUCHERRY                          4820
25  26.0                PUNJAB                        119942
26  27.0             RAJASTHAN                        762830
27  28.0                SIKKIM                         17355
28  29.0            TAMIL NADU                       3035832
29  30.0               TRIPURA                        382620
30  31.0         UTTAR PRADESH                        595214
31  32.0           UTTARAKHAND                         94256
32  33.0           WEST BENGAL                       1670270
33   NaN                Total:                      12203021
    Sno.            State Name  Total households worked(Oct)
0    1.0   ANDAMAN AND NICOBAR                             0
1    2.0  DADRA & NAGAR HAVELI                             0
2    3.0           DAMAN & DIU                             0
3    4.0           LAKSHADWEEP                             0
4    5.0              NAGALAND                        174606
5    6.0        ANDHRA PRADESH                        857623
6    7.0     ARUNACHAL PRADESH                         39950
7    8.0                 ASSAM                        251053
8    9.0                 BIHAR                        362653
9   10.0          CHHATTISGARH                        341467
10  11.0                   GOA                           171
11  12.0               GUJARAT                        109634
12  13.0               HARYANA                         32616
13  14.0      HIMACHAL PRADESH                        118756
14  15.0     JAMMU AND KASHMIR                        181201
15  16.0             JHARKHAND                        328487
16  17.0             KARNATAKA                        550493
17  18.0                KERALA                        947589
18  19.0        MADHYA PRADESH                       1260169
19  20.0           MAHARASHTRA                        263584
20  21.0               MANIPUR                        213486
21  22.0             MEGHALAYA                        196576
22  23.0               MIZORAM                        180737
23  24.0                ODISHA                        418997
24  25.0            PUDUCHERRY                          5851
25  26.0                PUNJAB                        156251
26  27.0             RAJASTHAN                        708533
27  28.0                SIKKIM                         11027
28  29.0            TAMIL NADU                       2726810
29  30.0               TRIPURA                        132275
30  31.0         UTTAR PRADESH                        961389
31  32.0           UTTARAKHAND                        104163
32  33.0           WEST BENGAL                       1897565
33   NaN                Total:                      13533712
    Sno.            State Name  Total households worked(Nov)
0    1.0   ANDAMAN AND NICOBAR                             0
1    2.0  DADRA & NAGAR HAVELI                             0
2    3.0           DAMAN & DIU                             0
3    4.0           LAKSHADWEEP                             0
4    5.0              NAGALAND                        213623
5    6.0        ANDHRA PRADESH                        845199
6    7.0     ARUNACHAL PRADESH                         41242
7    8.0                 ASSAM                        239154
8    9.0                 BIHAR                        530356
9   10.0          CHHATTISGARH                        309901
10  11.0                   GOA                           177
11  12.0               GUJARAT                        101591
12  13.0               HARYANA                         41683
13  14.0      HIMACHAL PRADESH                        179929
14  15.0     JAMMU AND KASHMIR                        155641
15  16.0             JHARKHAND                        141739
16  17.0             KARNATAKA                        584496
17  18.0                KERALA                        959898
18  19.0        MADHYA PRADESH                       1004689
19  20.0           MAHARASHTRA                        251956
20  21.0               MANIPUR                        219371
21  22.0             MEGHALAYA                        210967
22  23.0               MIZORAM                        164037
23  24.0                ODISHA                        341623
24  25.0            PUDUCHERRY                          1249
25  26.0                PUNJAB                        210522
26  27.0             RAJASTHAN                        948149
27  28.0                SIKKIM                         12732
28  29.0            TAMIL NADU                       2985764
29  30.0               TRIPURA                        263442
30  31.0         UTTAR PRADESH                       1136488
31  32.0           UTTARAKHAND                        101574
32  33.0           WEST BENGAL                       2195684
33   NaN                Total:                      14392876
    Sno.            State Name  Total households worked(Dec)
0    1.0   ANDAMAN AND NICOBAR                             0
1    2.0  DADRA & NAGAR HAVELI                             0
2    3.0           DAMAN & DIU                             0
3    4.0           LAKSHADWEEP                             0
4    5.0              NAGALAND                        149946
5    6.0        ANDHRA PRADESH                        976102
6    7.0     ARUNACHAL PRADESH                         55667
7    8.0                 ASSAM                        282476
8    9.0                 BIHAR                        731210
9   10.0          CHHATTISGARH                        633886
10  11.0                   GOA                           140
11  12.0               GUJARAT                        245351
12  13.0               HARYANA                         76579
13  14.0      HIMACHAL PRADESH                        193620
14  15.0     JAMMU AND KASHMIR                        174377
15  16.0             JHARKHAND                        110988
16  17.0             KARNATAKA                        748447
17  18.0                KERALA                        939226
18  19.0        MADHYA PRADESH                       1247996
19  20.0           MAHARASHTRA                        338170
20  21.0               MANIPUR                         30399
21  22.0             MEGHALAYA                        173655
22  23.0               MIZORAM                        187507
23  24.0                ODISHA                        205044
24  25.0            PUDUCHERRY                          1714
25  26.0                PUNJAB                        200947
26  27.0             RAJASTHAN                       1340604
27  28.0                SIKKIM                         17265
28  29.0            TAMIL NADU                       3242790
29  30.0               TRIPURA                        311400
30  31.0         UTTAR PRADESH                       1502211
31  32.0           UTTARAKHAND                        133418
32  33.0           WEST BENGAL                       2336017
33   NaN                Total:                      16587152
    Sno.            State Name  Total households worked(Jan)
0    1.0   ANDAMAN AND NICOBAR                             0
1    2.0  DADRA & NAGAR HAVELI                             0
2    3.0           DAMAN & DIU                             0
3    4.0           LAKSHADWEEP                             0
4    5.0              NAGALAND                        224523
5    6.0        ANDHRA PRADESH                       1079633
6    7.0     ARUNACHAL PRADESH                         77566
7    8.0                 ASSAM                        464219
8    9.0                 BIHAR                        788402
9   10.0          CHHATTISGARH                        978533
10  11.0                   GOA                           317

In [ ]:
data_5.head()

,Sno.,State Name,Total households worked(Apr),Total households worked(May),Total households worked(Jun),Total households worked(Jul),Total households worked(Aug),Total households worked(Sep),Total households worked(Oct),Total households worked(Nov),Total households worked(Dec),Total households worked(Jan),Total households worked(Feb),Total households worked(Mar)
0,1.0,ANDAMAN AND NICOBAR,0,0,0,0,0,0,0,0,0,0,0,0
1,2.0,DADRA & NAGAR HAVELI,0,0,0,0,0,0,0,0,0,0,0,0
2,3.0,DAMAN & DIU,0,0,0,0,0,0,0,0,0,0,0,0
3,4.0,LAKSHADWEEP,0,0,0,0,0,0,0,0,0,0,0,0
4,5.0,NAGALAND,190059,85109,63222,81029,64778,72910,174606,213623,149946,224523,223808,189720

In [ ]:
data_5.to_csv("dropdown_5.csv")

# Dropdown 6

In [ ]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
# check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
# # print(check_box_trail)
# ##for checkbox in check_box_trail:
#     checkbox.click()
# driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# for i in range (0,33):
#     i = str(i+1)
#     try:
#         driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
#         i=int(i)
#     except:
#         continue
#         i=int(i)
#     i=int(i)
    
for i in range (1,13):
    i = str(i+1)
    try:
        
        check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[30:31]
        driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[4]').click()
        
        for checkbox in check_box_trail:
            checkbox.click()
        driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
        for j in range (0,33):
            j = str(j+1)
            try:
                driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+j+']/label').click() #inside state
                j=int(j)
            except:
                continue
                j=int(j)
        j=int(j)
        driver.find_element_by_xpath('//*[@id="DdlstTxtBox8"]/option['+i+']').click() #inside state
        i=int(i)
#         typeOf(i)
        driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
        driver.implicitly_wait(15)
        dfs = pd.read_html(driver.page_source)
        dfs2 = dfs[-1]
        if i==2:
            data_6=dfs2
        else:
            data_6[dfs2.columns[2]]=dfs2.iloc[:,2]
                
                
        dfs2 = dfs[-1]
#                 dfs1.columns[3] = dfs[-1].dfs.loc[:,dfs.columns[2]]
        # dfs = dfs.T
        print(dfs2)
        sleep(5)
        driver.find_element_by_xpath('//*[@id="BtnBack"]').click() #inside state
        sleep(2)
#         driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click()
    except:
        continue    
#     i=int(i)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Driver [C:\Users\user\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

    Sno.            State Name  Total persons worked(Apr)
0    1.0   ANDAMAN AND NICOBAR                          0
1    2.0  DADRA & NAGAR HAVELI                          0
2    3.0           DAMAN & DIU                          0
3    4.0           LAKSHADWEEP                          0
4    5.0              NAGALAND                     886635
5    6.0        ANDHRA PRADESH                   38206267
6    7.0     ARUNACHAL PRADESH                     190591
7    8.0                 ASSAM                    2656827
8    9.0                 BIHAR                   11098197
9   10.0          CHHATTISGARH                   19136190
10  11.0                   GOA                        590
11  12.0               GUJARAT                    2919571
12  13.0               HARYANA                     361827
13  14.0      HIMACHAL PRADESH                    2120742
14  15.0     JAMMU AND KASHMIR                     999763
15  16.0             JHARKHAND                    5994272
16  17.0             KARNATAKA                    3815607
17  18.0                KERALA                    1386650
18  19.0        MADHYA PRADESH                   11357952
19  20.0           MAHARASHTRA                   11647350
20  21.0               MANIPUR                      33571
21  22.0             MEGHALAYA                     489689
22  23.0               MIZORAM                    2381190
23  24.0                ODISHA                    8924077
24  25.0            PUDUCHERRY                      11235
25  26.0                PUNJAB                     811502
26  27.0             RAJASTHAN                   21796702
27  28.0                SIKKIM                     307807
28  29.0            TAMIL NADU                    4739497
29  30.0               TRIPURA                     236945
30  31.0         UTTAR PRADESH                   11523653
31  32.0           UTTARAKHAND                    2030414
32  33.0           WEST BENGAL                   11872408
33   NaN                Total:                  177937721
    Sno.            State Name  Total persons worked(May)
0    1.0   ANDAMAN AND NICOBAR                          0
1    2.0  DADRA & NAGAR HAVELI                          0
2    3.0           DAMAN & DIU                          0
3    4.0           LAKSHADWEEP                          0
4    5.0              NAGALAND                     559527
5    6.0        ANDHRA PRADESH                   55585635
6    7.0     ARUNACHAL PRADESH                     200958
7    8.0                 ASSAM                    4491235
8    9.0                 BIHAR                   19978116
9   10.0          CHHATTISGARH                   26703609
10  11.0                   GOA                       1346
11  12.0               GUJARAT                    8056227
12  13.0               HARYANA                     832519
13  14.0      HIMACHAL PRADESH                    3068374
14  15.0     JAMMU AND KASHMIR                    1504928
15  16.0             JHARKHAND                    7414300
16  17.0             KARNATAKA                    4819855
17  18.0                KERALA                    3697412
18  19.0        MADHYA PRADESH                   13608207
19  20.0           MAHARASHTRA                   15090309
20  21.0               MANIPUR                       9566
21  22.0             MEGHALAYA                     680794
22  23.0               MIZORAM                    2501669
23  24.0                ODISHA                   13301377
24  25.0            PUDUCHERRY                      15661
25  26.0                PUNJAB                    1819514
26  27.0             RAJASTHAN                   19540800
27  28.0                SIKKIM                     268981
28  29.0            TAMIL NADU                    5839647
29  30.0               TRIPURA                    1231183
30  31.0         UTTAR PRADESH                   27138990
31  32.0           UTTARAKHAND                    2092171
32  33.0           WEST BENGAL                   17105192
33   NaN                Total:                  257158102
    Sno.            State Name  Total persons worked(Jun)
0    1.0   ANDAMAN AND NICOBAR                          0
1    2.0  DADRA & NAGAR HAVELI                          0
2    3.0           DAMAN & DIU                          0
3    4.0           LAKSHADWEEP                          0
4    5.0              NAGALAND                     443240
5    6.0        ANDHRA PRADESH                   37956136
6    7.0     ARUNACHAL PRADESH                     390434
7    8.0                 ASSAM                    4370000
8    9.0                 BIHAR                   19275790
9   10.0          CHHATTISGARH                   16883464
10  11.0                   GOA                       1715
11  12.0               GUJARAT                    6744833
12  13.0               HARYANA                     723049
13  14.0      HIMACHAL PRADESH                    3102997
14  15.0     JAMMU AND KASHMIR                    1280419
15  16.0             JHARKHAND                    7697964
16  17.0             KARNATAKA                    6280686
17  18.0                KERALA                    4868991
18  19.0        MADHYA PRADESH                   23458079
19  20.0           MAHARASHTRA                    9463337
20  21.0               MANIPUR                       4311
21  22.0             MEGHALAYA                    1227049
22  23.0               MIZORAM                    1720454
23  24.0                ODISHA                   10922282
24  25.0            PUDUCHERRY                      83777
25  26.0                PUNJAB                    1894066
26  27.0             RAJASTHAN                   33107786
27  28.0                SIKKIM                     251201
28  29.0            TAMIL NADU                    8475870
29  30.0               TRIPURA                    1998973
30  31.0         UTTAR PRADESH                   32903925
31  32.0           UTTARAKHAND                    1913400
32  33.0           WEST BENGAL                   35992788
33   NaN                Total:                  273437016
    Sno.            State Name  Total persons worked(Jul)
0    1.0   ANDAMAN AND NICOBAR                          0
1    2.0  DADRA & NAGAR HAVELI                          0
2    3.0           DAMAN & DIU                          0
3    4.0           LAKSHADWEEP                          0
4    5.0              NAGALAND                     702637
5    6.0        ANDHRA PRADESH                   18563400
6    7.0     ARUNACHAL PRADESH                     255743
7    8.0                 ASSAM                    2883117
8    9.0                 BIHAR                    6136296
9   10.0          CHHATTISGARH                    2309950
10  11.0                   GOA                        435
11  12.0               GUJARAT                    2327372
12  13.0               HARYANA                     507076
13  14.0      HIMACHAL PRADESH                    2544864
14  15.0     JAMMU AND KASHMIR                    1495338
15  16.0             JHARKHAND                    6169642
16  17.0             KARNATAKA                    7685187
17  18.0                KERALA                    8437940
18  19.0        MADHYA PRADESH                   20317692
19  20.0           MAHARASHTRA                    4618842
20  21.0               MANIPUR                     824422
21  22.0             MEGHALAYA                    2218290
22  23.0               MIZORAM                    1306367
23  24.0                ODISHA                    7121951
24  25.0            PUDUCHERRY                     249144
25  26.0                PUNJAB                    1318990
26  27.0             RAJASTHAN                   25703063
27  28.0                SIKKIM                     336338
28  29.0            TAMIL NADU                   15005793
29  30.0               TRIPURA                    2108779
30  31.0         UTTAR PRADESH                   20339944
31  32.0           UTTARAKHAND                    1618108
32  33.0           WEST BENGAL                   35945018
33   NaN                Total:                  199051738
    Sno.            State Name  Total persons worked(Aug)
0    1.0   ANDAMAN AND NICOBAR                          0
1    2.0  DADRA & NAGAR HAVELI                          0
2    3.0           DAMAN & DIU                          0
3    4.0           LAKSHADWEEP                          0
4    5.0              NAGALAND                     411306
5    6.0        ANDHRA PRADESH                   10944270
6    7.0     ARUNACHAL PRADESH                     367575
7    8.0                 ASSAM                    3542787
8    9.0                 BIHAR                    3812677
9   10.0          CHHATTISGARH                    3508346
10  11.0                   GOA                       1057
11  12.0               GUJARAT                    1571234
12  13.0               HARYANA                     556323
13  14.0      HIMACHAL PRADESH                    1723894
14  15.0     JAMMU AND KASHMIR                    2573219
15  16.0             JHARKHAND                    3810584
16  17.0             KARNATAKA                    8261305
17  18.0                KERALA                    4335578
18  19.0        MADHYA PRADESH                   14954949
19  20.0           MAHARASHTRA                    3651080
20  21.0               MANIPUR                    1161935
21  22.0             MEGHALAYA                    2457071
22  23.0               MIZORAM                     768190
23  24.0                ODISHA                    6630111
24  25.0            PUDUCHERRY                     118574
25  26.0                PUNJAB                    1379397
26  27.0             RAJASTHAN                   17707263
27  28.0                SIKKIM                     411787
28  29.0            TAMIL NADU                   30996014
29  30.0               TRIPURA                    2435147
30  31.0         UTTAR PRADESH                   10110399
31  32.0           UTTARAKHAND                    1487101
32  33.0           WEST BENGAL                   29252743
33   NaN                Total:                  168941916
    Sno.            State Name  Total persons worked(Sep)
0    1.0   ANDAMAN AND NICOBAR                          0
1    2.0  DADRA & NAGAR HAVELI                          0
2    3.0           DAMAN & DIU                          0
3    4.0           LAKSHADWEEP                          0
4    5.0              NAGALAND                     508565
5    6.0        ANDHRA PRADESH                    9672206
6    7.0     ARUNACHAL PRADESH                     430868
7    8.0                 ASSAM                    3459968
8    9.0                 BIHAR                    3982102
9   10.0          CHHATTISGARH                    3821161
10  11.0                   GOA                        796
11  12.0               GUJARAT                    1322354
12  13.0               HARYANA                     535237
13  14.0      HIMACHAL PRADESH                    1786496
14  15.0     JAMMU AND KASHMIR                    2905227
15  16.0             JHARKHAND                    3341353
16  17.0             KARNATAKA                    7566687
17  18.0                KERALA                    7872754
18  19.0        MADHYA PRADESH                   13890946
19  20.0           MAHARASHTRA                    3321005
20  21.0               MANIPUR                     210639
21  22.0             MEGHALAYA                    2713557
22  23.0               MIZORAM                    1095164
23  24.0                ODISHA                    5411043
24  25.0            PUDUCHERRY                      24664
25  26.0                PUNJAB                    1200628
26  27.0             RAJASTHAN                   12148443
27  28.0                SIKKIM                     249753
28  29.0            TAMIL NADU                   27400369
29  30.0               TRIPURA                    4000466
30  31.0         UTTAR PRADESH                    8290151
31  32.0           UTTARAKHAND                    1417354
32  33.0           WEST BENGAL                   30823948
33   NaN                Total:                  159403904
    Sno.            State Name  Total persons worked(Oct)
0    1.0   ANDAMAN AND NICOBAR                          0
1    2.0  DADRA & NAGAR HAVELI                          0
2    3.0           DAMAN & DIU                          0
3    4.0           LAKSHADWEEP                          0
4    5.0              NAGALAND                    1269549
5    6.0        ANDHRA PRADESH                   10418734
6    7.0     ARUNACHAL PRADESH                     565560
7    8.0                 ASSAM                    2632003
8    9.0                 BIHAR                    5683919
9   10.0          CHHATTISGARH                    5726123
10  11.0                   GOA                       1689
11  12.0               GUJARAT                    1714868
12  13.0               HARYANA                     459237
13  14.0      HIMACHAL PRADESH                    1832517
14  15.0     JAMMU AND KASHMIR                    4617406
15  16.0             JHARKHAND                    4181723
16  17.0             KARNATAKA                   10260777
17  18.0                KERALA                   11646399
18  19.0        MADHYA PRADESH                   20008904
19  20.0           MAHARASHTRA                    3746249
20  21.0               MANIPUR                    1288343
21  22.0             MEGHALAYA                    3961449
22  23.0               MIZORAM                    1172825
23  24.0                ODISHA                    5775285
24  25.0            PUDUCHERRY                      26974
25  26.0                PUNJAB                    1699573
26  27.0             RAJASTHAN                   11425222
27  28.0                SIKKIM                     139081
28  29.0            TAMIL NADU                   23966446
29  30.0               TRIPURA                    1002173
30  31.0         UTTAR PRADESH                   14195901
31  32.0           UTTARAKHAND                    1633972
32  33.0           WEST BENGAL                   38551800
33   NaN                Total:                  189604701
    Sno.            State Name  Total persons worked(Nov)
0    1.0   ANDAMAN AND NICOBAR                          0
1    2.0  DADRA & NAGAR HAVELI                          0
2    3.0           DAMAN & DIU                          0
3    4.0           LAKSHADWEEP                          0
4    5.0              NAGALAND                    1657413
5    6.0        ANDHRA PRADESH                    9282617
6    7.0     ARUNACHAL PRADESH                     665574
7    8.0                 ASSAM                    2665390
8    9.0                 BIHAR                    8425972
9   10.0          CHHATTISGARH                    4871641
10  11.0                   GOA                       1474
11  12.0               GUJARAT                    1463694
12  13.0               HARYANA                     574356
13  14.0      HIMACHAL PRADESH                    2915191
14  15.0     JAMMU AND KASHMIR                    3894249
15  16.0             JHARKHAND                    1174992
16  17.0             KARNATAKA                   10712030
17  18.0                KERALA                   11653122
18  19.0        MADHYA PRADESH                   15463325
19  20.0           MAHARASHTRA                    3566032
20  21.0               MANIPUR                    1393492
21  22.0             MEGHALAYA                    4089294
22  23.0               MIZORAM                     979441
23  24.0                ODISHA                    4783716
24  25.0            PUDUCHERRY                       6190
25  26.0                PUNJAB                    2275469
26  27.0             RAJASTHAN                   15034010
27  28.0                SIKKIM                     176472
28  29.0            TAMIL NADU                   28274941
29  30.0               TRIPURA                    2744807
30  31.0         UTTAR PRADESH                   15947499
31  32.0           UTTARAKHAND                    1527082
32  33.0           WEST BENGAL                   44647285
33   NaN                Total:                  200866770
    Sno.            State Name  Total persons worked(Dec)
0    1.0   ANDAMAN AND NICOBAR                          0
1    2.0  DADRA & NAGAR HAVELI                          0
2    3.0           DAMAN & DIU                          0
3    4.0           LAKSHADWEEP                          0
4    5.0              NAGALAND                    1395188
5    6.0        ANDHRA PRADESH                    9916201
6    7.0     ARUNACHAL PRADESH                     891436
7    8.0                 ASSAM                    3324953
8    9.0                 BIHAR                   12056553
9   10.0          CHHATTISGARH                   10282882
10  11.0                   GOA                       1300
11  12.0               GUJARAT                    4474994
12  13.0               HARYANA                     977339
13  14.0      HIMACHAL PRADESH                    3177607
14  15.0     JAMMU AND KASHMIR                    3930198
15  16.0             JHARKHAND                    1226951
16  17.0             KARNATAKA                   14696859
17  18.0                KERALA                   10721517
18  19.0        MADHYA PRADESH                   19393892
19  20.0           MAHARASHTRA                    5646955
20  21.0               MANIPUR                     166275
21  22.0             MEGHALAYA                    3191519
22  23.0               MIZORAM                    1253166
23  24.0                ODISHA                    2863916
24  25.0            PUDUCHERRY                      10610
25  26.0                PUNJAB                    2136102
26  27.0             RAJASTHAN                   20968961
27  28.0                SIKKIM                     260942
28  29.0            TAMIL NADU                   30409582
29  30.0               TRIPURA                    3723492
30  31.0         UTTAR PRADESH                   22242194
31  32.0           UTTARAKHAND                    2044449
32  33.0           WEST BENGAL                   48692627
33   NaN                Total:                  240078660
    Sno.            State Name  Total persons worked(Jan)
0    1.0   ANDAMAN AND NICOBAR                          0
1    2.0  DADRA & NAGAR HAVELI                          0
2    3.0           DAMAN & DIU                          0
3    4.0           LAKSHADWEEP                          0
4    5.0              NAGALAND                    1893962
5    6.0        ANDHRA PRADESH                    9132498
6    7.0     ARUNACHAL PRADESH                    1238841
7    8.0                 ASSAM                    5566902
8    9.0                 BIHAR                   13148146
9   10.0          CHHATTISGARH                   17290761
10  11.0                   GOA                       2094
11  12.0               GUJARAT                    4922192
12  13.0               HARYANA                     921223
13  14.0      HIMACHAL PRADESH                    2472952
14  15.0     JAMMU AND KASHMIR                    4026209
15  16.0             JHARKHAND                    2564487
16  17.0             KARNATAKA                   13376128
17  18.0                KERALA                   11281833
18  19.0        MADHYA PRADESH                   22419366
19  20.0           MAHARASHTRA                    7232444
20  21.0               MANIPUR                     728257
21  22.0             MEGHALAYA                    4793892
22  23.0               MIZORAM                    1958352
23  24.0                ODISHA                    3696899
24  25.0            PUDUCHERRY                      10324
25  26.0                PUNJAB                    1789350
26  27.0             RAJASTHAN                   41465850
27  28.0                SIKKIM                     395348

In [ ]:
data_6.to_csv("dropdown_6.csv")

In [ ]:
dfs_merged.head()

,Sno.,State Name,Total households applied for job card,Total job cards issued,Total job cards (SC),Total job cards (ST),Total job cards (non-SC/ST),Total households demanded work,Total persons demanded work,Total households allotted work,...,Amount sanctioned (Rs. In Lakhs),Total works,Total bank accounts,Total individual bank accounts,Total joint bank accounts,Amount disbursed to bank accounts,Total post office accounts,Total individual post office accounts,Total joint post office accounts,Amount disbursed to post office accounts
0,1.0,ANDAMAN AND NICOBAR,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2.0,DADRA & NAGAR HAVELI,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3.0,DAMAN & DIU,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4.0,LAKSHADWEEP,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5.0,NAGALAND,434770,434217,3737,414350,16130,400217,438477,398573,...,10147551,25530,202301,199411,2890,485418981,206,206,0,501264

In [ ]:
#file.drop(columns={"Unnamed: 0"},inplace=True)

In [ ]:
d1=pd.read_csv("dropdown_1.csv")
d2=pd.read_csv("dropdown_2.csv")
d3=pd.read_csv("dropdown_3.csv")
d4=pd.read_csv("dropdown_4.csv")
d5=pd.read_csv("dropdown_5.csv")
d6=pd.read_csv("dropdown_6.csv")

In [ ]:
d1.head()

,Unnamed: 0,Sno.,State Name,Total households completed<br>person-days in range:1-10,Total households completed<br>person-days in range:11-20,Total households completed<br>person-days in range:21-30,Total households completed<br>person-days in range:31-40,Total households completed<br>person-days in range:41-50,Total households completed<br>person-days in range:51-60,Total households completed<br>person-days in range:61-70,Total households completed<br>person-days in range:71-80,Total households completed<br>person-days in range:81-99,Total households completed<br>person-days in range:100,Total households completed<br>person-days in range:>100,Total households completed<br>person-days in range:>14
0,0,1.0,ANDAMAN AND NICOBAR,0,0,0,0,0,0,0,0,0,0,0,0
1,1,2.0,DADRA & NAGAR HAVELI,0,0,0,0,0,0,0,0,0,0,0,0
2,2,3.0,DAMAN & DIU,0,0,0,0,0,0,0,0,0,0,0,0
3,3,4.0,LAKSHADWEEP,0,0,0,0,0,0,0,0,0,0,0,0
4,4,5.0,NAGALAND,130300,510266,3047832,4373135,2167657,2077048,499260,80263,193829,0,0,12801612

In [ ]:
d1.drop(columns={"Unnamed: 0","Sno.","State Name"},inplace=True)
d2.drop(columns={"Unnamed: 0","Sno.","State Name"},inplace=True)
d3.drop(columns={"Unnamed: 0","Sno.","State Name"},inplace=True)
d4.drop(columns={"Unnamed: 0","Sno.","State Name"},inplace=True)
d5.drop(columns={"Unnamed: 0","Sno.","State Name"},inplace=True)
d6.drop(columns={"Unnamed: 0","Sno.","State Name"},inplace=True)

In [ ]:
combined_2018_19_state=pd.concat([dfs_merged,d1,d2,d3,d4,d5,d6],axis=1,sort=False)

In [ ]:
combined_2018_19_state.head()

,Sno.,State Name,Total households applied for job card,Total job cards issued,Total job cards (SC),Total job cards (ST),Total job cards (non-SC/ST),Total households demanded work,Total persons demanded work,Total households allotted work,...,Total persons worked(Jun),Total persons worked(Jul),Total persons worked(Aug),Total persons worked(Sep),Total persons worked(Oct),Total persons worked(Nov),Total persons worked(Dec),Total persons worked(Jan),Total persons worked(Feb),Total persons worked(Mar)
0,1.0,ANDAMAN AND NICOBAR,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2.0,DADRA & NAGAR HAVELI,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3.0,DAMAN & DIU,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4.0,LAKSHADWEEP,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5.0,NAGALAND,434770,434217,3737,414350,16130,400217,438477,398573,...,443240,702637,411306,508565,1269549,1657413,1395188,1893962,2122726,1434699

In [ ]:
#merge.drop(columns={"Sno.","State Name"},inplace=True)

In [ ]:
#FIRST PART AND LAST PART JOINED

In [ ]:
#combined_2019_20_state=pd.concat([file,merge],axis=1,sort=False)

In [ ]:
combined_2018_19_state.head()

,Sno.,State Name,Total households applied for job card,Total job cards issued,Total job cards (SC),Total job cards (ST),Total job cards (non-SC/ST),Total households demanded work,Total persons demanded work,Total households allotted work,...,Total persons worked(Jun),Total persons worked(Jul),Total persons worked(Aug),Total persons worked(Sep),Total persons worked(Oct),Total persons worked(Nov),Total persons worked(Dec),Total persons worked(Jan),Total persons worked(Feb),Total persons worked(Mar)
0,1.0,ANDAMAN AND NICOBAR,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2.0,DADRA & NAGAR HAVELI,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3.0,DAMAN & DIU,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4.0,LAKSHADWEEP,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5.0,NAGALAND,434770,434217,3737,414350,16130,400217,438477,398573,...,443240,702637,411306,508565,1269549,1657413,1395188,1893962,2122726,1434699

In [ ]:
combined_2018_19_state.to_csv("combined_2018_19_state.csv",index=False)

In [ ]:
c=pd.read_csv("combined_2018_19_state.csv")
c.head()

,Sno.,State Name,Total households applied for job card,Total job cards issued,Total job cards (SC),Total job cards (ST),Total job cards (non-SC/ST),Total households demanded work,Total persons demanded work,Total households allotted work,...,Total persons worked(Jun),Total persons worked(Jul),Total persons worked(Aug),Total persons worked(Sep),Total persons worked(Oct),Total persons worked(Nov),Total persons worked(Dec),Total persons worked(Jan),Total persons worked(Feb),Total persons worked(Mar)
0,1.0,ANDAMAN AND NICOBAR,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2.0,DADRA & NAGAR HAVELI,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3.0,DAMAN & DIU,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4.0,LAKSHADWEEP,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5.0,NAGALAND,434770,434217,3737,414350,16130,400217,438477,398573,...,443240,702637,411306,508565,1269549,1657413,1395188,1893962,2122726,1434699

# D I S T R I C T

## first 25

In [ ]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[:25]
# print(check_box_trail)
for checkbox in check_box_trail:
    checkbox.click()
driver.find_element_by_xpath('//*[@id="regionselect"]/option[2]').click()
# driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li[1]/label').click() #inside state
driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[4]').click()


# try:
for i in range (0,33):
    i = str(i+1)
    try:
        driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
        i=int(i)
    except:
        continue
        i=int(i)
#     sleep(0.1)
#     i=int(i)
driver.find_element_by_xpath('//*[@id="viewDummy"]').click()

# except:
#     pass
# driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li[3]').click()
# # sleep(2)
# driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
# # sleep(15)
# driver.quit()
# df_list = pd.read_html('https://nregarep2.nic.in/netnrega/dynamic2/ReportGenerated.aspx')
dfs = pd.read_html(driver.page_source)
dfs2_first_part = dfs[-1]
# dfs = dfs.T
print(dfs)
# dfs.to_csv('Animal.csv',index=0)
sleep(10)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Driver [C:\Users\user\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

[                                                    0   \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                 Sno.
..                                                 ...
642                                                NaN
643                                                NaN
644                                                NaN
645                                                NaN
646  Note: Figures shown above are indicative only ...

                                                    1   \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                           State Name
..                                                 ...
642                                                NaN
643                                                NaN
644                                                NaN
645                                                NaN
646  Note: Figures shown above are indicative only ...

                                                    2   \
0         MGNREGA Public Data Portal For FY: 2018-2019
1                                                  NaN
2                                                  NaN
3    Sno.State NameDistrict NameTotal households ap...
4                                        District Name
..                                                 ...
642                                             Total:
643                                                NaN
644                                                NaN
645                                                NaN
646  Note: Figures shown above are indicative only ...

                                                    3   \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                Total households applied for job card
..                                                 ...
642                                          129596051
643                                                NaN
644                                                NaN
645                                                NaN
646  Note: Figures shown above are indicative only ...

                                                    4                     5   \
0                                                  NaN                   NaN
1                                                  NaN                   NaN
2                                                  NaN                   NaN
3                                                  NaN                   NaN
4                               Total job cards issued  Total job cards (SC)
..                                                 ...                   ...
642                                          125261953              26090440
643                                                NaN                   NaN
644                                                NaN                   NaN
645                                                NaN                   NaN
646  Note: Figures shown above are indicative only ...                   NaN

                       6                            7   \
0                     NaN                          NaN
1                     NaN                          NaN
2                     NaN                          NaN
3                     NaN                          NaN
4    Total job cards (ST)  Total job cards (non-SC/ST)
..                    ...                          ...
642              16078556                     83092957
643                   NaN                          NaN
644                   NaN                          NaN
645                   NaN                          NaN
646                   NaN                          NaN

                                 8                            9   ...  \
0                               NaN                          NaN  ...
1                               NaN                          NaN  ...
2                               NaN                          NaN  ...
3                               NaN                          NaN  ...
4    Total households demanded work  Total persons demanded work  ...
..                              ...                          ...  ...
642                        54650927                     83947619  ...
643                             NaN                          NaN  ...
644                             NaN                          NaN  ...
645                             NaN                          NaN  ...
646                             NaN                          NaN  ...

                                       18                          19  \
0                                     NaN                         NaN
1                                     NaN                         NaN
2                                     NaN                         NaN
3                                     NaN                         NaN
4    Total person-days worked (non-SC/ST)  Total SC households worked
..                                    ...                         ...
642                            1550472896                    10168564
643                                   NaN                         NaN
644                                   NaN                         NaN
645                                   NaN                         NaN
646                                   NaN                         NaN

                                  20                          21  \
0                                NaN                         NaN
1                                NaN                         NaN
2                                NaN                         NaN
3                                NaN                         NaN
4    Total person-days worked by SCs  Total ST households worked
..                               ...                         ...
642                        508808199                     8079062
643                              NaN                         NaN
644                              NaN                         NaN
645                              NaN                         NaN
646                              NaN                         NaN

                                  22                                       23  \
0                                NaN                                      NaN
1                                NaN                                      NaN
2                                NaN                                      NaN
3                                NaN                                      NaN
4    Total person-days worked by STs  Total land reform/IAY households worked
..                               ...                                      ...
642                        422904784                                  2007506
643                              NaN                                      NaN
644                              NaN                                      NaN
645                              NaN                                      NaN
646                              NaN                                      NaN

                                    24                 25  \
0                                  NaN                NaN
1                                  NaN                NaN
2                                  NaN                NaN
3                                  NaN                NaN
4    Total person-days worked by women  Total person-days
..                                 ...                ...
642                         1352685681         2482185879
643                                NaN                NaN
644                                NaN                NaN
645                                NaN                NaN
646                                NaN                NaN

                                         26  \
0                                       NaN
1                                       NaN
2                                       NaN
3                                       NaN
4    Total SC households over 100 day limit
..                                      ...
642                                  918562
643                                     NaN
644                                     NaN
645                                     NaN
646                                     NaN

                                         27
0                                       NaN
1                                       NaN
2                                       NaN
3                                       NaN
4    Total ST households over 100 day limit
..                                      ...
642                                  827893
643                                     NaN
644                                     NaN
645                                     NaN
646                                     NaN

[647 rows x 28 columns],       Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households applied for job card  Total job cards issued  \
0                                        0                       0
1                                        0                       0
2                                        0                       0
3                                        0                       0
4                                        0                       0
..                                     ...                     ...
633                                 736253                  730813
634                                 782936                  773968
635                                 505141                  499558
636                                  97452                   96732
637                              129596051               125261953

     Total job cards (SC)  Total job cards (ST)  Total job cards (non-SC/ST)  \
0                       0                     0                            0
1                       0                     0                            0
2                       0                     0                            0
3                       0                     0                            0
4                       0                     0                            0
..                    ...                   ...                          ...
633                158718                 98653                       473442
634                108567                  4796                       660605
635                 86443                 90005                       323110
636                 44087                 26076                        26569
637              26090440              16078556                     83092957

     Total households demanded work  Total persons demanded work  ...  \
0                                 0                            0  ...
1                                 0                            0  ...
2                                 0                            0  ...
3                                 0                            0  ...
4                                 0                            0  ...
..                              ...                          ...  ...
633                          271992                       525216  ...
634                          369786                       704714  ...
635                          161426                       330124  ...
636                           25009                        32157  ...
637                        54650927                     83947619  ...

     Total person-days worked (non-SC/ST)  Total SC households worked  \
0                                       0                           0
1                                       0                           0
2                                       0                           0
3                                       0                           0
4                                       0                           0
..                                    ...                         ...
633                              12571911                       66712
634                              22690155                       50946
635                               5219019                       23428
636                                410392                       10311
637                            1550472896                    10168564

     Total person-days worked by SCs  Total ST households worked  \
0                                  0                           0
1                                  0                           0
2                                  0                           0
3                                  0                           0
4                                  0                           0
..                               ...                         ...
633                          5524243                       32179
634                          3885630                        1791
635                          1563846                       27059
636                           668570                        6533
637                        508808199                     8079062

     Total person-days worked by STs  Total land reform/IAY households worked  \
0                                  0                                        0
1                                  0                                        0
2                                  0                                        0
3                                  0                                        0
4                                  0                                        0
..                               ...                                      ...
633                          2455709                                    38761
634                           124828                                    35830
635                          1717230                                     4753
636                           424327                                     1438
637                        422904784                                  2007506

     Total person-days worked by women  Total person-days  \
0                                    0                  0
1                                    0                  0
2                                    0                  0
3                                    0                  0
4                                    0                  0
..                                 ...                ...
633                            9225306           20551863
634                           14473316           26700613
635                            3979958            8500095
636                             968554            1503289
637                         1352685681         2482185879

     Total SC households over 100 day limit  \
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
633                                   29708
634                                   12090
635                                    3851
636                                    2641
637                                  918562

     Total ST households over 100 day limit
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
633                                   10370
634                                     274
635                                    3879
636                                    1579
637                                  827893

[638 rows x 28 columns]]

In [ ]:
dfs2_first_part.head()

,Sno.,State Name,District Name,Total households applied for job card,Total job cards issued,Total job cards (SC),Total job cards (ST),Total job cards (non-SC/ST),Total households demanded work,Total persons demanded work,...,Total person-days worked (non-SC/ST),Total SC households worked,Total person-days worked by SCs,Total ST households worked,Total person-days worked by STs,Total land reform/IAY households worked,Total person-days worked by women,Total person-days,Total SC households over 100 day limit,Total ST households over 100 day limit
0,1.0,ANDAMAN AND NICOBAR,NICOBARS,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2.0,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3.0,ANDAMAN AND NICOBAR,SOUTH ANDAMAN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4.0,DADRA & NAGAR HAVELI,DADRA AND NAGAR HAVELI,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5.0,DAMAN & DIU,DAMAN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[31:48]
# print(check_box_trail)
for checkbox in check_box_trail:
    checkbox.click()
driver.find_element_by_xpath('//*[@id="regionselect"]/option[2]').click()
# driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li[1]/label').click() #inside state
driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[4]').click()


# try:
for i in range (0,33):
    i = str(i+1)
    try:
        driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
        i=int(i)
    except:
        continue
        i=int(i)
#     sleep(0.1)
#     i=int(i)
driver.find_element_by_xpath('//*[@id="viewDummy"]').click()

# except:
#     pass
# driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li[3]').click()
# # sleep(2)
# driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
# # sleep(15)
# driver.quit()
# df_list = pd.read_html('https://nregarep2.nic.in/netnrega/dynamic2/ReportGenerated.aspx')
dfs1 = pd.read_html(driver.page_source)
dfs2_last_part = dfs1[-1]
# dfs = dfs.T
print(dfs)
# dfs.to_csv('Animal.csv',index=0)
sleep(10)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Driver [C:\Users\user\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

[                                                    0   \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                 Sno.
..                                                 ...
642                                                NaN
643                                                NaN
644                                                NaN
645                                                NaN
646  Note: Figures shown above are indicative only ...

                                                    1   \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                           State Name
..                                                 ...
642                                                NaN
643                                                NaN
644                                                NaN
645                                                NaN
646  Note: Figures shown above are indicative only ...

                                                    2   \
0         MGNREGA Public Data Portal For FY: 2018-2019
1                                                  NaN
2                                                  NaN
3    Sno.State NameDistrict NameTotal households ap...
4                                        District Name
..                                                 ...
642                                             Total:
643                                                NaN
644                                                NaN
645                                                NaN
646  Note: Figures shown above are indicative only ...

                                                    3   \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                Total households applied for job card
..                                                 ...
642                                          129596051
643                                                NaN
644                                                NaN
645                                                NaN
646  Note: Figures shown above are indicative only ...

                                                    4                     5   \
0                                                  NaN                   NaN
1                                                  NaN                   NaN
2                                                  NaN                   NaN
3                                                  NaN                   NaN
4                               Total job cards issued  Total job cards (SC)
..                                                 ...                   ...
642                                          125261953              26090440
643                                                NaN                   NaN
644                                                NaN                   NaN
645                                                NaN                   NaN
646  Note: Figures shown above are indicative only ...                   NaN

                       6                            7   \
0                     NaN                          NaN
1                     NaN                          NaN
2                     NaN                          NaN
3                     NaN                          NaN
4    Total job cards (ST)  Total job cards (non-SC/ST)
..                    ...                          ...
642              16078556                     83092957
643                   NaN                          NaN
644                   NaN                          NaN
645                   NaN                          NaN
646                   NaN                          NaN

                                 8                            9   ...  \
0                               NaN                          NaN  ...
1                               NaN                          NaN  ...
2                               NaN                          NaN  ...
3                               NaN                          NaN  ...
4    Total households demanded work  Total persons demanded work  ...
..                              ...                          ...  ...
642                        54650927                     83947619  ...
643                             NaN                          NaN  ...
644                             NaN                          NaN  ...
645                             NaN                          NaN  ...
646                             NaN                          NaN  ...

                                       18                          19  \
0                                     NaN                         NaN
1                                     NaN                         NaN
2                                     NaN                         NaN
3                                     NaN                         NaN
4    Total person-days worked (non-SC/ST)  Total SC households worked
..                                    ...                         ...
642                            1550472896                    10168564
643                                   NaN                         NaN
644                                   NaN                         NaN
645                                   NaN                         NaN
646                                   NaN                         NaN

                                  20                          21  \
0                                NaN                         NaN
1                                NaN                         NaN
2                                NaN                         NaN
3                                NaN                         NaN
4    Total person-days worked by SCs  Total ST households worked
..                               ...                         ...
642                        508808199                     8079062
643                              NaN                         NaN
644                              NaN                         NaN
645                              NaN                         NaN
646                              NaN                         NaN

                                  22                                       23  \
0                                NaN                                      NaN
1                                NaN                                      NaN
2                                NaN                                      NaN
3                                NaN                                      NaN
4    Total person-days worked by STs  Total land reform/IAY households worked
..                               ...                                      ...
642                        422904784                                  2007506
643                              NaN                                      NaN
644                              NaN                                      NaN
645                              NaN                                      NaN
646                              NaN                                      NaN

                                    24                 25  \
0                                  NaN                NaN
1                                  NaN                NaN
2                                  NaN                NaN
3                                  NaN                NaN
4    Total person-days worked by women  Total person-days
..                                 ...                ...
642                         1352685681         2482185879
643                                NaN                NaN
644                                NaN                NaN
645                                NaN                NaN
646                                NaN                NaN

                                         26  \
0                                       NaN
1                                       NaN
2                                       NaN
3                                       NaN
4    Total SC households over 100 day limit
..                                      ...
642                                  918562
643                                     NaN
644                                     NaN
645                                     NaN
646                                     NaN

                                         27
0                                       NaN
1                                       NaN
2                                       NaN
3                                       NaN
4    Total ST households over 100 day limit
..                                      ...
642                                  827893
643                                     NaN
644                                     NaN
645                                     NaN
646                                     NaN

[647 rows x 28 columns],       Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households applied for job card  Total job cards issued  \
0                                        0                       0
1                                        0                       0
2                                        0                       0
3                                        0                       0
4                                        0                       0
..                                     ...                     ...
633                                 736253                  730813
634                                 782936                  773968
635                                 505141                  499558
636                                  97452                   96732
637                              129596051               125261953

     Total job cards (SC)  Total job cards (ST)  Total job cards (non-SC/ST)  \
0                       0                     0                            0
1                       0                     0                            0
2                       0                     0                            0
3                       0                     0                            0
4                       0                     0                            0
..                    ...                   ...                          ...
633                158718                 98653                       473442
634                108567                  4796                       660605
635                 86443                 90005                       323110
636                 44087                 26076                        26569
637              26090440              16078556                     83092957

     Total households demanded work  Total persons demanded work  ...  \
0                                 0                            0  ...
1                                 0                            0  ...
2                                 0                            0  ...
3                                 0                            0  ...
4                                 0                            0  ...
..                              ...                          ...  ...
633                          271992                       525216  ...
634                          369786                       704714  ...
635                          161426                       330124  ...
636                           25009                        32157  ...
637                        54650927                     83947619  ...

     Total person-days worked (non-SC/ST)  Total SC households worked  \
0                                       0                           0
1                                       0                           0
2                                       0                           0
3                                       0                           0
4                                       0                           0
..                                    ...                         ...
633                              12571911                       66712
634                              22690155                       50946
635                               5219019                       23428
636                                410392                       10311
637                            1550472896                    10168564

     Total person-days worked by SCs  Total ST households worked  \
0                                  0                           0
1                                  0                           0
2                                  0                           0
3                                  0                           0
4                                  0                           0
..                               ...                         ...
633                          5524243                       32179
634                          3885630                        1791
635                          1563846                       27059
636                           668570                        6533
637                        508808199                     8079062

     Total person-days worked by STs  Total land reform/IAY households worked  \
0                                  0                                        0
1                                  0                                        0
2                                  0                                        0
3                                  0                                        0
4                                  0                                        0
..                               ...                                      ...
633                          2455709                                    38761
634                           124828                                    35830
635                          1717230                                     4753
636                           424327                                     1438
637                        422904784                                  2007506

     Total person-days worked by women  Total person-days  \
0                                    0                  0
1                                    0                  0
2                                    0                  0
3                                    0                  0
4                                    0                  0
..                                 ...                ...
633                            9225306           20551863
634                           14473316           26700613
635                            3979958            8500095
636                             968554            1503289
637                         1352685681         2482185879

     Total SC households over 100 day limit  \
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
633                                   29708
634                                   12090
635                                    3851
636                                    2641
637                                  918562

     Total ST households over 100 day limit
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
633                                   10370
634                                     274
635                                    3879
636                                    1579
637                                  827893

[638 rows x 28 columns]]

In [ ]:
dfs2_last_part.drop(columns={'Sno.','State Name','District Name'},inplace=True)
district_merged=pd.concat([dfs2_first_part,dfs2_last_part],axis=1,sort=False)
district_merged

,Sno.,State Name,District Name,Total households applied for job card,Total job cards issued,Total job cards (SC),Total job cards (ST),Total job cards (non-SC/ST),Total households demanded work,Total persons demanded work,...,Amount sanctioned (Rs. In Lakhs),Total works,Total bank accounts,Total individual bank accounts,Total joint bank accounts,Amount disbursed to bank accounts,Total post office accounts,Total individual post office accounts,Total joint post office accounts,Amount disbursed to post office accounts
0,1.0,ANDAMAN AND NICOBAR,NICOBARS,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2.0,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3.0,ANDAMAN AND NICOBAR,SOUTH ANDAMAN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4.0,DADRA & NAGAR HAVELI,DADRA AND NAGAR HAVELI,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5.0,DAMAN & DIU,DAMAN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,634.0,WEST BENGAL,PASCHIM MEDINIPUR,736253,730813,158718,98653,473442,271992,525216,...,4053846,243201,1235154,1192004,43150,3844183475,47051,40326,6725,24257
634,635.0,WEST BENGAL,PURBA MEDINIPUR,782936,773968,108567,4796,660605,369786,704714,...,7234173,457865,1293994,1258962,35032,4654053411,37794,37317,477,2548710
635,636.0,WEST BENGAL,PURULIA,505141,499558,86443,90005,323110,161426,330124,...,257395,136496,575412,560082,15330,1287069039,209544,198603,10941,26150738
636,637.0,WEST BENGAL,SILIGURI MAHAKUMA PARISAD,97452,96732,44087,26076,26569,25009,32157,...,10312,8096,113256,111594,1662,287815707,11806,11709,97,0
637,NaN,NaN,Total:,129596051,125261953,26090440,16078556,83092957,54650927,83947619,...,44882616789,29575294,137366608,131478094,5888514,419819370149,7500839,6685528,815311,2436192554

In [ ]:
district_merged.to_csv("district_merged.csv",index=False)

# dropdown 1

In [ ]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
# check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
# # print(check_box_trail)
# ##for checkbox in check_box_trail:
#     checkbox.click()
# driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# for i in range (0,33):
#     i = str(i+1)
#     try:
#         driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
#         i=int(i)
#     except:
#         continue
#         i=int(i)
#     i=int(i)
    
for i in range (1,13):
    i = str(i+1)
    li=['1-10','11-20','21-30','31-40','41-50','51-60','61-70','71-80','81-99','100','>100','>14']
    try:
        
        check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
        driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[4]').click()
        for checkbox in check_box_trail:
            checkbox.click()
        driver.find_element_by_xpath('//*[@id="regionselect"]/option[2]').click()
        for j in range (0,33):
            j = str(j+1)
            try:
                driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+j+']/label').click() #inside state
                j=int(j)
            except:
                continue
                j=int(j)
        j=int(j)
        driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click() #inside state
        i=int(i)
#         typeOf(i)
        driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
        driver.implicitly_wait(15)
        dfs = pd.read_html(driver.page_source)
        dfs2 = dfs[-1]
        if i==2:
            data_1=dfs2
        else:
            data_1[dfs2.columns[3]+li[i-2]]=dfs2.iloc[:,3]
                
                
        dfs2 = dfs[-1]
#                 dfs1.columns[3] = dfs[-1].dfs.loc[:,dfs.columns[2]]
        # dfs = dfs.T
        print(dfs2)
        sleep(5)
        driver.find_element_by_xpath('//*[@id="BtnBack"]').click() #inside state
        sleep(2)
#         driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click()
    except:
        continue    
#     i=int(i)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Driver [C:\Users\user\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households completed<br>person-days in range:
0                                                    0
1                                                    0
2                                                    0
3                                                    0
4                                                    0
..                                                 ...
633                                               2226
634                                              29993
635                                              18898
636                                               2825
637                                           28091321

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households completed<br>person-days in range:
0                                                    0
1                                                    0
2                                                    0
3                                                    0
4                                                    0
..                                                 ...
633                                             121174
634                                             148995
635                                             138505
636                                              22357
637                                          105447875

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households completed<br>person-days in range:
0                                                    0
1                                                    0
2                                                    0
3                                                    0
4                                                    0
..                                                 ...
633                                             284820
634                                             338954
635                                             298014
636                                              55194
637                                          169687889

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households completed<br>person-days in range:
0                                                    0
1                                                    0
2                                                    0
3                                                    0
4                                                    0
..                                                 ...
633                                             307164
634                                             546699
635                                             385737
636                                              75130
637                                          160951293

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households completed<br>person-days in range:
0                                                    0
1                                                    0
2                                                    0
3                                                    0
4                                                    0
..                                                 ...
633                                             638929
634                                             957940
635                                             542101
636                                             158813
637                                          201717926

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households completed<br>person-days in range:
0                                                    0
1                                                    0
2                                                    0
3                                                    0
4                                                    0
..                                                 ...
633                                            1050869
634                                            1505354
635                                             656191
636                                             147638
637                                          215196249

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households completed<br>person-days in range:
0                                                    0
1                                                    0
2                                                    0
3                                                    0
4                                                    0
..                                                 ...
633                                            1127697
634                                            1808535
635                                             712288
636                                             131610
637                                          198533980

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households completed<br>person-days in range:
0                                                    0
1                                                    0
2                                                    0
3                                                    0
4                                                    0
..                                                 ...
633                                            1526622
634                                            2423534
635                                             757546
636                                              90041
637                                          223944643

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households completed<br>person-days in range:
0                                                    0
1                                                    0
2                                                    0
3                                                    0
4                                                    0
..                                                 ...
633                                            5381873
634                                           10114511
635                                            3101311
636                                             257407
637                                          652847533

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households completed<br>person-days in range:
0                                                    0
1                                                    0
2                                                    0
3                                                    0
4                                                    0
..                                                 ...
633                                            9962100
634                                            8373600
635                                            1542300
636                                             559900
637                                          256244100

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households completed<br>person-days in range:
0                                                    0
1                                                    0
2                                                    0
3                                                    0
4                                                    0
..                                                 ...
633                                             152620
634                                             510008
635                                             352087
636                                               2374
637                                          267846381

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households completed<br>person-days in range:
0                                                    0
1                                                    0
2                                                    0
3                                                    0
4                                                    0
..                                                 ...
633                                           20551618
634                                           26682486
635                                            8447291
636                                            1494038
637                                         2403324656

[638 rows x 4 columns]

In [ ]:
data_1.rename(columns = {'Total households completed<br>person-days in range:':'Total households completed<br>person-days in range:1-10'}, inplace = True)

In [ ]:
data_1.to_csv("dis_dropdown_1.csv",index=False)

In [ ]:
data_1

,Sno.,State Name,District Name,Total households completed<br>person-days in range:1-10,Total households completed<br>person-days in range:11-20,Total households completed<br>person-days in range:21-30,Total households completed<br>person-days in range:31-40,Total households completed<br>person-days in range:41-50,Total households completed<br>person-days in range:51-60,Total households completed<br>person-days in range:61-70,Total households completed<br>person-days in range:71-80,Total households completed<br>person-days in range:81-99,Total households completed<br>person-days in range:100,Total households completed<br>person-days in range:>100,Total households completed<br>person-days in range:>14
0,1.0,ANDAMAN AND NICOBAR,NICOBARS,0,0,0,0,0,0,0,0,0,0,0,0
1,2.0,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,0,0,0,0,0,0,0,0,0,0,0,0
2,3.0,ANDAMAN AND NICOBAR,SOUTH ANDAMAN,0,0,0,0,0,0,0,0,0,0,0,0
3,4.0,DADRA & NAGAR HAVELI,DADRA AND NAGAR HAVELI,0,0,0,0,0,0,0,0,0,0,0,0
4,5.0,DAMAN & DIU,DAMAN,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,634.0,WEST BENGAL,PASCHIM MEDINIPUR,2226,121174,284820,307164,638929,1050869,1127697,1526622,5381873,9962100,152620,20551618
634,635.0,WEST BENGAL,PURBA MEDINIPUR,29993,148995,338954,546699,957940,1505354,1808535,2423534,10114511,8373600,510008,26682486
635,636.0,WEST BENGAL,PURULIA,18898,138505,298014,385737,542101,656191,712288,757546,3101311,1542300,352087,8447291
636,637.0,WEST BENGAL,SILIGURI MAHAKUMA PARISAD,2825,22357,55194,75130,158813,147638,131610,90041,257407,559900,2374,1494038
637,NaN,NaN,Total:,28091321,105447875,169687889,160951293,201717926,215196249,198533980,223944643,652847533,256244100,267846381,2403324656

# Dropdown 2

In [ ]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
# check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
# # print(check_box_trail)
# ##for checkbox in check_box_trail:
#     checkbox.click()
# driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# for i in range (0,33):
#     i = str(i+1)
#     try:
#         driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
#         i=int(i)
#     except:
#         continue
#         i=int(i)
#     i=int(i)
    
for i in range (1,6):
    i = str(i+1)
    li=['18-30yrs','30-40yrs','40-50yrs','50-60yrs','>60yrs']
    try:
        
        check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[26:27]
        driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[4]').click()
        for checkbox in check_box_trail:
            checkbox.click()
        driver.find_element_by_xpath('//*[@id="regionselect"]/option[2]').click()
        for j in range (0,33):
            j = str(j+1)
            try:
                driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+j+']/label').click() #inside state
                j=int(j)
            except:
                continue
                j=int(j)
        j=int(j)
        driver.find_element_by_xpath('//*[@id="DdlstTxtBox9"]/option['+i+']').click() #inside state
        i=int(i)
#         typeOf(i)
        driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
        driver.implicitly_wait(15)
        dfs = pd.read_html(driver.page_source)
        dfs2 = dfs[-1]
        if i==2:
            data_2=dfs2
        else:
            data_2[dfs2.columns[3]+li[i-2]]=dfs2.iloc[:,3]
                
                
        dfs2 = dfs[-1]
#                 dfs1.columns[3] = dfs[-1].dfs.loc[:,dfs.columns[2]]
        # dfs = dfs.T
        print(dfs2)
        sleep(3)
        driver.find_element_by_xpath('//*[@id="BtnBack"]').click() #inside state
        sleep(1)
#         driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click()
    except:
        continue    
#     i=int(i)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Driver [C:\Users\user\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total workers employed<br>in age group:
0                                          0
1                                          0
2                                          0
3                                          0
4                                          0
..                                       ...
633                                    15869
634                                    22223
635                                     8074
636                                     1484
637                                  5420417

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total workers employed<br>in age group:
0                                          0
1                                          0
2                                          0
3                                          0
4                                          0
..                                       ...
633                                   148808
634                                   179419
635                                    76039
636                                     9403
637                                 21328263

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total workers employed<br>in age group:
0                                          0
1                                          0
2                                          0
3                                          0
4                                          0
..                                       ...
633                                   151405
634                                   200476
635                                    77293
636                                     9732
637                                 21548868

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total workers employed<br>in age group:
0                                          0
1                                          0
2                                          0
3                                          0
4                                          0
..                                       ...
633                                   108895
634                                   142131
635                                    52363
636                                     6211
637                                 14565172

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total workers employed<br>in age group:
0                                          0
1                                          0
2                                          0
3                                          0
4                                          0
..                                       ...
633                                    52680
634                                    86799
635                                    26413
636                                     3246
637                                  8620727

[638 rows x 4 columns]

In [ ]:
data_2.rename(columns = {'Total workers employed<br>in age group:':'Total workers employed<br>in age group:18-30yrs'}, inplace = True)

In [ ]:
data_2.to_csv("dis_dropdown_2.csv",index=False)

In [ ]:
data_2.head()

,Sno.,State Name,District Name,Total workers employed<br>in age group:18-30yrs,Total workers employed<br>in age group:30-40yrs,Total workers employed<br>in age group:40-50yrs,Total workers employed<br>in age group:50-60yrs,Total workers employed<br>in age group:>60yrs
0,1.0,ANDAMAN AND NICOBAR,NICOBARS,0,0,0,0,0
1,2.0,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,0,0,0,0,0
2,3.0,ANDAMAN AND NICOBAR,SOUTH ANDAMAN,0,0,0,0,0
3,4.0,DADRA & NAGAR HAVELI,DADRA AND NAGAR HAVELI,0,0,0,0,0
4,5.0,DAMAN & DIU,DAMAN,0,0,0,0,0

# dropdown 3

In [ ]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
# check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
# # print(check_box_trail)
# ##for checkbox in check_box_trail:
#     checkbox.click()
# driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# for i in range (0,33):
#     i = str(i+1)
#     try:
#         driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
#         i=int(i)
#     except:
#         continue
#         i=int(i)
#     i=int(i)
    
for i in range (1,13):
    i = str(i+1)
    try:
        
        check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[27:28]
        driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[4]').click()
        for checkbox in check_box_trail:
            checkbox.click()
        driver.find_element_by_xpath('//*[@id="regionselect"]/option[2]').click()
        for j in range (0,33):
            j = str(j+1)
            try:
                driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+j+']/label').click() #inside state
                j=int(j)
            except:
                continue
                j=int(j)
        j=int(j)
        driver.find_element_by_xpath('//*[@id="DdlstTxtBox5"]/option['+i+']').click() #inside state
        i=int(i)
#         typeOf(i)
        driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
        driver.implicitly_wait(15)
        dfs = pd.read_html(driver.page_source)
        dfs2 = dfs[-1]
        if i==2:
            data_3=dfs2
        else:
            data_3[dfs2.columns[3]]=dfs2.iloc[:,3]
                
                
        dfs2 = dfs[-1]
#                 dfs1.columns[3] = dfs[-1].dfs.loc[:,dfs.columns[2]]
        # dfs = dfs.T
        print(dfs2)
        sleep(5)
        driver.find_element_by_xpath('//*[@id="BtnBack"]').click() #inside state
        sleep(2)
#         driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click()
    except:
        continue    
#     i=int(i)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Driver [C:\Users\user\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households demanded<br>work(Apr)
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
633                                   29976
634                                   91658
635                                   32224
636                                    2252
637                                14378634

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households demanded<br>work(May)
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
633                                   48348
634                                  103264
635                                   23560
636                                    2328
637                                17971678

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households demanded<br>work(Jun)
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
633                                  132047
634                                  144286
635                                   48093
636                                    3326
637                                20671389

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households demanded<br>work(Jul)
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
633                                   87201
634                                   93948
635                                   77838
636                                    3066
637                                16705009

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households demanded<br>work(Aug)
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
633                                   64010
634                                   73152
635                                   43790
636                                    3453
637                                14566949

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households demanded<br>work(Sep)
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
633                                  111239
634                                  103202
635                                   46290
636                                    6632
637                                13879229

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households demanded<br>work(Oct)
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
633                                  129871
634                                  124986
635                                   52620
636                                    6939
637                                15427771

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households demanded<br>work(Nov)
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
633                                  125678
634                                  171955
635                                   69796
636                                   11669
637                                16275699

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households demanded<br>work(Dec)
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
633                                  117660
634                                  199676
635                                   56622
636                                   12648
637                                18805715

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households demanded<br>work(Jan)
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
633                                  101108
634                                  148788
635                                   35565
636                                   10197
637                                20625301

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households demanded<br>work(Feb)
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
633                                   39851
634                                   63727
635                                   18562
636                                    6623
637                                20453103

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households demanded<br>work(Mar)
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
633                                   17312
634                                   25354
635                                   13457
636                                    1768
637                                18888452

[638 rows x 4 columns]

In [ ]:
data_3

,Sno.,State Name,District Name,Total households demanded<br>work(Apr),Total households demanded<br>work(May),Total households demanded<br>work(Jun),Total households demanded<br>work(Jul),Total households demanded<br>work(Aug),Total households demanded<br>work(Sep),Total households demanded<br>work(Oct),Total households demanded<br>work(Nov),Total households demanded<br>work(Dec),Total households demanded<br>work(Jan),Total households demanded<br>work(Feb),Total households demanded<br>work(Mar)
0,1.0,ANDAMAN AND NICOBAR,NICOBARS,0,0,0,0,0,0,0,0,0,0,0,0
1,2.0,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,0,0,0,0,0,0,0,0,0,0,0,0
2,3.0,ANDAMAN AND NICOBAR,SOUTH ANDAMAN,0,0,0,0,0,0,0,0,0,0,0,0
3,4.0,DADRA & NAGAR HAVELI,DADRA AND NAGAR HAVELI,0,0,0,0,0,0,0,0,0,0,0,0
4,5.0,DAMAN & DIU,DAMAN,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,634.0,WEST BENGAL,PASCHIM MEDINIPUR,29976,48348,132047,87201,64010,111239,129871,125678,117660,101108,39851,17312
634,635.0,WEST BENGAL,PURBA MEDINIPUR,91658,103264,144286,93948,73152,103202,124986,171955,199676,148788,63727,25354
635,636.0,WEST BENGAL,PURULIA,32224,23560,48093,77838,43790,46290,52620,69796,56622,35565,18562,13457
636,637.0,WEST BENGAL,SILIGURI MAHAKUMA PARISAD,2252,2328,3326,3066,3453,6632,6939,11669,12648,10197,6623,1768
637,NaN,NaN,Total:,14378634,17971678,20671389,16705009,14566949,13879229,15427771,16275699,18805715,20625301,20453103,18888452

In [ ]:
data_3.to_csv("dis_dropdown_3.csv",index=False)

# dropdown 4

In [ ]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
# check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
# # print(check_box_trail)
# ##for checkbox in check_box_trail:
#     checkbox.click()
# driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# for i in range (0,33):
#     i = str(i+1)
#     try:
#         driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
#         i=int(i)
#     except:
#         continue
#         i=int(i)
#     i=int(i)
    
for i in range (1,13):
    i = str(i+1)
    try:
        
        check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[28:29]
        driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[4]').click()
        for checkbox in check_box_trail:
            checkbox.click()
        driver.find_element_by_xpath('//*[@id="regionselect"]/option[2]').click()
        for j in range (0,33):
            j = str(j+1)
            try:
                driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+j+']/label').click() #inside state
                j=int(j)
            except:
                continue
                j=int(j)
        j=int(j)
        driver.find_element_by_xpath('//*[@id="DdlstTxtBox6"]/option['+i+']').click() #inside state
        i=int(i)
#         typeOf(i)
        driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
        driver.implicitly_wait(15)
        dfs = pd.read_html(driver.page_source)
        dfs2 = dfs[-1]
        if i==2:
            data_4=dfs2
        else:
            data_4[dfs2.columns[3]]=dfs2.iloc[:,3]
                
                
        dfs2 = dfs[-1]
#                 dfs1.columns[3] = dfs[-1].dfs.loc[:,dfs.columns[2]]
        # dfs = dfs.T
        print(dfs2)
        sleep(2)
        driver.find_element_by_xpath('//*[@id="BtnBack"]').click() #inside state
        sleep(2)
#         driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click()
    except:
        continue    
#     i=int(i)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Driver [C:\Users\user\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons demanded work(Apr)
0                                   0
1                                   0
2                                   0
3                                   0
4                                   0
..                                ...
633                             39798
634                            125801
635                             51262
636                              2443
637                          21010515

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons demanded work(May)
0                                   0
1                                   0
2                                   0
3                                   0
4                                   0
..                                ...
633                             62687
634                            136073
635                             37238
636                              2580
637                          26095020

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons demanded work(Jun)
0                                   0
1                                   0
2                                   0
3                                   0
4                                   0
..                                ...
633                            184440
634                            201746
635                             78969
636                              3581
637                          29218673

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons demanded work(Jul)
0                                   0
1                                   0
2                                   0
3                                   0
4                                   0
..                                ...
633                            126582
634                            137481
635                            128854
636                              3266
637                          22359412

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons demanded work(Aug)
0                                   0
1                                   0
2                                   0
3                                   0
4                                   0
..                                ...
633                             95726
634                            108799
635                             67334
636                              3585
637                          19019892

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons demanded work(Sep)
0                                   0
1                                   0
2                                   0
3                                   0
4                                   0
..                                ...
633                            173681
634                            155318
635                             70426
636                              7123
637                          18034924

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons demanded work(Oct)
0                                   0
1                                   0
2                                   0
3                                   0
4                                   0
..                                ...
633                            203202
634                            185520
635                             83259
636                              7754
637                          20185937

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons demanded work(Nov)
0                                   0
1                                   0
2                                   0
3                                   0
4                                   0
..                                ...
633                            190287
634                            264674
635                            115301
636                             14162
637                          21020761

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons demanded work(Dec)
0                                   0
1                                   0
2                                   0
3                                   0
4                                   0
..                                ...
633                            180481
634                            301350
635                             92527
636                             15116
637                          24687610

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons demanded work(Jan)
0                                   0
1                                   0
2                                   0
3                                   0
4                                   0
..                                ...
633                            153053
634                            209404
635                             56799
636                             12096
637                          27089017

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons demanded work(Feb)
0                                   0
1                                   0
2                                   0
3                                   0
4                                   0
..                                ...
633                             56305
634                             84091
635                             29004
636                              7715
637                          26869873

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons demanded work(Mar)
0                                   0
1                                   0
2                                   0
3                                   0
4                                   0
..                                ...
633                             23764
634                             33799
635                             20215
636                              1974
637                          25038187

[638 rows x 4 columns]

In [ ]:
data_4.to_csv("dis_dropdown_4.csv",index=False)

# dropdown5

In [ ]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
# check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
# # print(check_box_trail)
# ##for checkbox in check_box_trail:
#     checkbox.click()
# driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# for i in range (0,33):
#     i = str(i+1)
#     try:
#         driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
#         i=int(i)
#     except:
#         continue
#         i=int(i)
#     i=int(i)
    
for i in range (1,13):
    i = str(i+1)
    try:
        
        check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[29:30]
        driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[4]').click()
        for checkbox in check_box_trail:
            checkbox.click()
        driver.find_element_by_xpath('//*[@id="regionselect"]/option[2]').click()
        for j in range (0,33):
            j = str(j+1)
            try:
                driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+j+']/label').click() #inside state
                j=int(j)
            except:
                continue
                j=int(j)
        j=int(j)
        driver.find_element_by_xpath('//*[@id="DdlstTxtBox7"]/option['+i+']').click() #inside state
        i=int(i)
#         typeOf(i)
        driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
        driver.implicitly_wait(15)
        dfs = pd.read_html(driver.page_source)
        dfs2 = dfs[-1]
        if i==2:
            data_5=dfs2
        else:
            data_5[dfs2.columns[3]]=dfs2.iloc[:,3]
                
                
        dfs2 = dfs[-1]
#                 dfs1.columns[3] = dfs[-1].dfs.loc[:,dfs.columns[2]]
        # dfs = dfs.T
        print(dfs2)
        sleep(2)
        driver.find_element_by_xpath('//*[@id="BtnBack"]').click() #inside state
        sleep(2)
#         driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click()
    except:
        continue    
#     i=int(i)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Driver [C:\Users\user\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households worked(Apr)
0                               0
1                               0
2                               0
3                               0
4                               0
..                            ...
633                         25267
634                         80838
635                         21830
636                          1953
637                      11245292

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households worked(May)
0                               0
1                               0
2                               0
3                               0
4                               0
..                            ...
633                         45549
634                        104347
635                         17947
636                          2849
637                      15021578

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households worked(Jun)
0                               0
1                               0
2                               0
3                               0
4                               0
..                            ...
633                        125091
634                        148857
635                         37604
636                          3752
637                      17674399

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households worked(Jul)
0                               0
1                               0
2                               0
3                               0
4                               0
..                            ...
633                         87243
634                         94300
635                         60672
636                          3731
637                      13938444

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households worked(Aug)
0                               0
1                               0
2                               0
3                               0
4                               0
..                            ...
633                         64823
634                         83265
635                         34314
636                          3766
637                      12287804

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households worked(Sep)
0                               0
1                               0
2                               0
3                               0
4                               0
..                            ...
633                        110619
634                        104602
635                         39859
636                          6790
637                      11842129

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households worked(Oct)
0                               0
1                               0
2                               0
3                               0
4                               0
..                            ...
633                        134562
634                        129311
635                         48624
636                          8673
637                      13064612

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households worked(Nov)
0                               0
1                               0
2                               0
3                               0
4                               0
..                            ...
633                        128367
634                        169142
635                         66492
636                         12238
637                      13882176

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households worked(Dec)
0                               0
1                               0
2                               0
3                               0
4                               0
..                            ...
633                        119827
634                        206337
635                         51705
636                         14063
637                      16060269

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households worked(Jan)
0                               0
1                               0
2                               0
3                               0
4                               0
..                            ...
633                        104999
634                        160318
635                         31842
636                         12248
637                      17535191

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households worked(Feb)
0                               0
1                               0
2                               0
3                               0
4                               0
..                            ...
633                         44097
634                         60393
635                         15837
636                          7912
637                      17178032

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households worked(Mar)
0                               0
1                               0
2                               0
3                               0
4                               0
..                            ...
633                         17587
634                         22898
635                         10757
636                          2971
637                      15428093

[638 rows x 4 columns]

In [ ]:
data_5.to_csv("dis_dropdown_5.csv",index=False)

# dropdown 6

In [ ]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
# check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
# # print(check_box_trail)
# ##for checkbox in check_box_trail:
#     checkbox.click()
# driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# for i in range (0,33):
#     i = str(i+1)
#     try:
#         driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
#         i=int(i)
#     except:
#         continue
#         i=int(i)
#     i=int(i)
    
for i in range (1,13):
    i = str(i+1)
    try:
        
        check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[30:31]
        driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[4]').click()
        for checkbox in check_box_trail:
            checkbox.click()
        driver.find_element_by_xpath('//*[@id="regionselect"]/option[2]').click()
        for j in range (0,33):
            j = str(j+1)
            try:
                driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+j+']/label').click() #inside state
                j=int(j)
            except:
                continue
                j=int(j)
        j=int(j)
        driver.find_element_by_xpath('//*[@id="DdlstTxtBox8"]/option['+i+']').click() #inside state
        i=int(i)
#         typeOf(i)
        driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
        driver.implicitly_wait(15)
        dfs = pd.read_html(driver.page_source)
        dfs2 = dfs[-1]
        if i==2:
            data_6=dfs2
        else:
            data_6[dfs2.columns[3]]=dfs2.iloc[:,3]
                
                
        dfs2 = dfs[-1]
#                 dfs1.columns[3] = dfs[-1].dfs.loc[:,dfs.columns[2]]
        # dfs = dfs.T
        print(dfs2)
        sleep(2)
        driver.find_element_by_xpath('//*[@id="BtnBack"]').click() #inside state
        sleep(2)
#         driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click()
    except:
        continue    
#     i=int(i)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Driver [C:\Users\user\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons worked(Apr)
0                            0
1                            0
2                            0
3                            0
4                            0
..                         ...
633                     406383
634                    1330298
635                     450501
636                      30095
637                  174445210

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons worked(May)
0                            0
1                            0
2                            0
3                            0
4                            0
..                         ...
633                     692126
634                    1575077
635                     331527
636                      49230
637                  252135143

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons worked(Jun)
0                            0
1                            0
2                            0
3                            0
4                            0
..                         ...
633                    2257856
634                    2656168
635                     733985
636                      57004
637                  264597209

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons worked(Jul)
0                            0
1                            0
2                            0
3                            0
4                            0
..                         ...
633                    1654160
634                    1954225
635                    1174251
636                      67809
637                  191663616

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons worked(Aug)
0                            0
1                            0
2                            0
3                            0
4                            0
..                         ...
633                    1273543
634                    1802212
635                     658809
636                      64660
637                  164047176

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons worked(Sep)
0                            0
1                            0
2                            0
3                            0
4                            0
..                         ...
633                    2371790
634                    2114155
635                     713116
636                     114596
637                  153485669

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons worked(Oct)
0                            0
1                            0
2                            0
3                            0
4                            0
..                         ...
633                    3193818
634                    2856901
635                    1050802
636                     165787
637                  180976444

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons worked(Nov)
0                            0
1                            0
2                            0
3                            0
4                            0
..                         ...
633                    2749324
634                    3501631
635                    1283293
636                     257027
637                  190694978

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons worked(Dec)
0                            0
1                            0
2                            0
3                            0
4                            0
..                         ...
633                    2676633
634                    4609622
635                    1010764
636                     319959
637                  229857549

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons worked(Jan)
0                            0
1                            0
2                            0
3                            0
4                            0
..                         ...
633                    2296948
634                    3188332
635                     646948
636                     229704
637                  251390835

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons worked(Feb)
0                            0
1                            0
2                            0
3                            0
4                            0
..                         ...
633                     747717
634                     875511
635                     297107
636                     117101
637                  235470808

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons worked(Mar)
0                            0
1                            0
2                            0
3                            0
4                            0
..                         ...
633                     231565
634                     236481
635                     148992
636                      30317
637                  193304109

[638 rows x 4 columns]

In [ ]:
data_6.to_csv("dis_dropdown_6.csv",index=False)

In [ ]:
district_merged.head()

,Sno.,State Name,District Name,Total households applied for job card,Total job cards issued,Total job cards (SC),Total job cards (ST),Total job cards (non-SC/ST),Total households demanded work,Total persons demanded work,...,Amount sanctioned (Rs. In Lakhs),Total works,Total bank accounts,Total individual bank accounts,Total joint bank accounts,Amount disbursed to bank accounts,Total post office accounts,Total individual post office accounts,Total joint post office accounts,Amount disbursed to post office accounts
0,1.0,ANDAMAN AND NICOBAR,NICOBARS,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2.0,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3.0,ANDAMAN AND NICOBAR,SOUTH ANDAMAN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4.0,DADRA & NAGAR HAVELI,DADRA AND NAGAR HAVELI,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5.0,DAMAN & DIU,DAMAN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
d1=pd.read_csv("dis_dropdown_1.csv")
d2=pd.read_csv("dis_dropdown_2.csv")
d3=pd.read_csv("dis_dropdown_3.csv")
d4=pd.read_csv("dis_dropdown_4.csv")
d5=pd.read_csv("dis_dropdown_5.csv")
d6=pd.read_csv("dis_dropdown_6.csv")

In [ ]:
#file2=pd.read_csv("district_merged.csv")

In [ ]:
#file2.head()

In [ ]:
#d6.shape

In [ ]:
d1.drop(columns={"Sno.","State Name","District Name"},inplace=True)
d2.drop(columns={"Sno.","State Name","District Name"},inplace=True)
d3.drop(columns={"Sno.","State Name","District Name"},inplace=True)
d4.drop(columns={"Sno.","State Name","District Name"},inplace=True)
d5.drop(columns={"Sno.","State Name","District Name"},inplace=True)
d6.drop(columns={"Sno.","State Name","District Name"},inplace=True)

In [ ]:
combined_2018_19_district=pd.concat([district_merged,d1,d2,d3,d4,d5,d6],axis=1,sort=False)

In [ ]:
combined_2018_19_district.head()

,Sno.,State Name,District Name,Total households applied for job card,Total job cards issued,Total job cards (SC),Total job cards (ST),Total job cards (non-SC/ST),Total households demanded work,Total persons demanded work,...,Total persons worked(Jun),Total persons worked(Jul),Total persons worked(Aug),Total persons worked(Sep),Total persons worked(Oct),Total persons worked(Nov),Total persons worked(Dec),Total persons worked(Jan),Total persons worked(Feb),Total persons worked(Mar)
0,1.0,ANDAMAN AND NICOBAR,NICOBARS,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2.0,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3.0,ANDAMAN AND NICOBAR,SOUTH ANDAMAN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4.0,DADRA & NAGAR HAVELI,DADRA AND NAGAR HAVELI,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5.0,DAMAN & DIU,DAMAN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
combined_2018_19_district.to_csv("combined_2018_19_district.csv")

In [ ]:
ssssssssssssssssssssssssssssssss

# BLOCK

In [ ]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[:25]
# print(check_box_trail)
for checkbox in check_box_trail:
    checkbox.click()
driver.find_element_by_xpath('//*[@id="regionselect"]/option[3]').click()
# driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li[1]/label').click() #inside state

# try:
for i in range (0,33):
    i = str(i+1)
    try:
        driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
        i=int(i)
    except:
        continue
        i=int(i)
#     sleep(0.1)
#     i=int(i)
driver.find_element_by_xpath('//*[@id="viewDummy"]').click()

# except:
#     pass
# driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li[3]').click()
# # sleep(2)
# driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
# # sleep(15)
# driver.quit()
# df_list = pd.read_html('https://nregarep2.nic.in/netnrega/dynamic2/ReportGenerated.aspx')
dfs = pd.read_html(driver.page_source)
dfs3_first_part = dfs[-1]
# dfs = dfs.T
print(dfs)
# dfs.to_csv('Animal.csv',index=0)
sleep(25)
driver.quit()