In [1]:
!pip install webdriver-manager

Collecting webdriver-manager
  Downloading webdriver_manager-3.2.2-py2.py3-none-any.whl (16 kB)
Collecting crayons
  Downloading crayons-0.4.0-py2.py3-none-any.whl (4.6 kB)
Requirement already satisfied: configparser in c:\users\abhishek\anaconda3\lib\site-packages (from webdriver-manager) (3.5.3)
Requirement already satisfied: requests in c:\users\abhishek\anaconda3\lib\site-packages (from webdriver-manager) (2.22.0)
Requirement already satisfied: colorama in c:\users\abhishek\anaconda3\lib\site-packages (from crayons->webdriver-manager) (0.4.1)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\abhishek\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\abhishek\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\abhishek\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\abhishek\anaconda3\lib\site-packages (from requests->webdriver-manager) (2019.9.11)
Installing collected packages: crayons, webdriver-manager
Successfully installed crayons-0.4.0 webdriver-manager-3.2.2

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
WARNING: You are using pip version 20.2.3; however, version 20.3.1 is available.
You should consider upgrading via the 'C:\Users\Abhishek\Anaconda3\python.exe -m pip install --upgrade pip' command.

In [3]:
from bs4 import BeautifulSoup as soup
import lxml
import requests
from selenium import webdriver
# import smtplib
# import schedule 
import time
from time import sleep
# import threading
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import numpy as np

## Making the data to Display for selected 23 varibles with all states data (India).

### This Code is only for First 23 Variables

In [73]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[:25]

# print(check_box_trail)
for checkbox in check_box_trail:
    checkbox.click()
driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li[1]/label').click() #inside state
driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[10]').click()

# try:
for i in range (0,33):
    i = str(i+1)
    try:
        driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
        i=int(i)
    except:
        continue
        i=int(i)
#     sleep(0.1)
#     i=int(i)
driver.find_element_by_xpath('//*[@id="viewDummy"]').click()

# except:
#     pass
# driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li[3]').click()
# # sleep(2)
# driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
# # sleep(15)
# driver.quit()
# df_list = pd.read_html('https://nregarep2.nic.in/netnrega/dynamic2/ReportGenerated.aspx')
dfs = pd.read_html(driver.page_source)
dfs_first_part = dfs[-1]
# dfs = dfs.T
print(dfs)
# dfs.to_csv('Animal.csv',index=0)
sleep(10)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Driver [C:\Users\Abhishek\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

[                                                   0   \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                Sno.
5                                                   1
6                                                   2
7                                                   3
8                                                   4
9                                                   5
10                                                  6
11                                                  7
12                                                  8
13                                                  9
14                                                 10
15                                                 11
16                                                 12
17                                                 13
18                                                 14
19                                                 15
20                                                 16
21                                                 17
22                                                 18
23                                                 19
24                                                 20
25                                                 21
26                                                 22
27                                                 23
28                                                 24
29                                                 25
30                                                 26
31                                                 27
32                                                 28
33                                                 29
34                                                 30
35                                                 31
36                                                 32
37                                                 33
38                                                NaN
39                                                NaN
40                                                NaN
41                                                NaN
42  Note: Figures shown above are indicative only ...

                                                   1   \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                          State Name
5                                 ANDAMAN AND NICOBAR
6                                DADRA & NAGAR HAVELI
7                                         DAMAN & DIU
8                                         LAKSHADWEEP
9                                            NAGALAND
10                                     ANDHRA PRADESH
11                                  ARUNACHAL PRADESH
12                                              ASSAM
13                                              BIHAR
14                                       CHHATTISGARH
15                                                GOA
16                                            GUJARAT
17                                            HARYANA
18                                   HIMACHAL PRADESH
19                                  JAMMU AND KASHMIR
20                                          JHARKHAND
21                                          KARNATAKA
22                                             KERALA
23                                     MADHYA PRADESH
24                                        MAHARASHTRA
25                                            MANIPUR
26                                          MEGHALAYA
27                                            MIZORAM
28                                             ODISHA
29                                         PUDUCHERRY
30                                             PUNJAB
31                                          RAJASTHAN
32                                             SIKKIM
33                                         TAMIL NADU
34                                            TRIPURA
35                                      UTTAR PRADESH
36                                        UTTARAKHAND
37                                        WEST BENGAL
38                                             Total:
39                                                NaN
40                                                NaN
41                                                NaN
42  Note: Figures shown above are indicative only ...

                                                   2   \
0        MGNREGA Public Data Portal For FY: 2012-2013
1                                                 NaN
2                                                 NaN
3   Sno.State NameTotal households applied for job...
4               Total households applied for job card
5                                               48489
6                                                8176
7                                                   0
8                                                8493
9                                              398035
10                                            8524226
11                                             181538
12                                            4031420
13                                           13350085
14                                            4458232
15                                              33014
16                                            3825753
17                                             750233
18                                            1152052
19                                            1178541
20                                            4034328
21                                            5476169
22                                            2554190
23                                           12161930
24                                            7388579
25                                             485026
26                                             467435
27                                             217387
28                                            6318527
29                                              67733
30                                             927299
31                                            9985194
32                                              84625
33                                            9344972
34                                             642073
35                                           15325945
36                                            1066326
37                                           11495899
38                                          125991924
39                                                NaN
40                                                NaN
41                                                NaN
42  Note: Figures shown above are indicative only ...

                                                   3   \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                              Total job cards issued
5                                               48485
6                                                3554
7                                                   0
8                                                8424
9                                              397829
10                                            8524226
11                                             180884
12                                            4010637
13                                           13107228
14                                            4419190
15                                              30427
16                                            3823002
17                                             749498
18                                            1147401
19                                            1078827
20                                            4013536
21                                            5464013
22                                            2541736
23                                           12088663
24                                            7091278
25                                             478022
26                                             466989
27                                             217370
28                                            6305314
29                                              67157
30                                             922247
31                                            9948502
32                                              84273
33                                            9228418
34                                             641573
35                                           15141011
36                                            1055448
37                                           11462073
38                                          124747235
39                                                NaN
40                                                NaN
41                                                NaN
42  Note: Figures shown above are indicative only ...

                                                   4                     5   \
0                                                 NaN                   NaN
1                                                 NaN                   NaN
2                                                 NaN                   NaN
3                                                 NaN                   NaN
4                                Total job cards (SC)  Total job cards (ST)
5                                                   4                  3976
6                                                   1                  3499
7                                                   0                     0
8                                                   8                  8321
9                                                3545                372154
10                                            2112061                680485
11                                                101                165546
12                                             247060                658009
13                                            3456481                220949
14                                             462493               1466671
15                                                742                  8959
16                                             315364               1286378
17                                             363635                    36
18                                             314465                 68800
19                                              77924                159771
20                                             536764               1508850
21                                             936396                460213
22                                             318006                 55861
23                                            1822223               2827746
24                                             717685               1001945
25                                               9940                235321
26                                               3922                427894
27                                                152                216689
28                                            1190382               1778354
29                                              19008                    75
30                                             702683                   242
31                                            1807577               1736117
32                                               4247                 30677
33                                            2672006                145815
34                                             116180                249792
35                                            4784637                157698
36                                             218121                 37814
37                                            3244045                899538
38                                           26457858              16874195
39                                                NaN                   NaN
40                                                NaN                   NaN
41                                                NaN                   NaN
42  Note: Figures shown above are indicative only ...                   NaN

                             6                               7   \
0                           NaN                             NaN
1                           NaN                             NaN
2                           NaN                             NaN
3                           NaN                             NaN
4   Total job cards (non-SC/ST)  Total households demanded work
5                         44505                           18212
6                            54                               4
7                             0                               0
8                            95                            1963
9                         22130                          387007
10                      5731680                               0
11                        15237                          154737
12                      3105568                         1247461
13                      9429798                         2195457
14                      2490026                         2731810
15                        20726                            5065
16                      2221260                          749599
17                       385827                          302180
18                       764136                          546180
19                       841132                          658644
20                      1967922                         1434853
21                      4067404                         1470412
22                      2167869                         1693873
23                      7438694                         3541426
24                      5371648                         1643829
25                       232761                          457894
26                        35173                          333599
27                          529                          175679
28                      3336578                         1766483
29                        48074                           41448
30                       219322                          247296
31                      6404808                         4535820
32                        49349                           57169
33                      6410597                         7105314
34                       275601                          597430
35                     10198676                         5232918
36                       799513                          443674
37                      7318490                         5844592
38                     81415182                        45622028
39                          NaN                             NaN
40                          NaN                             NaN
41                          NaN                             NaN
42                          NaN                             NaN

                             8                               9   ...  \
0                           NaN                             NaN  ...
1                           NaN                             NaN  ...
2                           NaN                             NaN  ...
3                           NaN                             NaN  ...
4   Total persons demanded work  Total households allotted work  ...
5                         21840                           18238  ...
6                             4                               3  ...
7                             0                               0  ...
8                          2076                            1961  ...
9                        411424                          387006  ...
10                            0                               0  ...
11                       159853                          146239  ...
12                      1487274                         1247633  ...
13                      2820898                         2194758  ...
14                      5680271                         2731658  ...
15                         5282                            5065  ...
16                      1491068                          749599  ...
17                       535209                          302165  ...
18                       692499                          546225  ...
19                       980333                          656562  ...
20                      2308440                         1434787  ...
21                      4108936                         1468977  ...
22                      1868782                         1693872  ...
23                      7539889                         3534811  ...
24                      3214221                         1642119  ...
25                       569367                          457708  ...
26                       455509                          333437  ...
27                       185689                          174917  ...
28                      3061088                         1766389  ...
29                        46559                           41448  ...
30                       300286                          246954  ...
31                      6329133                         4535810  ...
32                        72721                           57128  ...
33                     10742196                         7104257  ...
34                      1124085                          597430  ...
35                      6500091                         5232418  ...
36                       511342                          443344  ...
37                      8855821                         5842148  ...
38                     72082186                        45595066  ...
39                          NaN                             NaN  ...
40                          NaN                             NaN  ...
41                          NaN                             NaN  ...
42                          NaN                             NaN  ...

                                      17                          18  \
0                                    NaN                         NaN
1                                    NaN                         NaN
2                                    NaN                         NaN
3                                    NaN                         NaN
4   Total person-days worked (non-SC/ST)  Total SC households worked
5                                 615593                           2
6                                     22                           0
7                                      0                           0
8                                    943                           2
9                                1344199                        3542
10                             127484282                      858878
11                                478595                          58
12                              22983601                       75831
13                              66423017                      598545
14                              62692822                      257656
15                                 52943                         164
16                              14904549                       52486

In [74]:
dfs_first_part.to_csv("df_firstpart.csv",index=False)

In [75]:
dfs_first_part.head()

,Sno.,State Name,Total households applied for job card,Total job cards issued,Total job cards (SC),Total job cards (ST),Total job cards (non-SC/ST),Total households demanded work,Total persons demanded work,Total households allotted work,...,Total person-days worked (non-SC/ST),Total SC households worked,Total person-days worked by SCs,Total ST households worked,Total person-days worked by STs,Total land reform/IAY households worked,Total person-days worked by women,Total person-days,Total SC households over 100 day limit,Total ST households over 100 day limit
0,1.0,ANDAMAN AND NICOBAR,48489,48485,4,3976,44505,18212,21840,18238,...,615593,2,26,1256,45700,18,298349,661319,0,62
1,2.0,DADRA & NAGAR HAVELI,8176,3554,1,3499,54,4,4,3,...,22,0,0,0,0,1,0,22,0,0
2,3.0,DAMAN & DIU,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4.0,LAKSHADWEEP,8493,8424,8,8321,95,1963,2076,1961,...,943,2,38,1823,47781,0,14409,48762,0,39
4,5.0,NAGALAND,398035,397829,3545,372154,22130,387007,411424,387006,...,1344199,3542,264254,362146,22922093,228,6380900,24530546,273,47274

In [76]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[31:48]
# print(check_box_trail)
for checkbox in check_box_trail:
    checkbox.click()
driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li[1]/label').click() #inside state
driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[10]').click()

# try:
for i in range (0,33):
    i = str(i+1)
    try:
        driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
        i=int(i)
    except:
        continue
        i=int(i)
#     sleep(0.1)
#     i=int(i)
driver.find_element_by_xpath('//*[@id="viewDummy"]').click()

# except:
#     pass
# driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li[3]').click()
# # sleep(2)
# driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
# # sleep(15)
# driver.quit()
# df_list = pd.read_html('https://nregarep2.nic.in/netnrega/dynamic2/ReportGenerated.aspx')
dfs1 = pd.read_html(driver.page_source)
dfs_last_part = dfs1[-1]
# dfs = dfs.T
print(dfs)
# dfs.to_csv('Animal.csv',index=0)
sleep(10)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Driver [C:\Users\Abhishek\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

[                                                   0   \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                Sno.
5                                                   1
6                                                   2
7                                                   3
8                                                   4
9                                                   5
10                                                  6
11                                                  7
12                                                  8
13                                                  9
14                                                 10
15                                                 11
16                                                 12
17                                                 13
18                                                 14
19                                                 15
20                                                 16
21                                                 17
22                                                 18
23                                                 19
24                                                 20
25                                                 21
26                                                 22
27                                                 23
28                                                 24
29                                                 25
30                                                 26
31                                                 27
32                                                 28
33                                                 29
34                                                 30
35                                                 31
36                                                 32
37                                                 33
38                                                NaN
39                                                NaN
40                                                NaN
41                                                NaN
42  Note: Figures shown above are indicative only ...

                                                   1   \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                          State Name
5                                 ANDAMAN AND NICOBAR
6                                DADRA & NAGAR HAVELI
7                                         DAMAN & DIU
8                                         LAKSHADWEEP
9                                            NAGALAND
10                                     ANDHRA PRADESH
11                                  ARUNACHAL PRADESH
12                                              ASSAM
13                                              BIHAR
14                                       CHHATTISGARH
15                                                GOA
16                                            GUJARAT
17                                            HARYANA
18                                   HIMACHAL PRADESH
19                                  JAMMU AND KASHMIR
20                                          JHARKHAND
21                                          KARNATAKA
22                                             KERALA
23                                     MADHYA PRADESH
24                                        MAHARASHTRA
25                                            MANIPUR
26                                          MEGHALAYA
27                                            MIZORAM
28                                             ODISHA
29                                         PUDUCHERRY
30                                             PUNJAB
31                                          RAJASTHAN
32                                             SIKKIM
33                                         TAMIL NADU
34                                            TRIPURA
35                                      UTTAR PRADESH
36                                        UTTARAKHAND
37                                        WEST BENGAL
38                                             Total:
39                                                NaN
40                                                NaN
41                                                NaN
42  Note: Figures shown above are indicative only ...

                                                   2   \
0        MGNREGA Public Data Portal For FY: 2012-2013
1                                                 NaN
2                                                 NaN
3   Sno.State NameTotal households applied for job...
4               Total households applied for job card
5                                               48489
6                                                8176
7                                                   0
8                                                8493
9                                              398035
10                                            8524226
11                                             181538
12                                            4031420
13                                           13350085
14                                            4458232
15                                              33014
16                                            3825753
17                                             750233
18                                            1152052
19                                            1178541
20                                            4034328
21                                            5476169
22                                            2554190
23                                           12161930
24                                            7388579
25                                             485026
26                                             467435
27                                             217387
28                                            6318527
29                                              67733
30                                             927299
31                                            9985194
32                                              84625
33                                            9344972
34                                             642073
35                                           15325945
36                                            1066326
37                                           11495899
38                                          125991924
39                                                NaN
40                                                NaN
41                                                NaN
42  Note: Figures shown above are indicative only ...

                                                   3   \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                              Total job cards issued
5                                               48485
6                                                3554
7                                                   0
8                                                8424
9                                              397829
10                                            8524226
11                                             180884
12                                            4010637
13                                           13107228
14                                            4419190
15                                              30427
16                                            3823002
17                                             749498
18                                            1147401
19                                            1078827
20                                            4013536
21                                            5464013
22                                            2541736
23                                           12088663
24                                            7091278
25                                             478022
26                                             466989
27                                             217370
28                                            6305314
29                                              67157
30                                             922247
31                                            9948502
32                                              84273
33                                            9228418
34                                             641573
35                                           15141011
36                                            1055448
37                                           11462073
38                                          124747235
39                                                NaN
40                                                NaN
41                                                NaN
42  Note: Figures shown above are indicative only ...

                                                   4                     5   \
0                                                 NaN                   NaN
1                                                 NaN                   NaN
2                                                 NaN                   NaN
3                                                 NaN                   NaN
4                                Total job cards (SC)  Total job cards (ST)
5                                                   4                  3976
6                                                   1                  3499
7                                                   0                     0
8                                                   8                  8321
9                                                3545                372154
10                                            2112061                680485
11                                                101                165546
12                                             247060                658009
13                                            3456481                220949
14                                             462493               1466671
15                                                742                  8959
16                                             315364               1286378
17                                             363635                    36
18                                             314465                 68800
19                                              77924                159771
20                                             536764               1508850
21                                             936396                460213
22                                             318006                 55861
23                                            1822223               2827746
24                                             717685               1001945
25                                               9940                235321
26                                               3922                427894
27                                                152                216689
28                                            1190382               1778354
29                                              19008                    75
30                                             702683                   242
31                                            1807577               1736117
32                                               4247                 30677
33                                            2672006                145815
34                                             116180                249792
35                                            4784637                157698
36                                             218121                 37814
37                                            3244045                899538
38                                           26457858              16874195
39                                                NaN                   NaN
40                                                NaN                   NaN
41                                                NaN                   NaN
42  Note: Figures shown above are indicative only ...                   NaN

                             6                               7   \
0                           NaN                             NaN
1                           NaN                             NaN
2                           NaN                             NaN
3                           NaN                             NaN
4   Total job cards (non-SC/ST)  Total households demanded work
5                         44505                           18212
6                            54                               4
7                             0                               0
8                            95                            1963
9                         22130                          387007
10                      5731680                               0
11                        15237                          154737
12                      3105568                         1247461
13                      9429798                         2195457
14                      2490026                         2731810
15                        20726                            5065
16                      2221260                          749599
17                       385827                          302180
18                       764136                          546180
19                       841132                          658644
20                      1967922                         1434853
21                      4067404                         1470412
22                      2167869                         1693873
23                      7438694                         3541426
24                      5371648                         1643829
25                       232761                          457894
26                        35173                          333599
27                          529                          175679
28                      3336578                         1766483
29                        48074                           41448
30                       219322                          247296
31                      6404808                         4535820
32                        49349                           57169
33                      6410597                         7105314
34                       275601                          597430
35                     10198676                         5232918
36                       799513                          443674
37                      7318490                         5844592
38                     81415182                        45622028
39                          NaN                             NaN
40                          NaN                             NaN
41                          NaN                             NaN
42                          NaN                             NaN

                             8                               9   ...  \
0                           NaN                             NaN  ...
1                           NaN                             NaN  ...
2                           NaN                             NaN  ...
3                           NaN                             NaN  ...
4   Total persons demanded work  Total households allotted work  ...
5                         21840                           18238  ...
6                             4                               3  ...
7                             0                               0  ...
8                          2076                            1961  ...
9                        411424                          387006  ...
10                            0                               0  ...
11                       159853                          146239  ...
12                      1487274                         1247633  ...
13                      2820898                         2194758  ...
14                      5680271                         2731658  ...
15                         5282                            5065  ...
16                      1491068                          749599  ...
17                       535209                          302165  ...
18                       692499                          546225  ...
19                       980333                          656562  ...
20                      2308440                         1434787  ...
21                      4108936                         1468977  ...
22                      1868782                         1693872  ...
23                      7539889                         3534811  ...
24                      3214221                         1642119  ...
25                       569367                          457708  ...
26                       455509                          333437  ...
27                       185689                          174917  ...
28                      3061088                         1766389  ...
29                        46559                           41448  ...
30                       300286                          246954  ...
31                      6329133                         4535810  ...
32                        72721                           57128  ...
33                     10742196                         7104257  ...
34                      1124085                          597430  ...
35                      6500091                         5232418  ...
36                       511342                          443344  ...
37                      8855821                         5842148  ...
38                     72082186                        45595066  ...
39                          NaN                             NaN  ...
40                          NaN                             NaN  ...
41                          NaN                             NaN  ...
42                          NaN                             NaN  ...

                                      17                          18  \
0                                    NaN                         NaN
1                                    NaN                         NaN
2                                    NaN                         NaN
3                                    NaN                         NaN
4   Total person-days worked (non-SC/ST)  Total SC households worked
5                                 615593                           2
6                                     22                           0
7                                      0                           0
8                                    943                           2
9                                1344199                        3542
10                             127484282                      858878
11                                478595                          58
12                              22983601                       75831
13                              66423017                      598545
14                              62692822                      257656
15                                 52943                         164
16                              14904549                       52486

In [77]:
dfs_last_part.to_csv("df_lastpart.csv",index=False)

In [78]:
dfs_last_part.head()

,Sno.,State Name,"Labour exp. (disbursed, Rs. In Lakhs)","Material exp. (disbursed, Rs. In Lakhs)","Labour exp. (disbursed + pending, Rs. In Lakhs)","Material exp. (disbursed + pending, Rs. In Lakhs)",Amount sanctioned (Rs. In Lakhs),Total works,Total bank accounts,Total individual bank accounts,Total joint bank accounts,Amount disbursed to bank accounts,Total post office accounts,Total individual post office accounts,Total joint post office accounts,Amount disbursed to post office accounts
0,1.0,ANDAMAN AND NICOBAR,1097,5,1099,5,107424461,1402,11218,10459,759,14232851,622,619,3,258939
1,2.0,DADRA & NAGAR HAVELI,0,0,0,0,22,11,2181,2172,9,1099,0,0,0,0
2,3.0,DAMAN & DIU,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,4.0,LAKSHADWEEP,96,12,96,12,1006,191,1253,1249,4,1801552,6470,6445,25,7765221
4,5.0,NAGALAND,25767,14067,30394,15514,245722258,15588,71,68,3,0,1,1,0,0

In [79]:
dfs_last_part.drop(columns={'Sno.','State Name'},inplace=True)
dfs_merged=pd.concat([dfs_first_part,dfs_last_part],axis=1,sort=False)
dfs_merged.head()

,Sno.,State Name,Total households applied for job card,Total job cards issued,Total job cards (SC),Total job cards (ST),Total job cards (non-SC/ST),Total households demanded work,Total persons demanded work,Total households allotted work,...,Amount sanctioned (Rs. In Lakhs),Total works,Total bank accounts,Total individual bank accounts,Total joint bank accounts,Amount disbursed to bank accounts,Total post office accounts,Total individual post office accounts,Total joint post office accounts,Amount disbursed to post office accounts
0,1.0,ANDAMAN AND NICOBAR,48489,48485,4,3976,44505,18212,21840,18238,...,107424461,1402,11218,10459,759,14232851,622,619,3,258939
1,2.0,DADRA & NAGAR HAVELI,8176,3554,1,3499,54,4,4,3,...,22,11,2181,2172,9,1099,0,0,0,0
2,3.0,DAMAN & DIU,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4.0,LAKSHADWEEP,8493,8424,8,8321,95,1963,2076,1961,...,1006,191,1253,1249,4,1801552,6470,6445,25,7765221
4,5.0,NAGALAND,398035,397829,3545,372154,22130,387007,411424,387006,...,245722258,15588,71,68,3,0,1,1,0,0

# dropdown 1

In [80]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
# check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
# # print(check_box_trail)
# ##for checkbox in check_box_trail:
#     checkbox.click()
# driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# for i in range (0,33):
#     i = str(i+1)
#     try:
#         driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
#         i=int(i)
#     except:
#         continue
#         i=int(i)
#     i=int(i)
    
for i in range (1,13):
    i = str(i+1)
    li=['1-10','11-20','21-30','31-40','41-50','51-60','61-70','71-80','81-99','100','>100','>14']
    try:
        
        check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
        driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[10]').click()
        for checkbox in check_box_trail:
            checkbox.click()
        driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
        for j in range (0,33):
            j = str(j+1)
            try:
                driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+j+']/label').click() #inside state
                j=int(j)
            except:
                continue
                j=int(j)
        j=int(j)
        driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click() #inside state
        i=int(i)
#         typeOf(i)
        driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
        driver.implicitly_wait(15)
        dfs = pd.read_html(driver.page_source)
        dfs2 = dfs[-1]
        if i==2:
            data_1=dfs2
        else:
            data_1[dfs2.columns[2]+li[i-2]]=dfs2.iloc[:,2]
                
                
        dfs2 = dfs[-1]
#                 dfs1.columns[3] = dfs[-1].dfs.loc[:,dfs.columns[2]]
        # dfs = dfs.T
        print(dfs2)
        sleep(5)
        driver.find_element_by_xpath('//*[@id="BtnBack"]').click() #inside state
        sleep(2)
#         driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click()
    except:
        continue    
#     i=int(i)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Driver [C:\Users\Abhishek\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

    Sno.            State Name  \
0    1.0   ANDAMAN AND NICOBAR
1    2.0  DADRA & NAGAR HAVELI
2    3.0           DAMAN & DIU
3    4.0           LAKSHADWEEP
4    5.0              NAGALAND
5    6.0        ANDHRA PRADESH
6    7.0     ARUNACHAL PRADESH
7    8.0                 ASSAM
8    9.0                 BIHAR
9   10.0          CHHATTISGARH
10  11.0                   GOA
11  12.0               GUJARAT
12  13.0               HARYANA
13  14.0      HIMACHAL PRADESH
14  15.0     JAMMU AND KASHMIR
15  16.0             JHARKHAND
16  17.0             KARNATAKA
17  18.0                KERALA
18  19.0        MADHYA PRADESH
19  20.0           MAHARASHTRA
20  21.0               MANIPUR
21  22.0             MEGHALAYA
22  23.0               MIZORAM
23  24.0                ODISHA
24  25.0            PUDUCHERRY
25  26.0                PUNJAB
26  27.0             RAJASTHAN
27  28.0                SIKKIM
28  29.0            TAMIL NADU
29  30.0               TRIPURA
30  31.0         UTTAR PRADESH
31  32.0           UTTARAKHAND
32  33.0           WEST BENGAL
33   NaN                Total:

    Total households completed<br>person-days in range:
0                                                7966
1                                                   7
2                                                   0
3                                                 274
4                                                4685
5                                             2154525
6                                               86711
7                                             2023680
8                                             1318302
9                                             1924455
10                                              15499
11                                             637839
12                                             270946
13                                             193876
14                                             170516
15                                             990094
16                                             796615
17                                            1060876
18                                            2935242
19                                            1454664
20                                              47960
21                                             128920
22                                               1202
23                                            1493317
24                                              70179
25                                             387298
26                                            2164304
27                                              10779
28                                            4967716
29                                              21604
30                                            6786162
31                                             231526
32                                            6805582
33                                           39163321
    Sno.            State Name  \
0    1.0   ANDAMAN AND NICOBAR
1    2.0  DADRA & NAGAR HAVELI
2    3.0           DAMAN & DIU
3    4.0           LAKSHADWEEP
4    5.0              NAGALAND
5    6.0        ANDHRA PRADESH
6    7.0     ARUNACHAL PRADESH
7    8.0                 ASSAM
8    9.0                 BIHAR
9   10.0          CHHATTISGARH
10  11.0                   GOA
11  12.0               GUJARAT
12  13.0               HARYANA
13  14.0      HIMACHAL PRADESH
14  15.0     JAMMU AND KASHMIR
15  16.0             JHARKHAND
16  17.0             KARNATAKA
17  18.0                KERALA
18  19.0        MADHYA PRADESH
19  20.0           MAHARASHTRA
20  21.0               MANIPUR
21  22.0             MEGHALAYA
22  23.0               MIZORAM
23  24.0                ODISHA
24  25.0            PUDUCHERRY
25  26.0                PUNJAB
26  27.0             RAJASTHAN
27  28.0                SIKKIM
28  29.0            TAMIL NADU
29  30.0               TRIPURA
30  31.0         UTTAR PRADESH
31  32.0           UTTARAKHAND
32  33.0           WEST BENGAL
33   NaN                Total:

    Total households completed<br>person-days in range:
0                                               23076
1                                                  15
2                                                   0
3                                               14563
4                                               67739
5                                             6121098
6                                              385437
7                                             4975073
8                                             5571987
9                                             6253223
10                                              19559
11                                            1980640
12                                             731366
13                                            1015410
14                                            1035506
15                                            4471271
16                                            3742399
17                                            1900501
18                                           10442577
19                                            4598097
20                                             285863
21                                             606347
22                                               7988
23                                            5880869
24                                             202423
25                                             928394
26                                            7392614
27                                              68277
28                                           11299822
29                                              81649
30                                           18066584
31                                            1124828
32                                           18234258
33                                          117529453
    Sno.            State Name  \
0    1.0   ANDAMAN AND NICOBAR
1    2.0  DADRA & NAGAR HAVELI
2    3.0           DAMAN & DIU
3    4.0           LAKSHADWEEP
4    5.0              NAGALAND
5    6.0        ANDHRA PRADESH
6    7.0     ARUNACHAL PRADESH
7    8.0                 ASSAM
8    9.0                 BIHAR
9   10.0          CHHATTISGARH
10  11.0                   GOA
11  12.0               GUJARAT
12  13.0               HARYANA
13  14.0      HIMACHAL PRADESH
14  15.0     JAMMU AND KASHMIR
15  16.0             JHARKHAND
16  17.0             KARNATAKA
17  18.0                KERALA
18  19.0        MADHYA PRADESH
19  20.0           MAHARASHTRA
20  21.0               MANIPUR
21  22.0             MEGHALAYA
22  23.0               MIZORAM
23  24.0                ODISHA
24  25.0            PUDUCHERRY
25  26.0                PUNJAB
26  27.0             RAJASTHAN
27  28.0                SIKKIM
28  29.0            TAMIL NADU
29  30.0               TRIPURA
30  31.0         UTTAR PRADESH
31  32.0           UTTARAKHAND
32  33.0           WEST BENGAL
33   NaN                Total:

    Total households completed<br>person-days in range:
0                                               35443
1                                                   0
2                                                   0
3                                               10781
4                                             1541236
5                                             8957216
6                                              950588
7                                             5480874
8                                             8378491
9                                             9193295
10                                              15848
11                                            2596735
12                                            1043564
13                                            1884750
14                                            2504587
15                                            6400718
16                                            5740044
17                                            2815877
18                                           14281218
19                                            6042099
20                                             859549
21                                            1231493
22                                              33851
23                                            7387851
24                                             212644
25                                            1019897
26                                           12529748
27                                             140071
28                                           16463187
29                                             210375
30                                           21912803
31                                            1918873
32                                           23731523
33                                          165525229

    Sno.            State Name  \
0    1.0   ANDAMAN AND NICOBAR
1    2.0  DADRA & NAGAR HAVELI
2    3.0           DAMAN & DIU
3    4.0           LAKSHADWEEP
4    5.0              NAGALAND
5    6.0        ANDHRA PRADESH
6    7.0     ARUNACHAL PRADESH
7    8.0                 ASSAM
8    9.0                 BIHAR
9   10.0          CHHATTISGARH
10  11.0                   GOA
11  12.0               GUJARAT
12  13.0               HARYANA
13  14.0      HIMACHAL PRADESH
14  15.0     JAMMU AND KASHMIR
15  16.0             JHARKHAND
16  17.0             KARNATAKA
17  18.0                KERALA
18  19.0        MADHYA PRADESH
19  20.0           MAHARASHTRA
20  21.0               MANIPUR
21  22.0             MEGHALAYA
22  23.0               MIZORAM
23  24.0                ODISHA
24  25.0            PUDUCHERRY
25  26.0                PUNJAB
26  27.0             RAJASTHAN
27  28.0                SIKKIM
28  29.0            TAMIL NADU
29  30.0               TRIPURA
30  31.0         UTTAR PRADESH
31  32.0           UTTARAKHAND
32  33.0           WEST BENGAL
33   NaN                Total:

    Total households completed<br>person-days in range:
0                                               43751
1                                                   0
2                                                   0
3                                                2915
4                                             1327751
5                                            10865471
6                                              783545
7                                             3748495
8                                             6704917
9                                             9941401
10                                               7669
11                                            2531863
12                                             944759
13                                            1807226
14                                            1733287
15                                            4826995
16                                            4506956
17                                            3733010
18                                           12373032
19                                            5263301
20                                            1789429
21                                            1143286
22                                              26812
23                                            5773810
24                                             175525
25                                             848469
26                                           16447600
27                                             142381
28                                           19968457
29                                             331753
30                                           17102092
31                                            1855140
32                                           22322593
33                                          159073691
    Sno.            State Name  \
0    1.0   ANDAMAN AND NICOBAR
1    2.0  DADRA & NAGAR HAVELI
2    3.0           DAMAN & DIU
3    4.0           LAKSHADWEEP
4    5.0              NAGALAND
5    6.0        ANDHRA PRADESH
6    7.0     ARUNACHAL PRADESH
7    8.0                 ASSAM
8    9.0                 BIHAR
9   10.0          CHHATTISGARH
10  11.0                   GOA
11  12.0               GUJARAT
12  13.0               HARYANA
13  14.0      HIMACHAL PRADESH
14  15.0     JAMMU AND KASHMIR
15  16.0             JHARKHAND
16  17.0             KARNATAKA
17  18.0                KERALA
18  19.0        MADHYA PRADESH
19  20.0           MAHARASHTRA
20  21.0               MANIPUR
21  22.0             MEGHALAYA
22  23.0               MIZORAM
23  24.0                ODISHA
24  25.0            PUDUCHERRY
25  26.0                PUNJAB
26  27.0             RAJASTHAN
27  28.0                SIKKIM
28  29.0            TAMIL NADU
29  30.0               TRIPURA
30  31.0         UTTAR PRADESH
31  32.0           UTTARAKHAND
32  33.0           WEST BENGAL
33   NaN                Total:

    Total households completed<br>person-days in range:
0                                               45341
1                                                   0
2                                                   0
3                                                4919
4                                             1539606
5                                            12598242
6                                              521782
7                                             3738196
8                                             8988522
9                                            11627267
10                                               4644
11                                            2860263
12                                            1139231
13                                            2395905
14                                            3080800
15                                            6950054
16                                            5768807
17                                            4851380
18                                           15403460
19                                            6031934
20                                            2860052
21                                            1682792
22                                              91661
23                                            6478050
24                                             120862
25                                             723899
26                                           19321629
27                                             226228
28                                           24690247
29                                             694537
30                                           18134601
31                                            2326165
32                                           22722851
33                                          187623927
    Sno.            State Name  \
0    1.0   ANDAMAN AND NICOBAR
1    2.0  DADRA & NAGAR HAVELI
2    3.0           DAMAN & DIU
3    4.0           LAKSHADWEEP
4    5.0              NAGALAND
5    6.0        ANDHRA PRADESH
6    7.0     ARUNACHAL PRADESH
7    8.0                 ASSAM
8    9.0                 BIHAR
9   10.0          CHHATTISGARH
10  11.0                   GOA
11  12.0               GUJARAT
12  13.0               HARYANA
13  14.0      HIMACHAL PRADESH
14  15.0     JAMMU AND KASHMIR
15  16.0             JHARKHAND
16  17.0             KARNATAKA
17  18.0                KERALA
18  19.0        MADHYA PRADESH
19  20.0           MAHARASHTRA
20  21.0               MANIPUR
21  22.0             MEGHALAYA
22  23.0               MIZORAM
23  24.0                ODISHA
24  25.0            PUDUCHERRY
25  26.0                PUNJAB
26  27.0             RAJASTHAN
27  28.0                SIKKIM
28  29.0            TAMIL NADU
29  30.0               TRIPURA
30  31.0         UTTAR PRADESH
31  32.0           UTTARAKHAND
32  33.0           WEST BENGAL
33   NaN                Total:

    Total households completed<br>person-days in range:
0                                               53380
1                                                   0
2                                                   0
3                                                3081
4                                             3429789
5                                            13636515
6                                              549191
7                                             3087377
8                                             8803355
9                                            12219568
10                                               2049
11                                            2800072
12                                            1203896
13                                            2835502
14                                            4169608
15                                            6166492
16                                            6508329
17                                            5922006
18                                           14795220
19                                            6086605
20                                            2366678
21                                            1933966
22                                              96767
23                                            5561229
24                                              58179
25                                             621305
26                                           20288506
27                                             274079
28                                           28433959
29                                            1418614
30                                           15000107
31                                            2043240
32                                           19801316
33                                          190169980

    Sno.            State Name  \
0    1.0   ANDAMAN AND NICOBAR
1    2.0  DADRA & NAGAR HAVELI
2    3.0           DAMAN & DIU
3    4.0           LAKSHADWEEP
4    5.0              NAGALAND
5    6.0        ANDHRA PRADESH
6    7.0     ARUNACHAL PRADESH
7    8.0                 ASSAM
8    9.0                 BIHAR
9   10.0          CHHATTISGARH
10  11.0                   GOA
11  12.0               GUJARAT
12  13.0               HARYANA
13  14.0      HIMACHAL PRADESH
14  15.0     JAMMU AND KASHMIR
15  16.0             JHARKHAND
16  17.0             KARNATAKA
17  18.0                KERALA
18  19.0        MADHYA PRADESH
19  20.0           MAHARASHTRA
20  21.0               MANIPUR
21  22.0             MEGHALAYA
22  23.0               MIZORAM
23  24.0                ODISHA
24  25.0            PUDUCHERRY
25  26.0                PUNJAB
26  27.0             RAJASTHAN
27  28.0                SIKKIM
28  29.0            TAMIL NADU
29  30.0               TRIPURA
30  31.0         UTTAR PRADESH
31  32.0           UTTARAKHAND
32  33.0           WEST BENGAL
33   NaN                Total:

    Total households completed<br>person-days in range:
0                                               55227
1                                                   0
2                                                   0
3                                                2143
4                                             2751554
5                                            13553378
6                                              328176
7                                             1755586
8                                             7209473
9                                            10628050
10                                               1712
11                                            2083085
12                                            1043961
13                                            2789024
14                                            2581557
15                                            3013631
16                                            4532510
17                                            6800342
18                                            8155146
19                                            3637735
20                                            2643906
21                                            1378494
22                                             557672
23                                            3407189
24                                              18592
25                                             492165
26                                           21684355
27                                             329495
28                                           31195865
29                                            2360714
30                                           11830601
31                                            1730361
32                                           17367936
33                                          165919635
    Sno.            State Name  \
0    1.0   ANDAMAN AND NICOBAR
1    2.0  DADRA & NAGAR HAVELI
2    3.0           DAMAN & DIU
3    4.0           LAKSHADWEEP
4    5.0              NAGALAND
5    6.0        ANDHRA PRADESH
6    7.0     ARUNACHAL PRADESH
7    8.0                 ASSAM
8    9.0                 BIHAR
9   10.0          CHHATTISGARH
10  11.0                   GOA
11  12.0               GUJARAT
12  13.0               HARYANA
13  14.0      HIMACHAL PRADESH
14  15.0     JAMMU AND KASHMIR
15  16.0             JHARKHAND
16  17.0             KARNATAKA
17  18.0                KERALA
18  19.0        MADHYA PRADESH
19  20.0           MAHARASHTRA
20  21.0               MANIPUR
21  22.0             MEGHALAYA
22  23.0               MIZORAM
23  24.0                ODISHA
24  25.0            PUDUCHERRY
25  26.0                PUNJAB
26  27.0             RAJASTHAN
27  28.0                SIKKIM
28  29.0            TAMIL NADU
29  30.0               TRIPURA
30  31.0         UTTAR PRADESH
31  32.0           UTTARAKHAND
32  33.0           WEST BENGAL
33   NaN                Total:

    Total households completed<br>person-days in range:
0                                               54210
1                                                   0
2                                                   0
3                                                2206
4                                             2938863
5                                            14016446
6                                              199912
7                                             2024217
8                                             7575758
9                                            11022485
10                                                602
11                                            2187803
12                                            1165577
13                                            2691093
14                                            3408390
15                                            5335815
16                                            5386272
17                                            7520884
18                                           13849964
19                                            5346410
20                                            5364314
21                                            1221683
22                                            1939697
23                                            4234209
24                                               5032
25                                             424370
26                                           22435321
27                                             336064
28                                           34895974
29                                            4348054
30                                            9554443
31                                            1868586
32                                           14894129
33                                          186248783
    Sno.            State Name  \
0    1.0   ANDAMAN AND NICOBAR
1    2.0  DADRA & NAGAR HAVELI
2    3.0           DAMAN & DIU
3    4.0           LAKSHADWEEP
4    5.0              NAGALAND
5    6.0        ANDHRA PRADESH
6    7.0     ARUNACHAL PRADESH
7    8.0                 ASSAM
8    9.0                 BIHAR
9   10.0          CHHATTISGARH
10  11.0                   GOA
11  12.0               GUJARAT
12  13.0               HARYANA
13  14.0      HIMACHAL PRADESH
14  15.0     JAMMU AND KASHMIR
15  16.0             JHARKHAND
16  17.0             KARNATAKA
17  18.0                KERALA
18  19.0        MADHYA PRADESH
19  20.0           MAHARASHTRA
20  21.0               MANIPUR
21  22.0             MEGHALAYA
22  23.0               MIZORAM
23  24.0                ODISHA
24  25.0            PUDUCHERRY
25  26.0                PUNJAB
26  27.0             RAJASTHAN
27  28.0                SIKKIM
28  29.0            TAMIL NADU
29  30.0               TRIPURA
30  31.0         UTTAR PRADESH
31  32.0           UTTARAKHAND
32  33.0           WEST BENGAL
33   NaN                Total:

    Total households completed<br>person-days in range:
0                                              122794
1                                                   0
2                                                   0
3                                                3862
4                                             5540740
5                                            26738510
6                                              170925
7                                             3588410
8                                            21178396
9                                            21706360
10                                                962
11                                            5161249
12                                            3328944
13                                            6526635
14                                           10713654
15                                            8154267
16                                           12326654
17                                           15099809
18                                           26970533
19                                            7875796
20                                           12044109
21                                            2741390
22                                            9185638
23                                            6702280
24                                               3193
25                                             715585
26                                           54719539
27                                             906926
28                                           80541398
29                                           19483805
30                                           15579030
31                                            3799235
32                                           29918423
33                                          411549051

    Sno.            State Name  \
0    1.0   ANDAMAN AND NICOBAR
1    2.0  DADRA & NAGAR HAVELI
2    3.0           DAMAN & DIU
3    4.0           LAKSHADWEEP
4    5.0              NAGALAND
5    6.0        ANDHRA PRADESH
6    7.0     ARUNACHAL PRADESH
7    8.0                 ASSAM
8    9.0                 BIHAR
9   10.0          CHHATTISGARH
10  11.0                   GOA
11  12.0               GUJARAT
12  13.0               HARYANA
13  14.0      HIMACHAL PRADESH
14  15.0     JAMMU AND KASHMIR
15  16.0             JHARKHAND
16  17.0             KARNATAKA
17  18.0                KERALA
18  19.0        MADHYA PRADESH
19  20.0           MAHARASHTRA
20  21.0               MANIPUR
21  22.0             MEGHALAYA
22  23.0               MIZORAM
23  24.0                ODISHA
24  25.0            PUDUCHERRY
25  26.0                PUNJAB
26  27.0             RAJASTHAN
27  28.0                SIKKIM
28  29.0            TAMIL NADU
29  30.0               TRIPURA
30  31.0         UTTAR PRADESH
31  32.0           UTTARAKHAND
32  33.0           WEST BENGAL
33   NaN                Total:

    Total households completed<br>person-days in range:
0                                              209300
1                                                   0
2                                                   0
3                                                3700
4                                             5319100
5                                             1969800
6                                              349100
7                                              940500
8                                             9582200
9                                             8190900
10                                                  0
11                                            1826200
12                                            1463000
13                                            3484800
14                                            2422500
15                                             712300
16                                            1356700
17                                           33148600
18                                            2681300
19                                             277600
20                                              64800
21                                            4787500
22                                            3414200
23                                            2747100
24                                                300
25                                             226700
26                                           27750900
27                                             885000
28                                            7675400
29                                           14016700
30                                            2765200
31                                            1179600
32                                            8737600
33                                          148188600
    Sno.            State Name  \
0    1.0   ANDAMAN AND NICOBAR
1    2.0  DADRA & NAGAR HAVELI
2    3.0           DAMAN & DIU
3    4.0           LAKSHADWEEP
4    5.0              NAGALAND
5    6.0        ANDHRA PRADESH
6    7.0     ARUNACHAL PRADESH
7    8.0                 ASSAM
8    9.0                 BIHAR
9   10.0          CHHATTISGARH
10  11.0                   GOA
11  12.0               GUJARAT
12  13.0               HARYANA
13  14.0      HIMACHAL PRADESH
14  15.0     JAMMU AND KASHMIR
15  16.0             JHARKHAND
16  17.0             KARNATAKA
17  18.0                KERALA
18  19.0        MADHYA PRADESH
19  20.0           MAHARASHTRA
20  21.0               MANIPUR
21  22.0             MEGHALAYA
22  23.0               MIZORAM
23  24.0                ODISHA
24  25.0            PUDUCHERRY
25  26.0                PUNJAB
26  27.0             RAJASTHAN
27  28.0                SIKKIM
28  29.0            TAMIL NADU
29  30.0               TRIPURA
30  31.0         UTTAR PRADESH
31  32.0           UTTARAKHAND
32  33.0           WEST BENGAL
33   NaN                Total:

    Total households completed<br>person-days in range:
0                                               10831
1                                                   0
2                                                   0
3                                                 318
4                                               68443
5                                            85531495
6                                               24506
7                                               41420
8                                             8872082
9                                            16727301
10                                                  0
11                                            3524439
12                                             551353
13                                             585637
14                                            4735185
15                                            9635960
16                                           11115626
17                                             920660
18                                           18059065
19                                           40624784
20                                             184780
21                                             575428
22                                                423
23                                            4935058
24                                                102
25                                             162102
26                                           15603658
27                                             311918
28                                          148012321
29                                            8883429
30                                            4453243
31                                            1122157
32                                           17306228
33                                          402579952
    Sno.            State Name  \
0    1.0   ANDAMAN AND NICOBAR
1    2.0  DADRA & NAGAR HAVELI
2    3.0           DAMAN & DIU
3    4.0           LAKSHADWEEP
4    5.0              NAGALAND
5    6.0        ANDHRA PRADESH
6    7.0     ARUNACHAL PRADESH
7    8.0                 ASSAM
8    9.0                 BIHAR
9   10.0          CHHATTISGARH
10  11.0                   GOA
11  12.0               GUJARAT
12  13.0               HARYANA
13  14.0      HIMACHAL PRADESH
14  15.0     JAMMU AND KASHMIR
15  16.0             JHARKHAND
16  17.0             KARNATAKA
17  18.0                KERALA
18  19.0        MADHYA PRADESH
19  20.0           MAHARASHTRA
20  21.0               MANIPUR
21  22.0             MEGHALAYA
22  23.0               MIZORAM
23  24.0                ODISHA
24  25.0            PUDUCHERRY
25  26.0                PUNJAB
26  27.0             RAJASTHAN
27  28.0                SIKKIM
28  29.0            TAMIL NADU
29  30.0               TRIPURA
30  31.0         UTTAR PRADESH
31  32.0           UTTARAKHAND
32  33.0           WEST BENGAL
33   NaN                Total:

    Total households completed<br>person-days in range:
0                                              645251
1                                                  15
2                                                   0
3                                               36344
4                                            24524011
5                                           191834369
6                                             4179241
7                                            26935382
8                                            89940732
9                                           115026889
10                                              42727
11                                           26838639
12                                           12281113
13                                           25470614
14                                           35957338
15                                           53243498
16                                           59439664
17                                           82008462
18                                          131832463
19                                           83615712
20                                           28364059
21                                           16986720
22                                           15350152
23                                           50158147
24                                             701553
25                                            5764480
26                                          214732328
27                                            3592648
28                                          399044358
29                                           51806284
30                                          125292347
31                                           18493709
32                                          186958110
33                                         2081097359

DROP_DOWN 1

In [81]:
data_1.rename(columns = {'Total households completed<br>person-days in range:':'Total households completed<br>person-days in range:1-10'}, inplace = True)

In [82]:
data_1.head()

,Sno.,State Name,Total households completed<br>person-days in range:1-10,Total households completed<br>person-days in range:11-20,Total households completed<br>person-days in range:21-30,Total households completed<br>person-days in range:31-40,Total households completed<br>person-days in range:41-50,Total households completed<br>person-days in range:51-60,Total households completed<br>person-days in range:61-70,Total households completed<br>person-days in range:71-80,Total households completed<br>person-days in range:81-99,Total households completed<br>person-days in range:100,Total households completed<br>person-days in range:>100,Total households completed<br>person-days in range:>14
0,1.0,ANDAMAN AND NICOBAR,7966,23076,35443,43751,45341,53380,55227,54210,122794,209300,10831,645251
1,2.0,DADRA & NAGAR HAVELI,7,15,0,0,0,0,0,0,0,0,0,15
2,3.0,DAMAN & DIU,0,0,0,0,0,0,0,0,0,0,0,0
3,4.0,LAKSHADWEEP,274,14563,10781,2915,4919,3081,2143,2206,3862,3700,318,36344
4,5.0,NAGALAND,4685,67739,1541236,1327751,1539606,3429789,2751554,2938863,5540740,5319100,68443,24524011

In [83]:
data_1.to_csv("dropdown_1.csv")

# drop down 2

In [84]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
# check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
# # print(check_box_trail)
# ##for checkbox in check_box_trail:
#     checkbox.click()
# driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# for i in range (0,33):
#     i = str(i+1)
#     try:
#         driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
#         i=int(i)
#     except:
#         continue
#         i=int(i)
#     i=int(i)
    
for i in range (1,6):
    i = str(i+1)
    li=['18-30yrs','30-40yrs','40-50yrs','50-60yrs','>60yrs']
    try:
        
        check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[26:27]
        driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[10]').click()
        for checkbox in check_box_trail:
            checkbox.click()
        driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
        for j in range (0,33):
            j = str(j+1)
            try:
                driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+j+']/label').click() #inside state
                j=int(j)
            except:
                continue
                j=int(j)
        j=int(j)
        driver.find_element_by_xpath('//*[@id="DdlstTxtBox9"]/option['+i+']').click() #inside state
        i=int(i)
#         typeOf(i)
        driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
        driver.implicitly_wait(15)
        dfs = pd.read_html(driver.page_source)
        dfs2 = dfs[-1]
        if i==2:
            data_2=dfs2
        else:
            data_2[dfs2.columns[2]+li[i-2]]=dfs2.iloc[:,2]
                
                
        dfs2 = dfs[-1]
#                 dfs1.columns[3] = dfs[-1].dfs.loc[:,dfs.columns[2]]
        # dfs = dfs.T
        print(dfs2)
        sleep(3)
        driver.find_element_by_xpath('//*[@id="BtnBack"]').click() #inside state
        sleep(1)
#         driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click()
    except:
        continue    
#     i=int(i)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Driver [C:\Users\Abhishek\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

    Sno.            State Name  Total workers employed<br>in age group:
0    1.0   ANDAMAN AND NICOBAR                                     2969
1    2.0  DADRA & NAGAR HAVELI                                        0
2    3.0           DAMAN & DIU                                        0
3    4.0           LAKSHADWEEP                                      804
4    5.0              NAGALAND                                    65994
5    6.0        ANDHRA PRADESH                                   739020
6    7.0     ARUNACHAL PRADESH                                    15219
7    8.0                 ASSAM                                   229192
8    9.0                 BIHAR                                   427043
9   10.0          CHHATTISGARH                                  1386791
10  11.0                   GOA                                      202
11  12.0               GUJARAT                                   315917
12  13.0               HARYANA                                   119902
13  14.0      HIMACHAL PRADESH                                    97006
14  15.0     JAMMU AND KASHMIR                                   217160
15  16.0             JHARKHAND                                   475841
16  17.0             KARNATAKA                                   999128
17  18.0                KERALA                                    78337
18  19.0        MADHYA PRADESH                                  1602661
19  20.0           MAHARASHTRA                                   566466
20  21.0               MANIPUR                                    66641
21  22.0             MEGHALAYA                                    90261
22  23.0               MIZORAM                                    18040
23  24.0                ODISHA                                   390102
24  25.0            PUDUCHERRY                                     4657
25  26.0                PUNJAB                                    31917
26  27.0             RAJASTHAN                                  1328104
27  28.0                SIKKIM                                    12905
28  29.0            TAMIL NADU                                  1302642
29  30.0               TRIPURA                                   238213
30  31.0         UTTAR PRADESH                                  1015212
31  32.0           UTTARAKHAND                                    54718
32  33.0           WEST BENGAL                                  1348716
33   NaN                Total:                                 13241780
    Sno.            State Name  Total workers employed<br>in age group:
0    1.0   ANDAMAN AND NICOBAR                                     5108
1    2.0  DADRA & NAGAR HAVELI                                        0
2    3.0           DAMAN & DIU                                        0
3    4.0           LAKSHADWEEP                                      641
4    5.0              NAGALAND                                   110841
5    6.0        ANDHRA PRADESH                                  1683664
6    7.0     ARUNACHAL PRADESH                                    37754
7    8.0                 ASSAM                                   559335
8    9.0                 BIHAR                                  1038701
9   10.0          CHHATTISGARH                                  1989071
10  11.0                   GOA                                     1319
11  12.0               GUJARAT                                   445693
12  13.0               HARYANA                                   166499
13  14.0      HIMACHAL PRADESH                                   196283
14  15.0     JAMMU AND KASHMIR                                   292932
15  16.0             JHARKHAND                                   865673
16  17.0             KARNATAKA                                  1215759
17  18.0                KERALA                                   417734
18  19.0        MADHYA PRADESH                                  2278092
19  20.0           MAHARASHTRA                                  1035553
20  21.0               MANIPUR                                   156148
21  22.0             MEGHALAYA                                   134042
22  23.0               MIZORAM                                    51186
23  24.0                ODISHA                                   847009
24  25.0            PUDUCHERRY                                    12985
25  26.0                PUNJAB                                    83772
26  27.0             RAJASTHAN                                  1959530
27  28.0                SIKKIM                                    22580
28  29.0            TAMIL NADU                                  3235731
29  30.0               TRIPURA                                   322656
30  31.0         UTTAR PRADESH                                  2389019
31  32.0           UTTARAKHAND                                   151865
32  33.0           WEST BENGAL                                  2504836
33   NaN                Total:                                 24212011
    Sno.            State Name  Total workers employed<br>in age group:
0    1.0   ANDAMAN AND NICOBAR                                     3629
1    2.0  DADRA & NAGAR HAVELI                                        2
2    3.0           DAMAN & DIU                                        0
3    4.0           LAKSHADWEEP                                      349
4    5.0              NAGALAND                                   106132
5    6.0        ANDHRA PRADESH                                  1680226
6    7.0     ARUNACHAL PRADESH                                    39877
7    8.0                 ASSAM                                   446405
8    9.0                 BIHAR                                   852612
9   10.0          CHHATTISGARH                                  1355245
10  11.0                   GOA                                     1800
11  12.0               GUJARAT                                   406807
12  13.0               HARYANA                                   149722
13  14.0      HIMACHAL PRADESH                                   167456
14  15.0     JAMMU AND KASHMIR                                   255734
15  16.0             JHARKHAND                                   640571
16  17.0             KARNATAKA                                  1049054
17  18.0                KERALA                                   593564
18  19.0        MADHYA PRADESH                                  1809844
19  20.0           MAHARASHTRA                                   876890
20  21.0               MANIPUR                                   155944
21  22.0             MEGHALAYA                                   112492
22  23.0               MIZORAM                                    44041
23  24.0                ODISHA                                   871669
24  25.0            PUDUCHERRY                                    12711
25  26.0                PUNJAB                                    93907
26  27.0             RAJASTHAN                                  1526678
27  28.0                SIKKIM                                    17163
28  29.0            TAMIL NADU                                  3016458
29  30.0               TRIPURA                                   272603
30  31.0         UTTAR PRADESH                                  1930765
31  32.0           UTTARAKHAND                                   145611
32  33.0           WEST BENGAL                                  2654031
33   NaN                Total:                                 21289992
    Sno.            State Name  Total workers employed<br>in age group:
0    1.0   ANDAMAN AND NICOBAR                                     2022
1    2.0  DADRA & NAGAR HAVELI                                        1
2    3.0           DAMAN & DIU                                        0
3    4.0           LAKSHADWEEP                                      113
4    5.0              NAGALAND                                    79956
5    6.0        ANDHRA PRADESH                                  1208329
6    7.0     ARUNACHAL PRADESH                                    28281
7    8.0                 ASSAM                                   188182
8    9.0                 BIHAR                                   362661
9   10.0          CHHATTISGARH                                   689401
10  11.0                   GOA                                     1197
11  12.0               GUJARAT                                   230122
12  13.0               HARYANA                                    64004
13  14.0      HIMACHAL PRADESH                                   106203
14  15.0     JAMMU AND KASHMIR                                   137394
15  16.0             JHARKHAND                                   260077
16  17.0             KARNATAKA                                   630692
17  18.0                KERALA                                   470363
18  19.0        MADHYA PRADESH                                  1039507
19  20.0           MAHARASHTRA                                   514553
20  21.0               MANIPUR                                   114531
21  22.0             MEGHALAYA                                    71041
22  23.0               MIZORAM                                    31841
23  24.0                ODISHA                                   570160
24  25.0            PUDUCHERRY                                     9113
25  26.0                PUNJAB                                    50960
26  27.0             RAJASTHAN                                   930157
27  28.0                SIKKIM                                    11574
28  29.0            TAMIL NADU                                  1972456
29  30.0               TRIPURA                                   165944
30  31.0         UTTAR PRADESH                                   884020
31  32.0           UTTARAKHAND                                    93493
32  33.0           WEST BENGAL                                  1578162
33   NaN                Total:                                 12496510

    Sno.            State Name  Total workers employed<br>in age group:
0    1.0   ANDAMAN AND NICOBAR                                     1183
1    2.0  DADRA & NAGAR HAVELI                                        0
2    3.0           DAMAN & DIU                                        0
3    4.0           LAKSHADWEEP                                      130
4    5.0              NAGALAND                                    45498
5    6.0        ANDHRA PRADESH                                   605466
6    7.0     ARUNACHAL PRADESH                                    15018
7    8.0                 ASSAM                                    58120
8    9.0                 BIHAR                                    72715
9   10.0          CHHATTISGARH                                   241200
10  11.0                   GOA                                      756
11  12.0               GUJARAT                                    76943
12  13.0               HARYANA                                    32738
13  14.0      HIMACHAL PRADESH                                    87247
14  15.0     JAMMU AND KASHMIR                                    61089
15  16.0             JHARKHAND                                    53242
16  17.0             KARNATAKA                                   206914
17  18.0                KERALA                                   307883
18  19.0        MADHYA PRADESH                                   715851
19  20.0           MAHARASHTRA                                   203367
20  21.0               MANIPUR                                    73708
21  22.0             MEGHALAYA                                    45394
22  23.0               MIZORAM                                    30319
23  24.0                ODISHA                                   371970
24  25.0            PUDUCHERRY                                     6948
25  26.0                PUNJAB                                    38279
26  27.0             RAJASTHAN                                   539212
27  28.0                SIKKIM                                     7849
28  29.0            TAMIL NADU                                  1115376
29  30.0               TRIPURA                                   122894
30  31.0         UTTAR PRADESH                                   239338
31  32.0           UTTARAKHAND                                    62836
32  33.0           WEST BENGAL                                   747712
33   NaN                Total:                                  6187195

In [85]:
data_2.head()

,Sno.,State Name,Total workers employed<br>in age group:,Total workers employed<br>in age group:30-40yrs,Total workers employed<br>in age group:40-50yrs,Total workers employed<br>in age group:50-60yrs,Total workers employed<br>in age group:>60yrs
0,1.0,ANDAMAN AND NICOBAR,2969,5108,3629,2022,1183
1,2.0,DADRA & NAGAR HAVELI,0,0,2,1,0
2,3.0,DAMAN & DIU,0,0,0,0,0
3,4.0,LAKSHADWEEP,804,641,349,113,130
4,5.0,NAGALAND,65994,110841,106132,79956,45498

In [86]:
data_2.to_csv("dropdown_2.csv")

# DROPDOWN 3

In [87]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
# check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
# # print(check_box_trail)
# ##for checkbox in check_box_trail:
#     checkbox.click()
# driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# for i in range (0,33):
#     i = str(i+1)
#     try:
#         driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
#         i=int(i)
#     except:
#         continue
#         i=int(i)
#     i=int(i)
    
for i in range (1,13):
    i = str(i+1)
    try:
        
        check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[27:28]
        driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[10]').click()
        for checkbox in check_box_trail:
            checkbox.click()
        driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
        for j in range (0,33):
            j = str(j+1)
            try:
                driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+j+']/label').click() #inside state
                j=int(j)
            except:
                continue
                j=int(j)
        j=int(j)
        driver.find_element_by_xpath('//*[@id="DdlstTxtBox5"]/option['+i+']').click() #inside state
        i=int(i)
#         typeOf(i)
        driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
        driver.implicitly_wait(15)
        dfs = pd.read_html(driver.page_source)
        dfs2 = dfs[-1]
        if i==2:
            data_3=dfs2
        else:
            data_3[dfs2.columns[2]]=dfs2.iloc[:,2]
                
                
        dfs2 = dfs[-1]
#                 dfs1.columns[3] = dfs[-1].dfs.loc[:,dfs.columns[2]]
        # dfs = dfs.T
        print(dfs2)
        sleep(5)
        driver.find_element_by_xpath('//*[@id="BtnBack"]').click() #inside state
        sleep(2)
#         driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click()
    except:
        continue    
#     i=int(i)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Driver [C:\Users\Abhishek\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

    Sno.            State Name  Total households demanded<br>work(Apr)
0    1.0   ANDAMAN AND NICOBAR                                    3887
1    2.0  DADRA & NAGAR HAVELI                                       4
2    3.0           DAMAN & DIU                                       0
3    4.0           LAKSHADWEEP                                     180
4    5.0              NAGALAND                                  319127
5    6.0        ANDHRA PRADESH                                       0
6    7.0     ARUNACHAL PRADESH                                    3164
7    8.0                 ASSAM                                  195627
8    9.0                 BIHAR                                  824777
9   10.0          CHHATTISGARH                                  835997
10  11.0                   GOA                                     707
11  12.0               GUJARAT                                  128125
12  13.0               HARYANA                                   37750
13  14.0      HIMACHAL PRADESH                                   98583
14  15.0     JAMMU AND KASHMIR                                   74189
15  16.0             JHARKHAND                                  545832
16  17.0             KARNATAKA                                   13706
17  18.0                KERALA                                  110125
18  19.0        MADHYA PRADESH                                 1071180
19  20.0           MAHARASHTRA                                  609627
20  21.0               MANIPUR                                   22222
21  22.0             MEGHALAYA                                   90237
22  23.0               MIZORAM                                       0
23  24.0                ODISHA                                  346264
24  25.0            PUDUCHERRY                                    3858
25  26.0                PUNJAB                                   45009
26  27.0             RAJASTHAN                                 1195250
27  28.0                SIKKIM                                    8426
28  29.0            TAMIL NADU                                 3034295
29  30.0               TRIPURA                                   84212
30  31.0         UTTAR PRADESH                                  732141
31  32.0           UTTARAKHAND                                  104100
32  33.0           WEST BENGAL                                 1717968
33   NaN                Total:                                12256569
    Sno.            State Name  Total households demanded<br>work(May)
0    1.0   ANDAMAN AND NICOBAR                                    3368
1    2.0  DADRA & NAGAR HAVELI                                       1
2    3.0           DAMAN & DIU                                       0
3    4.0           LAKSHADWEEP                                     273
4    5.0              NAGALAND                                  272144
5    6.0        ANDHRA PRADESH                                       0
6    7.0     ARUNACHAL PRADESH                                    2838
7    8.0                 ASSAM                                  141811
8    9.0                 BIHAR                                  694753
9   10.0          CHHATTISGARH                                 1555226
10  11.0                   GOA                                     327
11  12.0               GUJARAT                                  240622
12  13.0               HARYANA                                   51983
13  14.0      HIMACHAL PRADESH                                  208454
14  15.0     JAMMU AND KASHMIR                                   55065
15  16.0             JHARKHAND                                  557238
16  17.0             KARNATAKA                                   55792
17  18.0                KERALA                                  528800
18  19.0        MADHYA PRADESH                                 1429526
19  20.0           MAHARASHTRA                                  726018
20  21.0               MANIPUR                                   30929
21  22.0             MEGHALAYA                                  115524
22  23.0               MIZORAM                                       0
23  24.0                ODISHA                                  653123
24  25.0            PUDUCHERRY                                    4176
25  26.0                PUNJAB                                   58642
26  27.0             RAJASTHAN                                 2328899
27  28.0                SIKKIM                                   11079
28  29.0            TAMIL NADU                                 3532300
29  30.0               TRIPURA                                  146368
30  31.0         UTTAR PRADESH                                 1065946
31  32.0           UTTARAKHAND                                   69424
32  33.0           WEST BENGAL                                 2294153
33   NaN                Total:                                16834802
    Sno.            State Name  Total households demanded<br>work(Jun)
0    1.0   ANDAMAN AND NICOBAR                                    2835
1    2.0  DADRA & NAGAR HAVELI                                       1
2    3.0           DAMAN & DIU                                       0
3    4.0           LAKSHADWEEP                                     167
4    5.0              NAGALAND                                  275621
5    6.0        ANDHRA PRADESH                                       0
6    7.0     ARUNACHAL PRADESH                                   25886
7    8.0                 ASSAM                                  203865
8    9.0                 BIHAR                                  488611
9   10.0          CHHATTISGARH                                 1167748
10  11.0                   GOA                                     500
11  12.0               GUJARAT                                  268996
12  13.0               HARYANA                                   73364
13  14.0      HIMACHAL PRADESH                                  231607
14  15.0     JAMMU AND KASHMIR                                   48269
15  16.0             JHARKHAND                                  399254
16  17.0             KARNATAKA                                   73148
17  18.0                KERALA                                  777722
18  19.0        MADHYA PRADESH                                 1473688
19  20.0           MAHARASHTRA                                  569446
20  21.0               MANIPUR                                  203608
21  22.0             MEGHALAYA                                   95280
22  23.0               MIZORAM                                   96134
23  24.0                ODISHA                                  693405
24  25.0            PUDUCHERRY                                   18224
25  26.0                PUNJAB                                   56336
26  27.0             RAJASTHAN                                 2732340
27  28.0                SIKKIM                                   11012
28  29.0            TAMIL NADU                                 4202255
29  30.0               TRIPURA                                  361496
30  31.0         UTTAR PRADESH                                 1535416
31  32.0           UTTARAKHAND                                   57703
32  33.0           WEST BENGAL                                 2670140
33   NaN                Total:                                18814077
    Sno.            State Name  Total households demanded<br>work(Jul)
0    1.0   ANDAMAN AND NICOBAR                                    4541
1    2.0  DADRA & NAGAR HAVELI                                       0
2    3.0           DAMAN & DIU                                       0
3    4.0           LAKSHADWEEP                                     212
4    5.0              NAGALAND                                  221741
5    6.0        ANDHRA PRADESH                                       0
6    7.0     ARUNACHAL PRADESH                                   39201
7    8.0                 ASSAM                                  166592
8    9.0                 BIHAR                                  270977
9   10.0          CHHATTISGARH                                  124305
10  11.0                   GOA                                     531
11  12.0               GUJARAT                                  165491
12  13.0               HARYANA                                   68496
13  14.0      HIMACHAL PRADESH                                  208157
14  15.0     JAMMU AND KASHMIR                                   68325
15  16.0             JHARKHAND                                  211711
16  17.0             KARNATAKA                                   97801
17  18.0                KERALA                                  851746
18  19.0        MADHYA PRADESH                                  658615
19  20.0           MAHARASHTRA                                  308407
20  21.0               MANIPUR                                  182259
21  22.0             MEGHALAYA                                   99209
22  23.0               MIZORAM                                  148159
23  24.0                ODISHA                                  142414
24  25.0            PUDUCHERRY                                   29491
25  26.0                PUNJAB                                   31700
26  27.0             RAJASTHAN                                 1653022
27  28.0                SIKKIM                                   13802
28  29.0            TAMIL NADU                                 4027602
29  30.0               TRIPURA                                  422320
30  31.0         UTTAR PRADESH                                 1218793
31  32.0           UTTARAKHAND                                   57609
32  33.0           WEST BENGAL                                 1634531
33   NaN                Total:                                13127760

    Sno.            State Name  Total households demanded<br>work(Aug)
0    1.0   ANDAMAN AND NICOBAR                                    3988
1    2.0  DADRA & NAGAR HAVELI                                       0
2    3.0           DAMAN & DIU                                       0
3    4.0           LAKSHADWEEP                                      84
4    5.0              NAGALAND                                  117000
5    6.0        ANDHRA PRADESH                                       0
6    7.0     ARUNACHAL PRADESH                                   21277
7    8.0                 ASSAM                                  198698
8    9.0                 BIHAR                                  201463
9   10.0          CHHATTISGARH                                   58486
10  11.0                   GOA                                    1211
11  12.0               GUJARAT                                  121676
12  13.0               HARYANA                                   63804
13  14.0      HIMACHAL PRADESH                                  163599
14  15.0     JAMMU AND KASHMIR                                   71952
15  16.0             JHARKHAND                                  131592
16  17.0             KARNATAKA                                  123953
17  18.0                KERALA                                  707689
18  19.0        MADHYA PRADESH                                  306890
19  20.0           MAHARASHTRA                                  278137
20  21.0               MANIPUR                                  159760
21  22.0             MEGHALAYA                                   97632
22  23.0               MIZORAM                                  153593
23  24.0                ODISHA                                  123954
24  25.0            PUDUCHERRY                                   16526
25  26.0                PUNJAB                                   34741
26  27.0             RAJASTHAN                                  723713
27  28.0                SIKKIM                                   12446
28  29.0            TAMIL NADU                                 4127003
29  30.0               TRIPURA                                  413907
30  31.0         UTTAR PRADESH                                  591000
31  32.0           UTTARAKHAND                                   74731
32  33.0           WEST BENGAL                                  903730
33   NaN                Total:                                10004235
    Sno.            State Name  Total households demanded<br>work(Sep)
0    1.0   ANDAMAN AND NICOBAR                                    5889
1    2.0  DADRA & NAGAR HAVELI                                       0
2    3.0           DAMAN & DIU                                       0
3    4.0           LAKSHADWEEP                                     201
4    5.0              NAGALAND                                  178236
5    6.0        ANDHRA PRADESH                                       0
6    7.0     ARUNACHAL PRADESH                                   36193
7    8.0                 ASSAM                                  186680
8    9.0                 BIHAR                                  205337
9   10.0          CHHATTISGARH                                   72914
10  11.0                   GOA                                     878
11  12.0               GUJARAT                                  114293
12  13.0               HARYANA                                   58739
13  14.0      HIMACHAL PRADESH                                  165891
14  15.0     JAMMU AND KASHMIR                                   96060
15  16.0             JHARKHAND                                  141804
16  17.0             KARNATAKA                                  190255
17  18.0                KERALA                                  905820
18  19.0        MADHYA PRADESH                                  315780
19  20.0           MAHARASHTRA                                  232280
20  21.0               MANIPUR                                  125809
21  22.0             MEGHALAYA                                  104047
22  23.0               MIZORAM                                  166518
23  24.0                ODISHA                                  138746
24  25.0            PUDUCHERRY                                   13465
25  26.0                PUNJAB                                   36839
26  27.0             RAJASTHAN                                  454628
27  28.0                SIKKIM                                   14553
28  29.0            TAMIL NADU                                 3637613
29  30.0               TRIPURA                                  358052
30  31.0         UTTAR PRADESH                                  981538
31  32.0           UTTARAKHAND                                   79311
32  33.0           WEST BENGAL                                  922986
33   NaN                Total:                                 9941355
    Sno.            State Name  Total households demanded<br>work(Oct)
0    1.0   ANDAMAN AND NICOBAR                                    6826
1    2.0  DADRA & NAGAR HAVELI                                       0
2    3.0           DAMAN & DIU                                       0
3    4.0           LAKSHADWEEP                                     174
4    5.0              NAGALAND                                  159477
5    6.0        ANDHRA PRADESH                                       0
6    7.0     ARUNACHAL PRADESH                                   68069
7    8.0                 ASSAM                                  147291
8    9.0                 BIHAR                                  237605
9   10.0          CHHATTISGARH                                  250435
10  11.0                   GOA                                    1424
11  12.0               GUJARAT                                  138565
12  13.0               HARYANA                                   53951
13  14.0      HIMACHAL PRADESH                                  117969
14  15.0     JAMMU AND KASHMIR                                  124664
15  16.0             JHARKHAND                                  144118
16  17.0             KARNATAKA                                  223204
17  18.0                KERALA                                  965544
18  19.0        MADHYA PRADESH                                  315400
19  20.0           MAHARASHTRA                                  166126
20  21.0               MANIPUR                                  149101
21  22.0             MEGHALAYA                                  110497
22  23.0               MIZORAM                                   50107
23  24.0                ODISHA                                   71815
24  25.0            PUDUCHERRY                                   11820
25  26.0                PUNJAB                                   27834
26  27.0             RAJASTHAN                                  391721
27  28.0                SIKKIM                                    8050
28  29.0            TAMIL NADU                                 2707253
29  30.0               TRIPURA                                  333659
30  31.0         UTTAR PRADESH                                 1052928
31  32.0           UTTARAKHAND                                   72473
32  33.0           WEST BENGAL                                  738179
33   NaN                Total:                                 8846279
    Sno.            State Name  Total households demanded<br>work(Nov)
0    1.0   ANDAMAN AND NICOBAR                                    4724
1    2.0  DADRA & NAGAR HAVELI                                       0
2    3.0           DAMAN & DIU                                       0
3    4.0           LAKSHADWEEP                                     804
4    5.0              NAGALAND                                  109041
5    6.0        ANDHRA PRADESH                                       0
6    7.0     ARUNACHAL PRADESH                                   65476
7    8.0                 ASSAM                                  300161
8    9.0                 BIHAR                                  284939
9   10.0          CHHATTISGARH                                  252909
10  11.0                   GOA                                    1467
11  12.0               GUJARAT                                   86263
12  13.0               HARYANA                                   52735
13  14.0      HIMACHAL PRADESH                                   98650
14  15.0     JAMMU AND KASHMIR                                  148144
15  16.0             JHARKHAND                                  145282
16  17.0             KARNATAKA                                  256630
17  18.0                KERALA                                  974503
18  19.0        MADHYA PRADESH                                  298474
19  20.0           MAHARASHTRA                                  146382
20  21.0               MANIPUR                                  155519
21  22.0             MEGHALAYA                                  111674
22  23.0               MIZORAM                                   55472
23  24.0                ODISHA                                  147019
24  25.0            PUDUCHERRY                                       0
25  26.0                PUNJAB                                   32796
26  27.0             RAJASTHAN                                  403642
27  28.0                SIKKIM                                    7132
28  29.0            TAMIL NADU                                 2402094
29  30.0               TRIPURA                                  415190
30  31.0         UTTAR PRADESH                                 1016332
31  32.0           UTTARAKHAND                                   70031
32  33.0           WEST BENGAL                                  634394
33   NaN                Total:                                 8677879

    Sno.            State Name  Total households demanded<br>work(Dec)
0    1.0   ANDAMAN AND NICOBAR                                    5321
1    2.0  DADRA & NAGAR HAVELI                                       0
2    3.0           DAMAN & DIU                                       0
3    4.0           LAKSHADWEEP                                     177
4    5.0              NAGALAND                                  126893
5    6.0        ANDHRA PRADESH                                       0
6    7.0     ARUNACHAL PRADESH                                   19540
7    8.0                 ASSAM                                  316102
8    9.0                 BIHAR                                  237018
9   10.0          CHHATTISGARH                                  574342
10  11.0                   GOA                                    1093
11  12.0               GUJARAT                                  122593
12  13.0               HARYANA                                   74026
13  14.0      HIMACHAL PRADESH                                  139226
14  15.0     JAMMU AND KASHMIR                                  155614
15  16.0             JHARKHAND                                  220305
16  17.0             KARNATAKA                                  274265
17  18.0                KERALA                                  964436
18  19.0        MADHYA PRADESH                                  445643
19  20.0           MAHARASHTRA                                  197350
20  21.0               MANIPUR                                  162498
21  22.0             MEGHALAYA                                   90562
22  23.0               MIZORAM                                   73517
23  24.0                ODISHA                                  234456
24  25.0            PUDUCHERRY                                       0
25  26.0                PUNJAB                                   54455
26  27.0             RAJASTHAN                                  923733
27  28.0                SIKKIM                                   16805
28  29.0            TAMIL NADU                                 2285730
29  30.0               TRIPURA                                  445399
30  31.0         UTTAR PRADESH                                 1263024
31  32.0           UTTARAKHAND                                   93164
32  33.0           WEST BENGAL                                  943268
33   NaN                Total:                                10460555
    Sno.            State Name  Total households demanded<br>work(Jan)
0    1.0   ANDAMAN AND NICOBAR                                    4606
1    2.0  DADRA & NAGAR HAVELI                                       0
2    3.0           DAMAN & DIU                                       0
3    4.0           LAKSHADWEEP                                     238
4    5.0              NAGALAND                                  135914
5    6.0        ANDHRA PRADESH                                       0
6    7.0     ARUNACHAL PRADESH                                    9334
7    8.0                 ASSAM                                  183177
8    9.0                 BIHAR                                  189416
9   10.0          CHHATTISGARH                                  996579
10  11.0                   GOA                                      29
11  12.0               GUJARAT                                  190645
12  13.0               HARYANA                                   98726
13  14.0      HIMACHAL PRADESH                                  176129
14  15.0     JAMMU AND KASHMIR                                  173004
15  16.0             JHARKHAND                                  266956
16  17.0             KARNATAKA                                  356096
17  18.0                KERALA                                  945511
18  19.0        MADHYA PRADESH                                  610513
19  20.0           MAHARASHTRA                                  250299
20  21.0               MANIPUR                                  324314
21  22.0             MEGHALAYA                                   87180
22  23.0               MIZORAM                                  108114
23  24.0                ODISHA                                  368359
24  25.0            PUDUCHERRY                                       0
25  26.0                PUNJAB                                   46873
26  27.0             RAJASTHAN                                 1575213
27  28.0                SIKKIM                                   25769
28  29.0            TAMIL NADU                                 2186799
29  30.0               TRIPURA                                  319839
30  31.0         UTTAR PRADESH                                 1168118
31  32.0           UTTARAKHAND                                  123235
32  33.0           WEST BENGAL                                 1528401
33   NaN                Total:                                12449386
    Sno.            State Name  Total households demanded<br>work(Feb)
0    1.0   ANDAMAN AND NICOBAR                                    5042
1    2.0  DADRA & NAGAR HAVELI                                       0
2    3.0           DAMAN & DIU                                       0
3    4.0           LAKSHADWEEP                                     153
4    5.0              NAGALAND                                   90061
5    6.0        ANDHRA PRADESH                                       0
6    7.0     ARUNACHAL PRADESH                                    9492
7    8.0                 ASSAM                                  261127
8    9.0                 BIHAR                                  325005
9   10.0          CHHATTISGARH                                 1150053
10  11.0                   GOA                                       0
11  12.0               GUJARAT                                  251222
12  13.0               HARYANA                                  104130
13  14.0      HIMACHAL PRADESH                                  223117
14  15.0     JAMMU AND KASHMIR                                  150967
15  16.0             JHARKHAND                                  404704
16  17.0             KARNATAKA                                  560479
17  18.0                KERALA                                  860967
18  19.0        MADHYA PRADESH                                  818059
19  20.0           MAHARASHTRA                                  291350
20  21.0               MANIPUR                                  186552
21  22.0             MEGHALAYA                                   65320
22  23.0               MIZORAM                                  100692
23  24.0                ODISHA                                  531192
24  25.0            PUDUCHERRY                                    2587
25  26.0                PUNJAB                                   48933
26  27.0             RAJASTHAN                                 1719147
27  28.0                SIKKIM                                   25258
28  29.0            TAMIL NADU                                 3195295
29  30.0               TRIPURA                                  195314
30  31.0         UTTAR PRADESH                                 1119562
31  32.0           UTTARAKHAND                                   99274
32  33.0           WEST BENGAL                                 1966223
33   NaN                Total:                                14761277
    Sno.            State Name  Total households demanded<br>work(Mar)
0    1.0   ANDAMAN AND NICOBAR                                    3946
1    2.0  DADRA & NAGAR HAVELI                                       0
2    3.0           DAMAN & DIU                                       0
3    4.0           LAKSHADWEEP                                     716
4    5.0              NAGALAND                                  155081
5    6.0        ANDHRA PRADESH                                       0
6    7.0     ARUNACHAL PRADESH                                   13899
7    8.0                 ASSAM                                  469751
8    9.0                 BIHAR                                  470098
9   10.0          CHHATTISGARH                                 1262619
10  11.0                   GOA                                      20
11  12.0               GUJARAT                                  196440
12  13.0               HARYANA                                  105894
13  14.0      HIMACHAL PRADESH                                  165796
14  15.0     JAMMU AND KASHMIR                                  167035
15  16.0             JHARKHAND                                  529749
16  17.0             KARNATAKA                                  635835
17  18.0                KERALA                                  645406
18  19.0        MADHYA PRADESH                                  789819
19  20.0           MAHARASHTRA                                  385966
20  21.0               MANIPUR                                  204525
21  22.0             MEGHALAYA                                   45432
22  23.0               MIZORAM                                  132504
23  24.0                ODISHA                                  785793
24  25.0            PUDUCHERRY                                    2071
25  26.0                PUNJAB                                   69360
26  27.0             RAJASTHAN                                 1338735
27  28.0                SIKKIM                                   19651
28  29.0            TAMIL NADU                                 3240621
29  30.0               TRIPURA                                  342736
30  31.0         UTTAR PRADESH                                 1450510
31  32.0           UTTARAKHAND                                   60762
32  33.0           WEST BENGAL                                 1994442
33   NaN                Total:                                15685212

In [88]:
data_3.head()

,Sno.,State Name,Total households demanded<br>work(Apr),Total households demanded<br>work(May),Total households demanded<br>work(Jun),Total households demanded<br>work(Jul),Total households demanded<br>work(Aug),Total households demanded<br>work(Sep),Total households demanded<br>work(Oct),Total households demanded<br>work(Nov),Total households demanded<br>work(Dec),Total households demanded<br>work(Jan),Total households demanded<br>work(Feb),Total households demanded<br>work(Mar)
0,1.0,ANDAMAN AND NICOBAR,3887,3368,2835,4541,3988,5889,6826,4724,5321,4606,5042,3946
1,2.0,DADRA & NAGAR HAVELI,4,1,1,0,0,0,0,0,0,0,0,0
2,3.0,DAMAN & DIU,0,0,0,0,0,0,0,0,0,0,0,0
3,4.0,LAKSHADWEEP,180,273,167,212,84,201,174,804,177,238,153,716
4,5.0,NAGALAND,319127,272144,275621,221741,117000,178236,159477,109041,126893,135914,90061,155081

In [89]:
data_3.to_csv("dropdown_3.csv")

# Dropdown 4

In [90]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
# check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
# # print(check_box_trail)
# ##for checkbox in check_box_trail:
#     checkbox.click()
# driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# for i in range (0,33):
#     i = str(i+1)
#     try:
#         driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
#         i=int(i)
#     except:
#         continue
#         i=int(i)
#     i=int(i)
    
for i in range (1,13):
    i = str(i+1)
    try:
        
        check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[28:29]
        driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[10]').click()
        for checkbox in check_box_trail:
            checkbox.click()
        driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
        for j in range (0,33):
            j = str(j+1)
            try:
                driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+j+']/label').click() #inside state
                j=int(j)
            except:
                continue
                j=int(j)
        j=int(j)
        driver.find_element_by_xpath('//*[@id="DdlstTxtBox6"]/option['+i+']').click() #inside state
        i=int(i)
#         typeOf(i)
        driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
        driver.implicitly_wait(15)
        dfs = pd.read_html(driver.page_source)
        dfs2 = dfs[-1]
        if i==2:
            data_4=dfs2
        else:
            data_4[dfs2.columns[2]]=dfs2.iloc[:,2]
                
                
        dfs2 = dfs[-1]
#                 dfs1.columns[3] = dfs[-1].dfs.loc[:,dfs.columns[2]]
        # dfs = dfs.T
        print(dfs2)
        sleep(5)
        driver.find_element_by_xpath('//*[@id="BtnBack"]').click() #inside state
        sleep(2)
#         driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click()
    except:
        continue    
#     i=int(i)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Driver [C:\Users\Abhishek\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

    Sno.            State Name  Total persons demanded work(Apr)
0    1.0   ANDAMAN AND NICOBAR                              4261
1    2.0  DADRA & NAGAR HAVELI                                 4
2    3.0           DAMAN & DIU                                 0
3    4.0           LAKSHADWEEP                               185
4    5.0              NAGALAND                            326585
5    6.0        ANDHRA PRADESH                                 0
6    7.0     ARUNACHAL PRADESH                              3248
7    8.0                 ASSAM                            218606
8    9.0                 BIHAR                           1050465
9   10.0          CHHATTISGARH                           1432035
10  11.0                   GOA                               737
11  12.0               GUJARAT                            239554
12  13.0               HARYANA                             58380
13  14.0      HIMACHAL PRADESH                            109078
14  15.0     JAMMU AND KASHMIR                             95454
15  16.0             JHARKHAND                            797358
16  17.0             KARNATAKA                             30953
17  18.0                KERALA                            114317
18  19.0        MADHYA PRADESH                           1972498
19  20.0           MAHARASHTRA                           1137419
20  21.0               MANIPUR                             22301
21  22.0             MEGHALAYA                            107044
22  23.0               MIZORAM                                 0
23  24.0                ODISHA                            580918
24  25.0            PUDUCHERRY                              4314
25  26.0                PUNJAB                             51053
26  27.0             RAJASTHAN                           1440620
27  28.0                SIKKIM                              9746
28  29.0            TAMIL NADU                           3774438
29  30.0               TRIPURA                            102765
30  31.0         UTTAR PRADESH                            841959
31  32.0           UTTARAKHAND                            112231
32  33.0           WEST BENGAL                           2303179
33   NaN                Total:                          16941705
    Sno.            State Name  Total persons demanded work(May)
0    1.0   ANDAMAN AND NICOBAR                              3781
1    2.0  DADRA & NAGAR HAVELI                                 1
2    3.0           DAMAN & DIU                                 0
3    4.0           LAKSHADWEEP                               278
4    5.0              NAGALAND                            272267
5    6.0        ANDHRA PRADESH                                 0
6    7.0     ARUNACHAL PRADESH                              2898
7    8.0                 ASSAM                            159851
8    9.0                 BIHAR                            902184
9   10.0          CHHATTISGARH                           2866974
10  11.0                   GOA                               330
11  12.0               GUJARAT                            442350
12  13.0               HARYANA                             77901
13  14.0      HIMACHAL PRADESH                            236398
14  15.0     JAMMU AND KASHMIR                             71451
15  16.0             JHARKHAND                            816899
16  17.0             KARNATAKA                            122402
17  18.0                KERALA                            554823
18  19.0        MADHYA PRADESH                           2659711
19  20.0           MAHARASHTRA                           1372659
20  21.0               MANIPUR                             32513
21  22.0             MEGHALAYA                            135000
22  23.0               MIZORAM                                 0
23  24.0                ODISHA                           1120145
24  25.0            PUDUCHERRY                              4440
25  26.0                PUNJAB                             66401
26  27.0             RAJASTHAN                           2898982
27  28.0                SIKKIM                             12591
28  29.0            TAMIL NADU                           4580961
29  30.0               TRIPURA                            169297
30  31.0         UTTAR PRADESH                           1219831
31  32.0           UTTARAKHAND                             75246
32  33.0           WEST BENGAL                           3081633
33   NaN                Total:                          23960198
    Sno.            State Name  Total persons demanded work(Jun)
0    1.0   ANDAMAN AND NICOBAR                              3184
1    2.0  DADRA & NAGAR HAVELI                                 1
2    3.0           DAMAN & DIU                                 0
3    4.0           LAKSHADWEEP                               169
4    5.0              NAGALAND                            275622
5    6.0        ANDHRA PRADESH                                 0
6    7.0     ARUNACHAL PRADESH                             25943
7    8.0                 ASSAM                            251813
8    9.0                 BIHAR                            619760
9   10.0          CHHATTISGARH                           2007304
10  11.0                   GOA                               512
11  12.0               GUJARAT                            471519
12  13.0               HARYANA                            110763
13  14.0      HIMACHAL PRADESH                            263166
14  15.0     JAMMU AND KASHMIR                             63962
15  16.0             JHARKHAND                            569892
16  17.0             KARNATAKA                            161461
17  18.0                KERALA                            825583
18  19.0        MADHYA PRADESH                           2718983
19  20.0           MAHARASHTRA                           1047934
20  21.0               MANIPUR                            211803
21  22.0             MEGHALAYA                            116044
22  23.0               MIZORAM                             99475
23  24.0                ODISHA                           1249283
24  25.0            PUDUCHERRY                             19403
25  26.0                PUNJAB                             63156
26  27.0             RAJASTHAN                           3418434
27  28.0                SIKKIM                             12137
28  29.0            TAMIL NADU                           5557961
29  30.0               TRIPURA                            441637
30  31.0         UTTAR PRADESH                           1771388
31  32.0           UTTARAKHAND                             62124
32  33.0           WEST BENGAL                           3616799
33   NaN                Total:                          26057215
    Sno.            State Name  Total persons demanded work(Jul)
0    1.0   ANDAMAN AND NICOBAR                              5041
1    2.0  DADRA & NAGAR HAVELI                                 0
2    3.0           DAMAN & DIU                                 0
3    4.0           LAKSHADWEEP                               214
4    5.0              NAGALAND                            221743
5    6.0        ANDHRA PRADESH                                 0
6    7.0     ARUNACHAL PRADESH                             40139
7    8.0                 ASSAM                            184189
8    9.0                 BIHAR                            319129
9   10.0          CHHATTISGARH                            168720
10  11.0                   GOA                               538
11  12.0               GUJARAT                            270835
12  13.0               HARYANA                            102088
13  14.0      HIMACHAL PRADESH                            235854
14  15.0     JAMMU AND KASHMIR                             89788
15  16.0             JHARKHAND                            292484
16  17.0             KARNATAKA                            226282
17  18.0                KERALA                            909740
18  19.0        MADHYA PRADESH                           1142632
19  20.0           MAHARASHTRA                            537781
20  21.0               MANIPUR                            206119
21  22.0             MEGHALAYA                            120124
22  23.0               MIZORAM                            148167
23  24.0                ODISHA                            230149
24  25.0            PUDUCHERRY                             31889
25  26.0                PUNJAB                             35273
26  27.0             RAJASTHAN                           1966076
27  28.0                SIKKIM                             15035
28  29.0            TAMIL NADU                           5138497
29  30.0               TRIPURA                            551905
30  31.0         UTTAR PRADESH                           1402202
31  32.0           UTTARAKHAND                             62466
32  33.0           WEST BENGAL                           2153371
33   NaN                Total:                          16808470

    Sno.            State Name  Total persons demanded work(Aug)
0    1.0   ANDAMAN AND NICOBAR                              4400
1    2.0  DADRA & NAGAR HAVELI                                 0
2    3.0           DAMAN & DIU                                 0
3    4.0           LAKSHADWEEP                                84
4    5.0              NAGALAND                            117121
5    6.0        ANDHRA PRADESH                                 0
6    7.0     ARUNACHAL PRADESH                             22173
7    8.0                 ASSAM                            229127
8    9.0                 BIHAR                            233685
9   10.0          CHHATTISGARH                             77132
10  11.0                   GOA                              1267
11  12.0               GUJARAT                            212220
12  13.0               HARYANA                             94066
13  14.0      HIMACHAL PRADESH                            182918
14  15.0     JAMMU AND KASHMIR                             95581
15  16.0             JHARKHAND                            184366
16  17.0             KARNATAKA                            289490
17  18.0                KERALA                            751696
18  19.0        MADHYA PRADESH                            514525
19  20.0           MAHARASHTRA                            477270
20  21.0               MANIPUR                            165176
21  22.0             MEGHALAYA                            121456
22  23.0               MIZORAM                            153601
23  24.0                ODISHA                            189393
24  25.0            PUDUCHERRY                             17940
25  26.0                PUNJAB                             38439
26  27.0             RAJASTHAN                            858375
27  28.0                SIKKIM                             13490
28  29.0            TAMIL NADU                           5249004
29  30.0               TRIPURA                            544859
30  31.0         UTTAR PRADESH                            669812
31  32.0           UTTARAKHAND                             82562
32  33.0           WEST BENGAL                           1136350
33   NaN                Total:                          12727578
    Sno.            State Name  Total persons demanded work(Sep)
0    1.0   ANDAMAN AND NICOBAR                              6605
1    2.0  DADRA & NAGAR HAVELI                                 0
2    3.0           DAMAN & DIU                                 0
3    4.0           LAKSHADWEEP                               204
4    5.0              NAGALAND                            178498
5    6.0        ANDHRA PRADESH                                 0
6    7.0     ARUNACHAL PRADESH                             36338
7    8.0                 ASSAM                            220121
8    9.0                 BIHAR                            232618
9   10.0          CHHATTISGARH                             98815
10  11.0                   GOA                               939
11  12.0               GUJARAT                            194463
12  13.0               HARYANA                             87857
13  14.0      HIMACHAL PRADESH                            184005
14  15.0     JAMMU AND KASHMIR                            125481
15  16.0             JHARKHAND                            201807
16  17.0             KARNATAKA                            455071
17  18.0                KERALA                            963821
18  19.0        MADHYA PRADESH                            517744
19  20.0           MAHARASHTRA                            388553
20  21.0               MANIPUR                            130961
21  22.0             MEGHALAYA                            126084
22  23.0               MIZORAM                            166526
23  24.0                ODISHA                            210639
24  25.0            PUDUCHERRY                             14375
25  26.0                PUNJAB                             41336
26  27.0             RAJASTHAN                            544537
27  28.0                SIKKIM                             15529
28  29.0            TAMIL NADU                           4456133
29  30.0               TRIPURA                            438327
30  31.0         UTTAR PRADESH                           1106383
31  32.0           UTTARAKHAND                             87300
32  33.0           WEST BENGAL                           1164637
33   NaN                Total:                          12395707
    Sno.            State Name  Total persons demanded work(Oct)
0    1.0   ANDAMAN AND NICOBAR                              7506
1    2.0  DADRA & NAGAR HAVELI                                 0
2    3.0           DAMAN & DIU                                 0
3    4.0           LAKSHADWEEP                               176
4    5.0              NAGALAND                            159491
5    6.0        ANDHRA PRADESH                                 0
6    7.0     ARUNACHAL PRADESH                             68529
7    8.0                 ASSAM                            170266
8    9.0                 BIHAR                            264038
9   10.0          CHHATTISGARH                            390735
10  11.0                   GOA                              1452
11  12.0               GUJARAT                            226429
12  13.0               HARYANA                             80209
13  14.0      HIMACHAL PRADESH                            129447
14  15.0     JAMMU AND KASHMIR                            167119
15  16.0             JHARKHAND                            203757
16  17.0             KARNATAKA                            525121
17  18.0                KERALA                           1022686
18  19.0        MADHYA PRADESH                            523164
19  20.0           MAHARASHTRA                            271343
20  21.0               MANIPUR                            151954
21  22.0             MEGHALAYA                            138957
22  23.0               MIZORAM                             50115
23  24.0                ODISHA                            101120
24  25.0            PUDUCHERRY                             12760
25  26.0                PUNJAB                             30941
26  27.0             RAJASTHAN                            472426
27  28.0                SIKKIM                              8471
28  29.0            TAMIL NADU                           3175341
29  30.0               TRIPURA                            405985
30  31.0         UTTAR PRADESH                           1195060
31  32.0           UTTARAKHAND                             79078
32  33.0           WEST BENGAL                            942552
33   NaN                Total:                          10976228
    Sno.            State Name  Total persons demanded work(Nov)
0    1.0   ANDAMAN AND NICOBAR                              5191
1    2.0  DADRA & NAGAR HAVELI                                 0
2    3.0           DAMAN & DIU                                 0
3    4.0           LAKSHADWEEP                               806
4    5.0              NAGALAND                            109042
5    6.0        ANDHRA PRADESH                                 0
6    7.0     ARUNACHAL PRADESH                             66001
7    8.0                 ASSAM                            327499
8    9.0                 BIHAR                            324161
9   10.0          CHHATTISGARH                            393602
10  11.0                   GOA                              1535
11  12.0               GUJARAT                            136586
12  13.0               HARYANA                             78170
13  14.0      HIMACHAL PRADESH                            107627
14  15.0     JAMMU AND KASHMIR                            200277
15  16.0             JHARKHAND                            204140
16  17.0             KARNATAKA                            624390
17  18.0                KERALA                           1030678
18  19.0        MADHYA PRADESH                            510051
19  20.0           MAHARASHTRA                            235172
20  21.0               MANIPUR                            157272
21  22.0             MEGHALAYA                            135947
22  23.0               MIZORAM                             55480
23  24.0                ODISHA                            209078
24  25.0            PUDUCHERRY                                 0
25  26.0                PUNJAB                             36188
26  27.0             RAJASTHAN                            481401
27  28.0                SIKKIM                              7572
28  29.0            TAMIL NADU                           2802963
29  30.0               TRIPURA                            530166
30  31.0         UTTAR PRADESH                           1149824
31  32.0           UTTARAKHAND                             74926
32  33.0           WEST BENGAL                            804077
33   NaN                Total:                          10799822

    Sno.            State Name  Total persons demanded work(Dec)
0    1.0   ANDAMAN AND NICOBAR                              5951
1    2.0  DADRA & NAGAR HAVELI                                 0
2    3.0           DAMAN & DIU                                 0
3    4.0           LAKSHADWEEP                               181
4    5.0              NAGALAND                            126949
5    6.0        ANDHRA PRADESH                                 0
6    7.0     ARUNACHAL PRADESH                             19752
7    8.0                 ASSAM                            347790
8    9.0                 BIHAR                            264451
9   10.0          CHHATTISGARH                            942656
10  11.0                   GOA                              1115
11  12.0               GUJARAT                            199349
12  13.0               HARYANA                            108348
13  14.0      HIMACHAL PRADESH                            152137
14  15.0     JAMMU AND KASHMIR                            209444
15  16.0             JHARKHAND                            304313
16  17.0             KARNATAKA                            660366
17  18.0                KERALA                           1014124
18  19.0        MADHYA PRADESH                            768143
19  20.0           MAHARASHTRA                            316859
20  21.0               MANIPUR                            166785
21  22.0             MEGHALAYA                            105011
22  23.0               MIZORAM                             73525
23  24.0                ODISHA                            329804
24  25.0            PUDUCHERRY                                 0
25  26.0                PUNJAB                             61157
26  27.0             RAJASTHAN                           1086050
27  28.0                SIKKIM                             17776
28  29.0            TAMIL NADU                           2662971
29  30.0               TRIPURA                            603355
30  31.0         UTTAR PRADESH                           1422880
31  32.0           UTTARAKHAND                             99878
32  33.0           WEST BENGAL                           1229422
33   NaN                Total:                          13300542
    Sno.            State Name  Total persons demanded work(Jan)
0    1.0   ANDAMAN AND NICOBAR                              5044
1    2.0  DADRA & NAGAR HAVELI                                 0
2    3.0           DAMAN & DIU                                 0
3    4.0           LAKSHADWEEP                               243
4    5.0              NAGALAND                            135919
5    6.0        ANDHRA PRADESH                                 0
6    7.0     ARUNACHAL PRADESH                              9500
7    8.0                 ASSAM                            200247
8    9.0                 BIHAR                            210281
9   10.0          CHHATTISGARH                           1684484
10  11.0                   GOA                                29
11  12.0               GUJARAT                            314730
12  13.0               HARYANA                            148802
13  14.0      HIMACHAL PRADESH                            194839
14  15.0     JAMMU AND KASHMIR                            217848
15  16.0             JHARKHAND                            369463
16  17.0             KARNATAKA                            879045
17  18.0                KERALA                            989884
18  19.0        MADHYA PRADESH                           1073331
19  20.0           MAHARASHTRA                            418593
20  21.0               MANIPUR                            343753
21  22.0             MEGHALAYA                            102857
22  23.0               MIZORAM                            108114
23  24.0                ODISHA                            510365
24  25.0            PUDUCHERRY                                 0
25  26.0                PUNJAB                             53544
26  27.0             RAJASTHAN                           1846865
27  28.0                SIKKIM                             29417
28  29.0            TAMIL NADU                           2582472
29  30.0               TRIPURA                            419527
30  31.0         UTTAR PRADESH                           1320889
31  32.0           UTTARAKHAND                            132146
32  33.0           WEST BENGAL                           2040994
33   NaN                Total:                          16343225
    Sno.            State Name  Total persons demanded work(Feb)
0    1.0   ANDAMAN AND NICOBAR                              5609
1    2.0  DADRA & NAGAR HAVELI                                 0
2    3.0           DAMAN & DIU                                 0
3    4.0           LAKSHADWEEP                               155
4    5.0              NAGALAND                             90096
5    6.0        ANDHRA PRADESH                                 0
6    7.0     ARUNACHAL PRADESH                              9572
7    8.0                 ASSAM                            309103
8    9.0                 BIHAR                            380006
9   10.0          CHHATTISGARH                           1934273
10  11.0                   GOA                                 0
11  12.0               GUJARAT                            415175
12  13.0               HARYANA                            157960
13  14.0      HIMACHAL PRADESH                            251910
14  15.0     JAMMU AND KASHMIR                            191872
15  16.0             JHARKHAND                            564398
16  17.0             KARNATAKA                           1484155
17  18.0                KERALA                            897226
18  19.0        MADHYA PRADESH                           1465837
19  20.0           MAHARASHTRA                            498402
20  21.0               MANIPUR                            197132
21  22.0             MEGHALAYA                             73702
22  23.0               MIZORAM                            105754
23  24.0                ODISHA                            747343
24  25.0            PUDUCHERRY                              2820
25  26.0                PUNJAB                             57184
26  27.0             RAJASTHAN                           2025062
27  28.0                SIKKIM                             29355
28  29.0            TAMIL NADU                           3963902
29  30.0               TRIPURA                            245404
30  31.0         UTTAR PRADESH                           1275911
31  32.0           UTTARAKHAND                            108392
32  33.0           WEST BENGAL                           2683822
33   NaN                Total:                          20171532
    Sno.            State Name  Total persons demanded work(Mar)
0    1.0   ANDAMAN AND NICOBAR                              4322
1    2.0  DADRA & NAGAR HAVELI                                 0
2    3.0           DAMAN & DIU                                 0
3    4.0           LAKSHADWEEP                               722
4    5.0              NAGALAND                            160373
5    6.0        ANDHRA PRADESH                                 0
6    7.0     ARUNACHAL PRADESH                             14066
7    8.0                 ASSAM                            541706
8    9.0                 BIHAR                            568888
9   10.0          CHHATTISGARH                           2145165
10  11.0                   GOA                                20
11  12.0               GUJARAT                            340468
12  13.0               HARYANA                            162505
13  14.0      HIMACHAL PRADESH                            189653
14  15.0     JAMMU AND KASHMIR                            225137
15  16.0             JHARKHAND                            759818
16  17.0             KARNATAKA                           1765334
17  18.0                KERALA                            673641
18  19.0        MADHYA PRADESH                           1413096
19  20.0           MAHARASHTRA                            657467
20  21.0               MANIPUR                            236704
21  22.0             MEGHALAYA                             53388
22  23.0               MIZORAM                            137096
23  24.0                ODISHA                           1117675
24  25.0            PUDUCHERRY                              2234
25  26.0                PUNJAB                             83466
26  27.0             RAJASTHAN                           1621725
27  28.0                SIKKIM                             23691
28  29.0            TAMIL NADU                           4237335
29  30.0               TRIPURA                            475707
30  31.0         UTTAR PRADESH                           1687623
31  32.0           UTTARAKHAND                             66490
32  33.0           WEST BENGAL                           2719584
33   NaN                Total:                          22085099

In [91]:
data_4.head()

,Sno.,State Name,Total persons demanded work(Apr),Total persons demanded work(May),Total persons demanded work(Jun),Total persons demanded work(Jul),Total persons demanded work(Aug),Total persons demanded work(Sep),Total persons demanded work(Oct),Total persons demanded work(Nov),Total persons demanded work(Dec),Total persons demanded work(Jan),Total persons demanded work(Feb),Total persons demanded work(Mar)
0,1.0,ANDAMAN AND NICOBAR,4261,3781,3184,5041,4400,6605,7506,5191,5951,5044,5609,4322
1,2.0,DADRA & NAGAR HAVELI,4,1,1,0,0,0,0,0,0,0,0,0
2,3.0,DAMAN & DIU,0,0,0,0,0,0,0,0,0,0,0,0
3,4.0,LAKSHADWEEP,185,278,169,214,84,204,176,806,181,243,155,722
4,5.0,NAGALAND,326585,272267,275622,221743,117121,178498,159491,109042,126949,135919,90096,160373

In [92]:
data_4.to_csv("dropdown_4.csv")

# Dropdown 5

In [93]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
# check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
# # print(check_box_trail)
# ##for checkbox in check_box_trail:
#     checkbox.click()
# driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# for i in range (0,33):
#     i = str(i+1)
#     try:
#         driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
#         i=int(i)
#     except:
#         continue
#         i=int(i)
#     i=int(i)
    
for i in range (1,13):
    i = str(i+1)
    try:
        
        check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[29:30]
        driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[10]').click()
        for checkbox in check_box_trail:
            checkbox.click()
        driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
        for j in range (0,33):
            j = str(j+1)
            try:
                driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+j+']/label').click() #inside state
                j=int(j)
            except:
                continue
                j=int(j)
        j=int(j)
        driver.find_element_by_xpath('//*[@id="DdlstTxtBox7"]/option['+i+']').click() #inside state
        i=int(i)
#         typeOf(i)
        driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
        driver.implicitly_wait(15)
        dfs = pd.read_html(driver.page_source)
        dfs2 = dfs[-1]
        if i==2:
            data_5=dfs2
        else:
            data_5[dfs2.columns[2]]=dfs2.iloc[:,2]
                
                
        dfs2 = dfs[-1]
#                 dfs1.columns[3] = dfs[-1].dfs.loc[:,dfs.columns[2]]
        # dfs = dfs.T
        print(dfs2)
        sleep(5)
        driver.find_element_by_xpath('//*[@id="BtnBack"]').click() #inside state
        sleep(2)
#         driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click()
    except:
        continue    
#     i=int(i)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Driver [C:\Users\Abhishek\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

    Sno.            State Name  Total households worked(Apr)
0    1.0   ANDAMAN AND NICOBAR                          2044
1    2.0  DADRA & NAGAR HAVELI                             2
2    3.0           DAMAN & DIU                             0
3    4.0           LAKSHADWEEP                           175
4    5.0              NAGALAND                        318868
5    6.0        ANDHRA PRADESH                       1968854
6    7.0     ARUNACHAL PRADESH                          1852
7    8.0                 ASSAM                        194444
8    9.0                 BIHAR                        803949
9   10.0          CHHATTISGARH                        834523
10  11.0                   GOA                           704
11  12.0               GUJARAT                        105379
12  13.0               HARYANA                         36902
13  14.0      HIMACHAL PRADESH                         83385
14  15.0     JAMMU AND KASHMIR                         71150
15  16.0             JHARKHAND                        541564
16  17.0             KARNATAKA                         11457
17  18.0                KERALA                         81179
18  19.0        MADHYA PRADESH                       1063524
19  20.0           MAHARASHTRA                        604324
20  21.0               MANIPUR                         19452
21  22.0             MEGHALAYA                         89878
22  23.0               MIZORAM                             0
23  24.0                ODISHA                        300620
24  25.0            PUDUCHERRY                          3858
25  26.0                PUNJAB                         44600
26  27.0             RAJASTHAN                        961851
27  28.0                SIKKIM                          8282
28  29.0            TAMIL NADU                       2973405
29  30.0               TRIPURA                         81240
30  31.0         UTTAR PRADESH                        720241
31  32.0           UTTARAKHAND                        102964
32  33.0           WEST BENGAL                       1711875
33   NaN                Total:                      13742545
    Sno.            State Name  Total households worked(May)
0    1.0   ANDAMAN AND NICOBAR                          2641
1    2.0  DADRA & NAGAR HAVELI                             0
2    3.0           DAMAN & DIU                             0
3    4.0           LAKSHADWEEP                           258
4    5.0              NAGALAND                        297316
5    6.0        ANDHRA PRADESH                       2530361
6    7.0     ARUNACHAL PRADESH                          3258
7    8.0                 ASSAM                        142468
8    9.0                 BIHAR                        852904
9   10.0          CHHATTISGARH                       1552771
10  11.0                   GOA                           338
11  12.0               GUJARAT                        213226
12  13.0               HARYANA                         52340
13  14.0      HIMACHAL PRADESH                        183818
14  15.0     JAMMU AND KASHMIR                         69216
15  16.0             JHARKHAND                        582906
16  17.0             KARNATAKA                         47370
17  18.0                KERALA                        440523
18  19.0        MADHYA PRADESH                       1434482
19  20.0           MAHARASHTRA                        734180
20  21.0               MANIPUR                         28142
21  22.0             MEGHALAYA                        115181
22  23.0               MIZORAM                             0
23  24.0                ODISHA                        601823
24  25.0            PUDUCHERRY                          4170
25  26.0                PUNJAB                         59311
26  27.0             RAJASTHAN                       2050882
27  28.0                SIKKIM                         11187
28  29.0            TAMIL NADU                       3581435
29  30.0               TRIPURA                        149062
30  31.0         UTTAR PRADESH                       1072790
31  32.0           UTTARAKHAND                         89886
32  33.0           WEST BENGAL                       2295027
33   NaN                Total:                      19199272
    Sno.            State Name  Total households worked(Jun)
0    1.0   ANDAMAN AND NICOBAR                          3312
1    2.0  DADRA & NAGAR HAVELI                             0
2    3.0           DAMAN & DIU                             0
3    4.0           LAKSHADWEEP                           167
4    5.0              NAGALAND                        268643
5    6.0        ANDHRA PRADESH                       2281054
6    7.0     ARUNACHAL PRADESH                         23424
7    8.0                 ASSAM                        200725
8    9.0                 BIHAR                        640721
9   10.0          CHHATTISGARH                       1164882
10  11.0                   GOA                           495
11  12.0               GUJARAT                        239538
12  13.0               HARYANA                         73320
13  14.0      HIMACHAL PRADESH                        204215
14  15.0     JAMMU AND KASHMIR                         61959
15  16.0             JHARKHAND                        430330
16  17.0             KARNATAKA                         62520
17  18.0                KERALA                        712383
18  19.0        MADHYA PRADESH                       1481998
19  20.0           MAHARASHTRA                        589435
20  21.0               MANIPUR                        202630
21  22.0             MEGHALAYA                         95204
22  23.0               MIZORAM                         96092
23  24.0                ODISHA                        671208
24  25.0            PUDUCHERRY                         18232
25  26.0                PUNJAB                         57312
26  27.0             RAJASTHAN                       2550484
27  28.0                SIKKIM                         11353
28  29.0            TAMIL NADU                       4232210
29  30.0               TRIPURA                        362561
30  31.0         UTTAR PRADESH                       1548285
31  32.0           UTTARAKHAND                         73690
32  33.0           WEST BENGAL                       2664684
33   NaN                Total:                      21023066
    Sno.            State Name  Total households worked(Jul)
0    1.0   ANDAMAN AND NICOBAR                          4310
1    2.0  DADRA & NAGAR HAVELI                             0
2    3.0           DAMAN & DIU                             0
3    4.0           LAKSHADWEEP                           173
4    5.0              NAGALAND                        203760
5    6.0        ANDHRA PRADESH                       1118682
6    7.0     ARUNACHAL PRADESH                         34950
7    8.0                 ASSAM                        162621
8    9.0                 BIHAR                        350593
9   10.0          CHHATTISGARH                        123685
10  11.0                   GOA                           522
11  12.0               GUJARAT                        147576
12  13.0               HARYANA                         68532
13  14.0      HIMACHAL PRADESH                        182138
14  15.0     JAMMU AND KASHMIR                         80364
15  16.0             JHARKHAND                        226696
16  17.0             KARNATAKA                         85584
17  18.0                KERALA                        791584
18  19.0        MADHYA PRADESH                        663975
19  20.0           MAHARASHTRA                        314404
20  21.0               MANIPUR                        237492
21  22.0             MEGHALAYA                         99772
22  23.0               MIZORAM                        148152
23  24.0                ODISHA                        119763
24  25.0            PUDUCHERRY                         29491
25  26.0                PUNJAB                         32119
26  27.0             RAJASTHAN                       1415743
27  28.0                SIKKIM                         13963
28  29.0            TAMIL NADU                       4082580
29  30.0               TRIPURA                        428565
30  31.0         UTTAR PRADESH                       1223098
31  32.0           UTTARAKHAND                         68714
32  33.0           WEST BENGAL                       1625467
33   NaN                Total:                      14085068

    Sno.            State Name  Total households worked(Aug)
0    1.0   ANDAMAN AND NICOBAR                          4027
1    2.0  DADRA & NAGAR HAVELI                             0
2    3.0           DAMAN & DIU                             0
3    4.0           LAKSHADWEEP                            79
4    5.0              NAGALAND                        113322
5    6.0        ANDHRA PRADESH                        431819
6    7.0     ARUNACHAL PRADESH                         21770
7    8.0                 ASSAM                        194615
8    9.0                 BIHAR                        251485
9   10.0          CHHATTISGARH                         58083
10  11.0                   GOA                          1207
11  12.0               GUJARAT                        101867
12  13.0               HARYANA                         63216
13  14.0      HIMACHAL PRADESH                        135870
14  15.0     JAMMU AND KASHMIR                         91119
15  16.0             JHARKHAND                        138252
16  17.0             KARNATAKA                        110265
17  18.0                KERALA                        712220
18  19.0        MADHYA PRADESH                        306453
19  20.0           MAHARASHTRA                        281915
20  21.0               MANIPUR                        162095
21  22.0             MEGHALAYA                         97762
22  23.0               MIZORAM                        153590
23  24.0                ODISHA                        109551
24  25.0            PUDUCHERRY                         16530
25  26.0                PUNJAB                         35301
26  27.0             RAJASTHAN                        583938
27  28.0                SIKKIM                         13277
28  29.0            TAMIL NADU                       4181451
29  30.0               TRIPURA                        416455
30  31.0         UTTAR PRADESH                        544350
31  32.0           UTTARAKHAND                         86925
32  33.0           WEST BENGAL                        901135
33   NaN                Total:                      10319944
    Sno.            State Name  Total households worked(Sep)
0    1.0   ANDAMAN AND NICOBAR                          4970
1    2.0  DADRA & NAGAR HAVELI                             0
2    3.0           DAMAN & DIU                             0
3    4.0           LAKSHADWEEP                           190
4    5.0              NAGALAND                        158927
5    6.0        ANDHRA PRADESH                        201153
6    7.0     ARUNACHAL PRADESH                         29242
7    8.0                 ASSAM                        184721
8    9.0                 BIHAR                        249334
9   10.0          CHHATTISGARH                         72655
10  11.0                   GOA                           871
11  12.0               GUJARAT                         95144
12  13.0               HARYANA                         58270
13  14.0      HIMACHAL PRADESH                        140914
14  15.0     JAMMU AND KASHMIR                        117930
15  16.0             JHARKHAND                        147118
16  17.0             KARNATAKA                        169606
17  18.0                KERALA                        767947
18  19.0        MADHYA PRADESH                        314216
19  20.0           MAHARASHTRA                        236069
20  21.0               MANIPUR                        145188
21  22.0             MEGHALAYA                        104197
22  23.0               MIZORAM                        166516
23  24.0                ODISHA                        125567
24  25.0            PUDUCHERRY                         13461
25  26.0                PUNJAB                         37070
26  27.0             RAJASTHAN                        368353
27  28.0                SIKKIM                         15308
28  29.0            TAMIL NADU                       3682911
29  30.0               TRIPURA                        359558
30  31.0         UTTAR PRADESH                        870130
31  32.0           UTTARAKHAND                         98441
32  33.0           WEST BENGAL                        921228
33   NaN                Total:                       9857205
    Sno.            State Name  Total households worked(Oct)
0    1.0   ANDAMAN AND NICOBAR                          5933
1    2.0  DADRA & NAGAR HAVELI                             0
2    3.0           DAMAN & DIU                             0
3    4.0           LAKSHADWEEP                           155
4    5.0              NAGALAND                        158938
5    6.0        ANDHRA PRADESH                        120412
6    7.0     ARUNACHAL PRADESH                         62344
7    8.0                 ASSAM                        145344
8    9.0                 BIHAR                        280854
9   10.0          CHHATTISGARH                        248221
10  11.0                   GOA                          1418
11  12.0               GUJARAT                        120540
12  13.0               HARYANA                         51491
13  14.0      HIMACHAL PRADESH                         90088
14  15.0     JAMMU AND KASHMIR                        152467
15  16.0             JHARKHAND                        150388
16  17.0             KARNATAKA                        199080
17  18.0                KERALA                        906525
18  19.0        MADHYA PRADESH                        315002
19  20.0           MAHARASHTRA                        168747
20  21.0               MANIPUR                        166945
21  22.0             MEGHALAYA                        112714
22  23.0               MIZORAM                         50106
23  24.0                ODISHA                         66685
24  25.0            PUDUCHERRY                         11810
25  26.0                PUNJAB                         28039
26  27.0             RAJASTHAN                        296174
27  28.0                SIKKIM                         11164
28  29.0            TAMIL NADU                       2775626
29  30.0               TRIPURA                        340795
30  31.0         UTTAR PRADESH                        940393
31  32.0           UTTARAKHAND                         95853
32  33.0           WEST BENGAL                        736680
33   NaN                Total:                       8810931
    Sno.            State Name  Total households worked(Nov)
0    1.0   ANDAMAN AND NICOBAR                          4482
1    2.0  DADRA & NAGAR HAVELI                             0
2    3.0           DAMAN & DIU                             0
3    4.0           LAKSHADWEEP                           749
4    5.0              NAGALAND                        104998
5    6.0        ANDHRA PRADESH                         97439
6    7.0     ARUNACHAL PRADESH                         47616
7    8.0                 ASSAM                        297500
8    9.0                 BIHAR                        326840
9   10.0          CHHATTISGARH                        248143
10  11.0                   GOA                          1465
11  12.0               GUJARAT                         74110
12  13.0               HARYANA                         48956
13  14.0      HIMACHAL PRADESH                         78392
14  15.0     JAMMU AND KASHMIR                        176234
15  16.0             JHARKHAND                        151169
16  17.0             KARNATAKA                        222721
17  18.0                KERALA                        896418
18  19.0        MADHYA PRADESH                        297581
19  20.0           MAHARASHTRA                        148816
20  21.0               MANIPUR                        168288
21  22.0             MEGHALAYA                        112845
22  23.0               MIZORAM                         55420
23  24.0                ODISHA                        121598
24  25.0            PUDUCHERRY                             0
25  26.0                PUNJAB                         32555
26  27.0             RAJASTHAN                        319188
27  28.0                SIKKIM                         10083
28  29.0            TAMIL NADU                       2428406
29  30.0               TRIPURA                        413254
30  31.0         UTTAR PRADESH                        902469
31  32.0           UTTARAKHAND                         91579
32  33.0           WEST BENGAL                        630097
33   NaN                Total:                       8509411

    Sno.            State Name  Total households worked(Dec)
0    1.0   ANDAMAN AND NICOBAR                          4697
1    2.0  DADRA & NAGAR HAVELI                             0
2    3.0           DAMAN & DIU                             0
3    4.0           LAKSHADWEEP                           101
4    5.0              NAGALAND                        138382
5    6.0        ANDHRA PRADESH                        154428
6    7.0     ARUNACHAL PRADESH                         28814
7    8.0                 ASSAM                        311100
8    9.0                 BIHAR                        295493
9   10.0          CHHATTISGARH                        483809
10  11.0                   GOA                          1089
11  12.0               GUJARAT                        109289
12  13.0               HARYANA                         67704
13  14.0      HIMACHAL PRADESH                        117705
14  15.0     JAMMU AND KASHMIR                        190404
15  16.0             JHARKHAND                        223127
16  17.0             KARNATAKA                        246604
17  18.0                KERALA                        902727
18  19.0        MADHYA PRADESH                        440261
19  20.0           MAHARASHTRA                        195685
20  21.0               MANIPUR                        167041
21  22.0             MEGHALAYA                         90278
22  23.0               MIZORAM                         73427
23  24.0                ODISHA                        190808
24  25.0            PUDUCHERRY                             0
25  26.0                PUNJAB                         54021
26  27.0             RAJASTHAN                        771229
27  28.0                SIKKIM                         17847
28  29.0            TAMIL NADU                       2288216
29  30.0               TRIPURA                        451400
30  31.0         UTTAR PRADESH                       1143532
31  32.0           UTTARAKHAND                        117732
32  33.0           WEST BENGAL                        934812
33   NaN                Total:                      10211762
    Sno.            State Name  Total households worked(Jan)
0    1.0   ANDAMAN AND NICOBAR                          5419
1    2.0  DADRA & NAGAR HAVELI                             0
2    3.0           DAMAN & DIU                             0
3    4.0           LAKSHADWEEP                           176
4    5.0              NAGALAND                        119538
5    6.0        ANDHRA PRADESH                        368098
6    7.0     ARUNACHAL PRADESH                         14594
7    8.0                 ASSAM                        181196
8    9.0                 BIHAR                        241047
9   10.0          CHHATTISGARH                        848477
10  11.0                   GOA                            29
11  12.0               GUJARAT                        169454
12  13.0               HARYANA                         90946
13  14.0      HIMACHAL PRADESH                        149010
14  15.0     JAMMU AND KASHMIR                        197351
15  16.0             JHARKHAND                        270041
16  17.0             KARNATAKA                        320980
17  18.0                KERALA                        868258
18  19.0        MADHYA PRADESH                        603693
19  20.0           MAHARASHTRA                        245706
20  21.0               MANIPUR                        313390
21  22.0             MEGHALAYA                         86642
22  23.0               MIZORAM                        107240
23  24.0                ODISHA                        313383
24  25.0            PUDUCHERRY                             0
25  26.0                PUNJAB                         45627
26  27.0             RAJASTHAN                       1372185
27  28.0                SIKKIM                         28074
28  29.0            TAMIL NADU                       2202197
29  30.0               TRIPURA                        321799
30  31.0         UTTAR PRADESH                       1065276
31  32.0           UTTARAKHAND                        151096
32  33.0           WEST BENGAL                       1513078
33   NaN                Total:                      12214000
    Sno.            State Name  Total households worked(Feb)
0    1.0   ANDAMAN AND NICOBAR                          5658
1    2.0  DADRA & NAGAR HAVELI                             0
2    3.0           DAMAN & DIU                             0
3    4.0           LAKSHADWEEP                           116
4    5.0              NAGALAND                         97975
5    6.0        ANDHRA PRADESH                       1043353
6    7.0     ARUNACHAL PRADESH                          7326
7    8.0                 ASSAM                        257831
8    9.0                 BIHAR                        344981
9   10.0          CHHATTISGARH                        982723
10  11.0                   GOA                             0
11  12.0               GUJARAT                        220218
12  13.0               HARYANA                         95401
13  14.0      HIMACHAL PRADESH                        193443
14  15.0     JAMMU AND KASHMIR                        180617
15  16.0             JHARKHAND                        405752
16  17.0             KARNATAKA                        502157
17  18.0                KERALA                        800175
18  19.0        MADHYA PRADESH                        806490
19  20.0           MAHARASHTRA                        284123
20  21.0               MANIPUR                        222472
21  22.0             MEGHALAYA                         64981
22  23.0               MIZORAM                        100676
23  24.0                ODISHA                        465538
24  25.0            PUDUCHERRY                          1772
25  26.0                PUNJAB                         44060
26  27.0             RAJASTHAN                       1517059
27  28.0                SIKKIM                         27456
28  29.0            TAMIL NADU                       3211993
29  30.0               TRIPURA                        193777
30  31.0         UTTAR PRADESH                        995445
31  32.0           UTTARAKHAND                        133345
32  33.0           WEST BENGAL                       1954837
33   NaN                Total:                      15161750
    Sno.            State Name  Total households worked(Mar)
0    1.0   ANDAMAN AND NICOBAR                          4643
1    2.0  DADRA & NAGAR HAVELI                             0
2    3.0           DAMAN & DIU                             0
3    4.0           LAKSHADWEEP                           664
4    5.0              NAGALAND                        175061
5    6.0        ANDHRA PRADESH                       1325202
6    7.0     ARUNACHAL PRADESH                         14496
7    8.0                 ASSAM                        468569
8    9.0                 BIHAR                        466220
9   10.0          CHHATTISGARH                       1073755
10  11.0                   GOA                            20
11  12.0               GUJARAT                        166323
12  13.0               HARYANA                         95518
13  14.0      HIMACHAL PRADESH                        144231
14  15.0     JAMMU AND KASHMIR                        201977
15  16.0             JHARKHAND                        526084
16  17.0             KARNATAKA                        537103
17  18.0                KERALA                        628282
18  19.0        MADHYA PRADESH                        776720
19  20.0           MAHARASHTRA                        363678
20  21.0               MANIPUR                        225260
21  22.0             MEGHALAYA                         45396
22  23.0               MIZORAM                        131974
23  24.0                ODISHA                        672305
24  25.0            PUDUCHERRY                          1173
25  26.0                PUNJAB                         61402
26  27.0             RAJASTHAN                       1145882
27  28.0                SIKKIM                         21927
28  29.0            TAMIL NADU                       3285516
29  30.0               TRIPURA                        334398
30  31.0         UTTAR PRADESH                       1227221
31  32.0           UTTARAKHAND                         87239
32  33.0           WEST BENGAL                       1968436
33   NaN                Total:                      16176675

In [94]:
data_5.head()

,Sno.,State Name,Total households worked(Apr),Total households worked(May),Total households worked(Jun),Total households worked(Jul),Total households worked(Aug),Total households worked(Sep),Total households worked(Oct),Total households worked(Nov),Total households worked(Dec),Total households worked(Jan),Total households worked(Feb),Total households worked(Mar)
0,1.0,ANDAMAN AND NICOBAR,2044,2641,3312,4310,4027,4970,5933,4482,4697,5419,5658,4643
1,2.0,DADRA & NAGAR HAVELI,2,0,0,0,0,0,0,0,0,0,0,0
2,3.0,DAMAN & DIU,0,0,0,0,0,0,0,0,0,0,0,0
3,4.0,LAKSHADWEEP,175,258,167,173,79,190,155,749,101,176,116,664
4,5.0,NAGALAND,318868,297316,268643,203760,113322,158927,158938,104998,138382,119538,97975,175061

In [95]:
data_5.to_csv("dropdown_5.csv")

# Dropdown 6

In [96]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
# check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
# # print(check_box_trail)
# ##for checkbox in check_box_trail:
#     checkbox.click()
# driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# for i in range (0,33):
#     i = str(i+1)
#     try:
#         driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
#         i=int(i)
#     except:
#         continue
#         i=int(i)
#     i=int(i)
    
for i in range (1,13):
    i = str(i+1)
    try:
        
        check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[30:31]
        driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[10]').click()
        
        for checkbox in check_box_trail:
            checkbox.click()
        driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
        for j in range (0,33):
            j = str(j+1)
            try:
                driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+j+']/label').click() #inside state
                j=int(j)
            except:
                continue
                j=int(j)
        j=int(j)
        driver.find_element_by_xpath('//*[@id="DdlstTxtBox8"]/option['+i+']').click() #inside state
        i=int(i)
#         typeOf(i)
        driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
        driver.implicitly_wait(15)
        dfs = pd.read_html(driver.page_source)
        dfs2 = dfs[-1]
        if i==2:
            data_6=dfs2
        else:
            data_6[dfs2.columns[2]]=dfs2.iloc[:,2]
                
                
        dfs2 = dfs[-1]
#                 dfs1.columns[3] = dfs[-1].dfs.loc[:,dfs.columns[2]]
        # dfs = dfs.T
        print(dfs2)
        sleep(5)
        driver.find_element_by_xpath('//*[@id="BtnBack"]').click() #inside state
        sleep(2)
#         driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click()
    except:
        continue    
#     i=int(i)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Driver [C:\Users\Abhishek\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

    Sno.            State Name  Total persons worked(Apr)
0    1.0   ANDAMAN AND NICOBAR                      25269
1    2.0  DADRA & NAGAR HAVELI                         22
2    3.0           DAMAN & DIU                          0
3    4.0           LAKSHADWEEP                       2818
4    5.0              NAGALAND                    3849725
5    6.0        ANDHRA PRADESH                   39804869
6    7.0     ARUNACHAL PRADESH                      30324
7    8.0                 ASSAM                    2301592
8    9.0                 BIHAR                   17448347
9   10.0          CHHATTISGARH                   12622589
10  11.0                   GOA                       7312
11  12.0               GUJARAT                    1779724
12  13.0               HARYANA                     712813
13  14.0      HIMACHAL PRADESH                    1175683
14  15.0     JAMMU AND KASHMIR                    1791806
15  16.0             JHARKHAND                    9435529
16  17.0             KARNATAKA                     203630
17  18.0                KERALA                     464407
18  19.0        MADHYA PRADESH                   19505765
19  20.0           MAHARASHTRA                   15074919
20  21.0               MANIPUR                      89877
21  22.0             MEGHALAYA                    1340502
22  23.0               MIZORAM                          0
23  24.0                ODISHA                    4690456
24  25.0            PUDUCHERRY                      37948
25  26.0                PUNJAB                     569177
26  27.0             RAJASTHAN                   14209345
27  28.0                SIKKIM                     159646
28  29.0            TAMIL NADU                   29120271
29  30.0               TRIPURA                    1022595
30  31.0         UTTAR PRADESH                   10025360
31  32.0           UTTARAKHAND                    1800556
32  33.0           WEST BENGAL                   20511656
33   NaN                Total:                  209814532
    Sno.            State Name  Total persons worked(May)
0    1.0   ANDAMAN AND NICOBAR                      29051
1    2.0  DADRA & NAGAR HAVELI                          0
2    3.0           DAMAN & DIU                          0
3    4.0           LAKSHADWEEP                       4840
4    5.0              NAGALAND                    3442061
5    6.0        ANDHRA PRADESH                   58501871
6    7.0     ARUNACHAL PRADESH                      75714
7    8.0                 ASSAM                    1593170
8    9.0                 BIHAR                   15938494
9   10.0          CHHATTISGARH                   31668778
10  11.0                   GOA                       2564
11  12.0               GUJARAT                    3995419
12  13.0               HARYANA                     870365
13  14.0      HIMACHAL PRADESH                    3177936
14  15.0     JAMMU AND KASHMIR                    1638173
15  16.0             JHARKHAND                    9969521
16  17.0             KARNATAKA                     986005
17  18.0                KERALA                    4007572
18  19.0        MADHYA PRADESH                   26505536
19  20.0           MAHARASHTRA                   18263013
20  21.0               MANIPUR                     296165
21  22.0             MEGHALAYA                    1819378
22  23.0               MIZORAM                          0
23  24.0                ODISHA                   10608563
24  25.0            PUDUCHERRY                      23880
25  26.0                PUNJAB                     708254
26  27.0             RAJASTHAN                   39624470
27  28.0                SIKKIM                     212372
28  29.0            TAMIL NADU                   41075437
29  30.0               TRIPURA                    1725448
30  31.0         UTTAR PRADESH                   13946989
31  32.0           UTTARAKHAND                    1492013
32  33.0           WEST BENGAL                   28330938
33   NaN                Total:                  320533990
    Sno.            State Name  Total persons worked(Jun)
0    1.0   ANDAMAN AND NICOBAR                      39030
1    2.0  DADRA & NAGAR HAVELI                          0
2    3.0           DAMAN & DIU                          0
3    4.0           LAKSHADWEEP                       2446
4    5.0              NAGALAND                    3344911
5    6.0        ANDHRA PRADESH                   38643870
6    7.0     ARUNACHAL PRADESH                     268509
7    8.0                 ASSAM                    2725227
8    9.0                 BIHAR                   10861295
9   10.0          CHHATTISGARH                   15546492
10  11.0                   GOA                       3741
11  12.0               GUJARAT                    4270813
12  13.0               HARYANA                    1201482
13  14.0      HIMACHAL PRADESH                    3524089
14  15.0     JAMMU AND KASHMIR                    1421603
15  16.0             JHARKHAND                    6101432
16  17.0             KARNATAKA                    1239432
17  18.0                KERALA                    7265226
18  19.0        MADHYA PRADESH                   25958958
19  20.0           MAHARASHTRA                   12677333
20  21.0               MANIPUR                    2438643
21  22.0             MEGHALAYA                    1611631
22  23.0               MIZORAM                    1563127
23  24.0                ODISHA                    9132590
24  25.0            PUDUCHERRY                     183348
25  26.0                PUNJAB                     679316
26  27.0             RAJASTHAN                   50866674
27  28.0                SIKKIM                     215779
28  29.0            TAMIL NADU                   58299572
29  30.0               TRIPURA                    4398903
30  31.0         UTTAR PRADESH                   20466731
31  32.0           UTTARAKHAND                    1117752
32  33.0           WEST BENGAL                   33291582
33   NaN                Total:                  319361537
    Sno.            State Name  Total persons worked(Jul)
0    1.0   ANDAMAN AND NICOBAR                      56991
1    2.0  DADRA & NAGAR HAVELI                          0
2    3.0           DAMAN & DIU                          0
3    4.0           LAKSHADWEEP                       3612
4    5.0              NAGALAND                    1909912
5    6.0        ANDHRA PRADESH                   11911082
6    7.0     ARUNACHAL PRADESH                     449516
7    8.0                 ASSAM                    1816914
8    9.0                 BIHAR                    5705524
9   10.0          CHHATTISGARH                    1210543
10  11.0                   GOA                       4707
11  12.0               GUJARAT                    2210007
12  13.0               HARYANA                    1089774
13  14.0      HIMACHAL PRADESH                    2927505
14  15.0     JAMMU AND KASHMIR                    1824214
15  16.0             JHARKHAND                    2888822
16  17.0             KARNATAKA                    1637543
17  18.0                KERALA                    8235677
18  19.0        MADHYA PRADESH                    9573558
19  20.0           MAHARASHTRA                    6259257
20  21.0               MANIPUR                    4300656
21  22.0             MEGHALAYA                    1591132
22  23.0               MIZORAM                    2071125
23  24.0                ODISHA                    1523206
24  25.0            PUDUCHERRY                     326826
25  26.0                PUNJAB                     396643
26  27.0             RAJASTHAN                   19647649
27  28.0                SIKKIM                     237317
28  29.0            TAMIL NADU                   46955892
29  30.0               TRIPURA                    5894803
30  31.0         UTTAR PRADESH                   13655189
31  32.0           UTTARAKHAND                    1079955
32  33.0           WEST BENGAL                   17244438
33   NaN                Total:                  174639989
    Sno.            State Name  Total persons worked(Aug)
0    1.0   ANDAMAN AND NICOBAR                      45941
1    2.0  DADRA & NAGAR HAVELI                          0
2    3.0           DAMAN & DIU                          0
3    4.0           LAKSHADWEEP                       1540
4    5.0              NAGALAND                    1007416
5    6.0        ANDHRA PRADESH                    4141126
6    7.0     ARUNACHAL PRADESH                     391508
7    8.0                 ASSAM                    2174826
8    9.0                 BIHAR                    4353337
9   10.0          CHHATTISGARH                     614829
10  11.0                   GOA                       9577
11  12.0               GUJARAT                    1452435
12  13.0               HARYANA                     965368
13  14.0      HIMACHAL PRADESH                    2007803
14  15.0     JAMMU AND KASHMIR                    2163617
15  16.0             JHARKHAND                    1800389
16  17.0             KARNATAKA                    2134711
17  18.0                KERALA                    6044522
18  19.0        MADHYA PRADESH                    4136655
19  20.0           MAHARASHTRA                    5411106
20  21.0               MANIPUR                    2239463
21  22.0             MEGHALAYA                    1596809
22  23.0               MIZORAM                    2012388
23  24.0                ODISHA                    1484131
24  25.0            PUDUCHERRY                     123720
25  26.0                PUNJAB                     431118
26  27.0             RAJASTHAN                    8349593
27  28.0                SIKKIM                     238661
28  29.0            TAMIL NADU                   49891963
29  30.0               TRIPURA                    5692042
30  31.0         UTTAR PRADESH                    5333673
31  32.0           UTTARAKHAND                    1431727
32  33.0           WEST BENGAL                    8686655
33   NaN                Total:                  126368649

    Sno.            State Name  Total persons worked(Sep)
0    1.0   ANDAMAN AND NICOBAR                      53317
1    2.0  DADRA & NAGAR HAVELI                          0
2    3.0           DAMAN & DIU                          0
3    4.0           LAKSHADWEEP                       3110
4    5.0              NAGALAND                    1682449
5    6.0        ANDHRA PRADESH                    2035177
6    7.0     ARUNACHAL PRADESH                     440247
7    8.0                 ASSAM                    2053004
8    9.0                 BIHAR                    4559645
9   10.0          CHHATTISGARH                     761565
10  11.0                   GOA                       6163
11  12.0               GUJARAT                    1429156
12  13.0               HARYANA                     917011
13  14.0      HIMACHAL PRADESH                    2127243
14  15.0     JAMMU AND KASHMIR                    2763597
15  16.0             JHARKHAND                    1921846
16  17.0             KARNATAKA                    3673002
17  18.0                KERALA                    6989673
18  19.0        MADHYA PRADESH                    4271640
19  20.0           MAHARASHTRA                    4444943
20  21.0               MANIPUR                    1698691
21  22.0             MEGHALAYA                    1585434
22  23.0               MIZORAM                    2298493
23  24.0                ODISHA                    1688160
24  25.0            PUDUCHERRY                      95706
25  26.0                PUNJAB                     455718
26  27.0             RAJASTHAN                    5611432
27  28.0                SIKKIM                     292516
28  29.0            TAMIL NADU                   36327786
29  30.0               TRIPURA                    4524088
30  31.0         UTTAR PRADESH                    8882294
31  32.0           UTTARAKHAND                    1565991
32  33.0           WEST BENGAL                    8179838
33   NaN                Total:                  113338935
    Sno.            State Name  Total persons worked(Oct)
0    1.0   ANDAMAN AND NICOBAR                      84396
1    2.0  DADRA & NAGAR HAVELI                          0
2    3.0           DAMAN & DIU                          0
3    4.0           LAKSHADWEEP                       2444
4    5.0              NAGALAND                    1824002
5    6.0        ANDHRA PRADESH                    1224458
6    7.0     ARUNACHAL PRADESH                     988508
7    8.0                 ASSAM                    1588956
8    9.0                 BIHAR                    5107500
9   10.0          CHHATTISGARH                    3155333
10  11.0                   GOA                      11489
11  12.0               GUJARAT                    1992073
12  13.0               HARYANA                     815950
13  14.0      HIMACHAL PRADESH                    1294558
14  15.0     JAMMU AND KASHMIR                    3638433
15  16.0             JHARKHAND                    1943558
16  17.0             KARNATAKA                    4255807
17  18.0                KERALA                    9237749
18  19.0        MADHYA PRADESH                    4556534
19  20.0           MAHARASHTRA                    3226992
20  21.0               MANIPUR                    2290683
21  22.0             MEGHALAYA                    2030237
22  23.0               MIZORAM                     778671
23  24.0                ODISHA                     748901
24  25.0            PUDUCHERRY                      61791
25  26.0                PUNJAB                     340875
26  27.0             RAJASTHAN                    4412090
27  28.0                SIKKIM                     208149
28  29.0            TAMIL NADU                   20937268
29  30.0               TRIPURA                    3787332
30  31.0         UTTAR PRADESH                    9930267
31  32.0           UTTARAKHAND                    1585975
32  33.0           WEST BENGAL                    6450303
33   NaN                Total:                   98511282
    Sno.            State Name  Total persons worked(Nov)
0    1.0   ANDAMAN AND NICOBAR                      45164
1    2.0  DADRA & NAGAR HAVELI                          0
2    3.0           DAMAN & DIU                          0
3    4.0           LAKSHADWEEP                      11712
4    5.0              NAGALAND                    1300321
5    6.0        ANDHRA PRADESH                     986190
6    7.0     ARUNACHAL PRADESH                     823684
7    8.0                 ASSAM                    3222309
8    9.0                 BIHAR                    6363232
9   10.0          CHHATTISGARH                    3122895
10  11.0                   GOA                      13259
11  12.0               GUJARAT                     882114
12  13.0               HARYANA                     785115
13  14.0      HIMACHAL PRADESH                    1049375
14  15.0     JAMMU AND KASHMIR                    4092430
15  16.0             JHARKHAND                    1953436
16  17.0             KARNATAKA                    5080318
17  18.0                KERALA                    9281058
18  19.0        MADHYA PRADESH                    4399687
19  20.0           MAHARASHTRA                    2747290
20  21.0               MANIPUR                    2247790
21  22.0             MEGHALAYA                    1815058
22  23.0               MIZORAM                     788999
23  24.0                ODISHA                    1487936
24  25.0            PUDUCHERRY                          0
25  26.0                PUNJAB                     405157
26  27.0             RAJASTHAN                    4439240
27  28.0                SIKKIM                     192895
28  29.0            TAMIL NADU                   22251205
29  30.0               TRIPURA                    6094035
30  31.0         UTTAR PRADESH                    9626278
31  32.0           UTTARAKHAND                    1427688
32  33.0           WEST BENGAL                    6053283
33   NaN                Total:                  102989153
    Sno.            State Name  Total persons worked(Dec)
0    1.0   ANDAMAN AND NICOBAR                      64378
1    2.0  DADRA & NAGAR HAVELI                          0
2    3.0           DAMAN & DIU                          0
3    4.0           LAKSHADWEEP                       1964
4    5.0              NAGALAND                    1306128
5    6.0        ANDHRA PRADESH                    1672036
6    7.0     ARUNACHAL PRADESH                     385108
7    8.0                 ASSAM                    3311209
8    9.0                 BIHAR                    5724909
9   10.0          CHHATTISGARH                    6780170
10  11.0                   GOA                       9236
11  12.0               GUJARAT                    1702270
12  13.0               HARYANA                    1044451
13  14.0      HIMACHAL PRADESH                    1759033
14  15.0     JAMMU AND KASHMIR                    4369449
15  16.0             JHARKHAND                    2983678
16  17.0             KARNATAKA                    5836489
17  18.0                KERALA                    9433073
18  19.0        MADHYA PRADESH                    6766150
19  20.0           MAHARASHTRA                    3565488
20  21.0               MANIPUR                    1890861
21  22.0             MEGHALAYA                    1223660
22  23.0               MIZORAM                    1066454
23  24.0                ODISHA                    2358895
24  25.0            PUDUCHERRY                          0
25  26.0                PUNJAB                     720273
26  27.0             RAJASTHAN                   12222987
27  28.0                SIKKIM                     330031
28  29.0            TAMIL NADU                   17433630
29  30.0               TRIPURA                    7359588
30  31.0         UTTAR PRADESH                   12991595
31  32.0           UTTARAKHAND                    1897033
32  33.0           WEST BENGAL                   10342430
33   NaN                Total:                  126552656
    Sno.            State Name  Total persons worked(Jan)
0    1.0   ANDAMAN AND NICOBAR                      80412
1    2.0  DADRA & NAGAR HAVELI                          0
2    3.0           DAMAN & DIU                          0
3    4.0           LAKSHADWEEP                       3035
4    5.0              NAGALAND                    1421767
5    6.0        ANDHRA PRADESH                    3535727
6    7.0     ARUNACHAL PRADESH                     236127
7    8.0                 ASSAM                    2051369
8    9.0                 BIHAR                    4748481
9   10.0          CHHATTISGARH                   13255454
10  11.0                   GOA                        353
11  12.0               GUJARAT                    2682770
12  13.0               HARYANA                    1480261
13  14.0      HIMACHAL PRADESH                    2190816
14  15.0     JAMMU AND KASHMIR                    4594198
15  16.0             JHARKHAND                    3688927
16  17.0             KARNATAKA                    8293566
17  18.0                KERALA                    9178700
18  19.0        MADHYA PRADESH                    9472640
19  20.0           MAHARASHTRA                    4466216
20  21.0               MANIPUR                    5612890
21  22.0             MEGHALAYA                    1336904
22  23.0               MIZORAM                    1593863
23  24.0                ODISHA                    4291626
24  25.0            PUDUCHERRY                          0
25  26.0                PUNJAB                     604250
26  27.0             RAJASTHAN                   22347178
27  28.0                SIKKIM                     579283
28  29.0            TAMIL NADU                   19035539
29  30.0               TRIPURA                    4531450
30  31.0         UTTAR PRADESH                   11800169
31  32.0           UTTARAKHAND                    2595535
32  33.0           WEST BENGAL                   17578801
33   NaN                Total:                  163288307

    Sno.            State Name  Total persons worked(Feb)
0    1.0   ANDAMAN AND NICOBAR                      80464
1    2.0  DADRA & NAGAR HAVELI                          0
2    3.0           DAMAN & DIU                          0
3    4.0           LAKSHADWEEP                       1746
4    5.0              NAGALAND                    1208895
5    6.0        ANDHRA PRADESH                   14647807
6    7.0     ARUNACHAL PRADESH                      84132
7    8.0                 ASSAM                    2935788
8    9.0                 BIHAR                    5720475
9   10.0          CHHATTISGARH                   14945247
10  11.0                   GOA                          0
11  12.0               GUJARAT                    3588873
12  13.0               HARYANA                    1528999
13  14.0      HIMACHAL PRADESH                    2855220
14  15.0     JAMMU AND KASHMIR                    3707239
15  16.0             JHARKHAND                    5850778
16  17.0             KARNATAKA                   14610033
17  18.0                KERALA                    8020327
18  19.0        MADHYA PRADESH                   12955705
19  20.0           MAHARASHTRA                    5067700
20  21.0               MANIPUR                    2652709
21  22.0             MEGHALAYA                     949243
22  23.0               MIZORAM                    1414940
23  24.0                ODISHA                    6706022
24  25.0            PUDUCHERRY                       8643
25  26.0                PUNJAB                     521318
26  27.0             RAJASTHAN                   22579776
27  28.0                SIKKIM                     553229
28  29.0            TAMIL NADU                   31727490
29  30.0               TRIPURA                    2272731
30  31.0         UTTAR PRADESH                   10769512
31  32.0           UTTARAKHAND                    2060888
32  33.0           WEST BENGAL                   23434549
33   NaN                Total:                  203460478
    Sno.            State Name  Total persons worked(Mar)
0    1.0   ANDAMAN AND NICOBAR                      56906
1    2.0  DADRA & NAGAR HAVELI                          0
2    3.0           DAMAN & DIU                          0
3    4.0           LAKSHADWEEP                       9495
4    5.0              NAGALAND                    2231919
5    6.0        ANDHRA PRADESH                   19037475
6    7.0     ARUNACHAL PRADESH                     176496
7    8.0                 ASSAM                    5629464
8    9.0                 BIHAR                    7648975
9   10.0          CHHATTISGARH                   15750410
10  11.0                   GOA                        143
11  12.0               GUJARAT                    2204534
12  13.0               HARYANA                    1475008
13  14.0      HIMACHAL PRADESH                    2120597
14  15.0     JAMMU AND KASHMIR                    4550831
15  16.0             JHARKHAND                    8119681
16  17.0             KARNATAKA                   13830376
17  18.0                KERALA                    5615961
18  19.0        MADHYA PRADESH                   11842626
19  20.0           MAHARASHTRA                    6034768
20  21.0               MANIPUR                    2753012
21  22.0             MEGHALAYA                     531311
22  23.0               MIZORAM                    1767851
23  24.0                ODISHA                    9880476
24  25.0            PUDUCHERRY                       5169
25  26.0                PUNJAB                     718085
26  27.0             RAJASTHAN                   16027740
27  28.0                SIKKIM                     411340
28  29.0            TAMIL NADU                   35088293
29  30.0               TRIPURA                    4548219
30  31.0         UTTAR PRADESH                   13756809
31  32.0           UTTARAKHAND                    1144598
32  33.0           WEST BENGAL                   21737966
33   NaN                Total:                  214706534

In [97]:
data_6.to_csv("dropdown_6.csv")

In [98]:
dfs_merged.head()

,Sno.,State Name,Total households applied for job card,Total job cards issued,Total job cards (SC),Total job cards (ST),Total job cards (non-SC/ST),Total households demanded work,Total persons demanded work,Total households allotted work,...,Amount sanctioned (Rs. In Lakhs),Total works,Total bank accounts,Total individual bank accounts,Total joint bank accounts,Amount disbursed to bank accounts,Total post office accounts,Total individual post office accounts,Total joint post office accounts,Amount disbursed to post office accounts
0,1.0,ANDAMAN AND NICOBAR,48489,48485,4,3976,44505,18212,21840,18238,...,107424461,1402,11218,10459,759,14232851,622,619,3,258939
1,2.0,DADRA & NAGAR HAVELI,8176,3554,1,3499,54,4,4,3,...,22,11,2181,2172,9,1099,0,0,0,0
2,3.0,DAMAN & DIU,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4.0,LAKSHADWEEP,8493,8424,8,8321,95,1963,2076,1961,...,1006,191,1253,1249,4,1801552,6470,6445,25,7765221
4,5.0,NAGALAND,398035,397829,3545,372154,22130,387007,411424,387006,...,245722258,15588,71,68,3,0,1,1,0,0

In [99]:
#file.drop(columns={"Unnamed: 0"},inplace=True)

In [100]:
d1=pd.read_csv("dropdown_1.csv")
d2=pd.read_csv("dropdown_2.csv")
d3=pd.read_csv("dropdown_3.csv")
d4=pd.read_csv("dropdown_4.csv")
d5=pd.read_csv("dropdown_5.csv")
d6=pd.read_csv("dropdown_6.csv")

In [101]:
d1.head()

,Unnamed: 0,Sno.,State Name,Total households completed<br>person-days in range:1-10,Total households completed<br>person-days in range:11-20,Total households completed<br>person-days in range:21-30,Total households completed<br>person-days in range:31-40,Total households completed<br>person-days in range:41-50,Total households completed<br>person-days in range:51-60,Total households completed<br>person-days in range:61-70,Total households completed<br>person-days in range:71-80,Total households completed<br>person-days in range:81-99,Total households completed<br>person-days in range:100,Total households completed<br>person-days in range:>100,Total households completed<br>person-days in range:>14
0,0,1.0,ANDAMAN AND NICOBAR,7966,23076,35443,43751,45341,53380,55227,54210,122794,209300,10831,645251
1,1,2.0,DADRA & NAGAR HAVELI,7,15,0,0,0,0,0,0,0,0,0,15
2,2,3.0,DAMAN & DIU,0,0,0,0,0,0,0,0,0,0,0,0
3,3,4.0,LAKSHADWEEP,274,14563,10781,2915,4919,3081,2143,2206,3862,3700,318,36344
4,4,5.0,NAGALAND,4685,67739,1541236,1327751,1539606,3429789,2751554,2938863,5540740,5319100,68443,24524011

In [102]:
d1.drop(columns={"Unnamed: 0","Sno.","State Name"},inplace=True)
d2.drop(columns={"Unnamed: 0","Sno.","State Name"},inplace=True)
d3.drop(columns={"Unnamed: 0","Sno.","State Name"},inplace=True)
d4.drop(columns={"Unnamed: 0","Sno.","State Name"},inplace=True)
d5.drop(columns={"Unnamed: 0","Sno.","State Name"},inplace=True)
d6.drop(columns={"Unnamed: 0","Sno.","State Name"},inplace=True)

In [103]:
combined_2012_13_state=pd.concat([dfs_merged,d1,d2,d3,d4,d5,d6],axis=1,sort=False)

In [104]:
combined_2012_13_state.head()

,Sno.,State Name,Total households applied for job card,Total job cards issued,Total job cards (SC),Total job cards (ST),Total job cards (non-SC/ST),Total households demanded work,Total persons demanded work,Total households allotted work,...,Total persons worked(Jun),Total persons worked(Jul),Total persons worked(Aug),Total persons worked(Sep),Total persons worked(Oct),Total persons worked(Nov),Total persons worked(Dec),Total persons worked(Jan),Total persons worked(Feb),Total persons worked(Mar)
0,1.0,ANDAMAN AND NICOBAR,48489,48485,4,3976,44505,18212,21840,18238,...,39030,56991,45941,53317,84396,45164,64378,80412,80464,56906
1,2.0,DADRA & NAGAR HAVELI,8176,3554,1,3499,54,4,4,3,...,0,0,0,0,0,0,0,0,0,0
2,3.0,DAMAN & DIU,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4.0,LAKSHADWEEP,8493,8424,8,8321,95,1963,2076,1961,...,2446,3612,1540,3110,2444,11712,1964,3035,1746,9495
4,5.0,NAGALAND,398035,397829,3545,372154,22130,387007,411424,387006,...,3344911,1909912,1007416,1682449,1824002,1300321,1306128,1421767,1208895,2231919

In [105]:
#merge.drop(columns={"Sno.","State Name"},inplace=True)

In [106]:
#FIRST PART AND LAST PART JOINED

In [107]:
#combined_2019_20_state=pd.concat([file,merge],axis=1,sort=False)

In [108]:
combined_2012_13_state.head()

,Sno.,State Name,Total households applied for job card,Total job cards issued,Total job cards (SC),Total job cards (ST),Total job cards (non-SC/ST),Total households demanded work,Total persons demanded work,Total households allotted work,...,Total persons worked(Jun),Total persons worked(Jul),Total persons worked(Aug),Total persons worked(Sep),Total persons worked(Oct),Total persons worked(Nov),Total persons worked(Dec),Total persons worked(Jan),Total persons worked(Feb),Total persons worked(Mar)
0,1.0,ANDAMAN AND NICOBAR,48489,48485,4,3976,44505,18212,21840,18238,...,39030,56991,45941,53317,84396,45164,64378,80412,80464,56906
1,2.0,DADRA & NAGAR HAVELI,8176,3554,1,3499,54,4,4,3,...,0,0,0,0,0,0,0,0,0,0
2,3.0,DAMAN & DIU,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4.0,LAKSHADWEEP,8493,8424,8,8321,95,1963,2076,1961,...,2446,3612,1540,3110,2444,11712,1964,3035,1746,9495
4,5.0,NAGALAND,398035,397829,3545,372154,22130,387007,411424,387006,...,3344911,1909912,1007416,1682449,1824002,1300321,1306128,1421767,1208895,2231919

In [109]:
combined_2012_13_state.to_csv("combined_2012_13_state.csv",index=False)

In [110]:
c=pd.read_csv("combined_2012_13_state.csv")
c.head()

,Sno.,State Name,Total households applied for job card,Total job cards issued,Total job cards (SC),Total job cards (ST),Total job cards (non-SC/ST),Total households demanded work,Total persons demanded work,Total households allotted work,...,Total persons worked(Jun),Total persons worked(Jul),Total persons worked(Aug),Total persons worked(Sep),Total persons worked(Oct),Total persons worked(Nov),Total persons worked(Dec),Total persons worked(Jan),Total persons worked(Feb),Total persons worked(Mar)
0,1.0,ANDAMAN AND NICOBAR,48489,48485,4,3976,44505,18212,21840,18238,...,39030,56991,45941,53317,84396,45164,64378,80412,80464,56906
1,2.0,DADRA & NAGAR HAVELI,8176,3554,1,3499,54,4,4,3,...,0,0,0,0,0,0,0,0,0,0
2,3.0,DAMAN & DIU,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4.0,LAKSHADWEEP,8493,8424,8,8321,95,1963,2076,1961,...,2446,3612,1540,3110,2444,11712,1964,3035,1746,9495
4,5.0,NAGALAND,398035,397829,3545,372154,22130,387007,411424,387006,...,3344911,1909912,1007416,1682449,1824002,1300321,1306128,1421767,1208895,2231919

# D I S T R I C T

## first 25

In [111]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[:25]
# print(check_box_trail)
for checkbox in check_box_trail:
    checkbox.click()
driver.find_element_by_xpath('//*[@id="regionselect"]/option[2]').click()
# driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li[1]/label').click() #inside state
driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[10]').click()


# try:
for i in range (0,33):
    i = str(i+1)
    try:
        driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
        i=int(i)
    except:
        continue
        i=int(i)
#     sleep(0.1)
#     i=int(i)
driver.find_element_by_xpath('//*[@id="viewDummy"]').click()

# except:
#     pass
# driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li[3]').click()
# # sleep(2)
# driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
# # sleep(15)
# driver.quit()
# df_list = pd.read_html('https://nregarep2.nic.in/netnrega/dynamic2/ReportGenerated.aspx')
dfs = pd.read_html(driver.page_source)
dfs2_first_part = dfs[-1]
# dfs = dfs.T
print(dfs)
# dfs.to_csv('Animal.csv',index=0)
sleep(10)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Driver [C:\Users\Abhishek\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

[                                                    0   \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                 Sno.
..                                                 ...
642                                                NaN
643                                                NaN
644                                                NaN
645                                                NaN
646  Note: Figures shown above are indicative only ...

                                                    1   \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                           State Name
..                                                 ...
642                                                NaN
643                                                NaN
644                                                NaN
645                                                NaN
646  Note: Figures shown above are indicative only ...

                                                    2   \
0         MGNREGA Public Data Portal For FY: 2012-2013
1                                                  NaN
2                                                  NaN
3    Sno.State NameDistrict NameTotal households ap...
4                                        District Name
..                                                 ...
642                                             Total:
643                                                NaN
644                                                NaN
645                                                NaN
646  Note: Figures shown above are indicative only ...

                                                    3   \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                Total households applied for job card
..                                                 ...
642                                          125991924
643                                                NaN
644                                                NaN
645                                                NaN
646  Note: Figures shown above are indicative only ...

                                                    4                     5   \
0                                                  NaN                   NaN
1                                                  NaN                   NaN
2                                                  NaN                   NaN
3                                                  NaN                   NaN
4                               Total job cards issued  Total job cards (SC)
..                                                 ...                   ...
642                                          124747235              26457858
643                                                NaN                   NaN
644                                                NaN                   NaN
645                                                NaN                   NaN
646  Note: Figures shown above are indicative only ...                   NaN

                       6                            7   \
0                     NaN                          NaN
1                     NaN                          NaN
2                     NaN                          NaN
3                     NaN                          NaN
4    Total job cards (ST)  Total job cards (non-SC/ST)
..                    ...                          ...
642              16874195                     81415182
643                   NaN                          NaN
644                   NaN                          NaN
645                   NaN                          NaN
646                   NaN                          NaN

                                 8                            9   ...  \
0                               NaN                          NaN  ...
1                               NaN                          NaN  ...
2                               NaN                          NaN  ...
3                               NaN                          NaN  ...
4    Total households demanded work  Total persons demanded work  ...
..                              ...                          ...  ...
642                        45622028                     72082186  ...
643                             NaN                          NaN  ...
644                             NaN                          NaN  ...
645                             NaN                          NaN  ...
646                             NaN                          NaN  ...

                                       18                          19  \
0                                     NaN                         NaN
1                                     NaN                         NaN
2                                     NaN                         NaN
3                                     NaN                         NaN
4    Total person-days worked (non-SC/ST)  Total SC households worked
..                                    ...                         ...
642                            1309779717                    10799918
643                                   NaN                         NaN
644                                   NaN                         NaN
645                                   NaN                         NaN
646                                   NaN                         NaN

                                  20                          21  \
0                                NaN                         NaN
1                                NaN                         NaN
2                                NaN                         NaN
3                                NaN                         NaN
4    Total person-days worked by SCs  Total ST households worked
..                               ...                         ...
642                        481635513                     7772643
643                              NaN                         NaN
644                              NaN                         NaN
645                              NaN                         NaN
646                              NaN                         NaN

                                  22                                       23  \
0                                NaN                                      NaN
1                                NaN                                      NaN
2                                NaN                                      NaN
3                                NaN                                      NaN
4    Total person-days worked by STs  Total land reform/IAY households worked
..                               ...                                      ...
642                        382678104                                  1550977
643                              NaN                                      NaN
644                              NaN                                      NaN
645                              NaN                                      NaN
646                              NaN                                      NaN

                                    24                 25  \
0                                  NaN                NaN
1                                  NaN                NaN
2                                  NaN                NaN
3                                  NaN                NaN
4    Total person-days worked by women  Total person-days
..                                 ...                ...
642                         1104256520         2174093334
643                                NaN                NaN
644                                NaN                NaN
645                                NaN                NaN
646                                NaN                NaN

                                         26  \
0                                       NaN
1                                       NaN
2                                       NaN
3                                       NaN
4    Total SC households over 100 day limit
..                                      ...
642                                 1079298
643                                     NaN
644                                     NaN
645                                     NaN
646                                     NaN

                                         27
0                                       NaN
1                                       NaN
2                                       NaN
3                                       NaN
4    Total ST households over 100 day limit
..                                      ...
642                                  826070
643                                     NaN
644                                     NaN
645                                     NaN
646                                     NaN

[647 rows x 28 columns],       Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households applied for job card  Total job cards issued  \
0                                     5149                    5145
1                                    18292                   18292
2                                    25048                   25048
3                                     8176                    3554
4                                        0                       0
..                                     ...                     ...
633                                 898113                  894792
634                                 685931                  683726
635                                 456861                  455667
636                                  91666                   91541
637                              125991924               124747235

     Total job cards (SC)  Total job cards (ST)  Total job cards (non-SC/ST)  \
0                       4                  3628                         1513
1                       0                     0                        18292
2                       0                   348                        24700
3                       1                  3499                           54
4                       0                     0                            0
..                    ...                   ...                          ...
633                187578                156977                       550237
634                101954                  5112                       576660
635                 83091                 84533                       288043
636                 42256                 25053                        24232
637              26457858              16874195                     81415182

     Total households demanded work  Total persons demanded work  ...  \
0                              1481                         1691  ...
1                             10668                        13351  ...
2                              6063                         6798  ...
3                                 4                            4  ...
4                                 0                            0  ...
..                              ...                          ...  ...
633                          553205                       931041  ...
634                          421531                       669275  ...
635                          228364                       441796  ...
636                           43330                        46176  ...
637                        45622028                     72082186  ...

     Total person-days worked (non-SC/ST)  Total SC households worked  \
0                                    7029                           2
1                                  588048                           0
2                                   20516                           0
3                                      22                           0
4                                       0                           0
..                                    ...                         ...
633                               9645458                      125804
634                              13676194                       64583
635                               5437212                       46871
636                                203460                       20986
637                            1309779717                    10799918

     Total person-days worked by SCs  Total ST households worked  \
0                                 26                        1196
1                                  0                           0
2                                  0                          60
3                                  0                           0
4                                  0                           0
..                               ...                         ...
633                          3986113                       96829
634                          2384947                        3190
635                          1937953                       48503
636                           419465                       10402
637                        481635513                     7772643

     Total person-days worked by STs  Total land reform/IAY households worked  \
0                              43580                                        2
1                                  0                                       12
2                               2120                                        4
3                                  0                                        1
4                                  0                                        0
..                               ...                                      ...
633                          2959322                                    81130
634                           121897                                    45187
635                          1898027                                     3948
636                           220501                                     2046
637                        382678104                                  1550977

     Total person-days worked by women  Total person-days  \
0                                17788              50635
1                               271632             588048
2                                 8929              22636
3                                    0                 22
4                                    0                  0
..                                 ...                ...
633                            5999676           16590893
634                            8001927           16183038
635                            3937224            9273192
636                             506321             843426
637                         1104256520         2174093334

     Total SC households over 100 day limit  \
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
633                                    2974
634                                    2850
635                                    3656
636                                     176
637                                 1079298

     Total ST households over 100 day limit
0                                        62
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
633                                    2565
634                                     140
635                                    3214
636                                     121
637                                  826070

[638 rows x 28 columns]]

In [112]:
dfs2_first_part.head()

,Sno.,State Name,District Name,Total households applied for job card,Total job cards issued,Total job cards (SC),Total job cards (ST),Total job cards (non-SC/ST),Total households demanded work,Total persons demanded work,...,Total person-days worked (non-SC/ST),Total SC households worked,Total person-days worked by SCs,Total ST households worked,Total person-days worked by STs,Total land reform/IAY households worked,Total person-days worked by women,Total person-days,Total SC households over 100 day limit,Total ST households over 100 day limit
0,1.0,ANDAMAN AND NICOBAR,NICOBARS,5149,5145,4,3628,1513,1481,1691,...,7029,2,26,1196,43580,2,17788,50635,0,62
1,2.0,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,18292,18292,0,0,18292,10668,13351,...,588048,0,0,0,0,12,271632,588048,0,0
2,3.0,ANDAMAN AND NICOBAR,SOUTH ANDAMAN,25048,25048,0,348,24700,6063,6798,...,20516,0,0,60,2120,4,8929,22636,0,0
3,4.0,DADRA & NAGAR HAVELI,DADRA AND NAGAR HAVELI,8176,3554,1,3499,54,4,4,...,22,0,0,0,0,1,0,22,0,0
4,5.0,DAMAN & DIU,DAMAN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [113]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[31:48]
# print(check_box_trail)
for checkbox in check_box_trail:
    checkbox.click()
driver.find_element_by_xpath('//*[@id="regionselect"]/option[2]').click()
# driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li[1]/label').click() #inside state
driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[10]').click()


# try:
for i in range (0,33):
    i = str(i+1)
    try:
        driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
        i=int(i)
    except:
        continue
        i=int(i)
#     sleep(0.1)
#     i=int(i)
driver.find_element_by_xpath('//*[@id="viewDummy"]').click()

# except:
#     pass
# driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li[3]').click()
# # sleep(2)
# driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
# # sleep(15)
# driver.quit()
# df_list = pd.read_html('https://nregarep2.nic.in/netnrega/dynamic2/ReportGenerated.aspx')
dfs1 = pd.read_html(driver.page_source)
dfs2_last_part = dfs1[-1]
# dfs = dfs.T
print(dfs)
# dfs.to_csv('Animal.csv',index=0)
sleep(10)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Driver [C:\Users\Abhishek\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

[                                                    0   \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                 Sno.
..                                                 ...
642                                                NaN
643                                                NaN
644                                                NaN
645                                                NaN
646  Note: Figures shown above are indicative only ...

                                                    1   \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                           State Name
..                                                 ...
642                                                NaN
643                                                NaN
644                                                NaN
645                                                NaN
646  Note: Figures shown above are indicative only ...

                                                    2   \
0         MGNREGA Public Data Portal For FY: 2012-2013
1                                                  NaN
2                                                  NaN
3    Sno.State NameDistrict NameTotal households ap...
4                                        District Name
..                                                 ...
642                                             Total:
643                                                NaN
644                                                NaN
645                                                NaN
646  Note: Figures shown above are indicative only ...

                                                    3   \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                Total households applied for job card
..                                                 ...
642                                          125991924
643                                                NaN
644                                                NaN
645                                                NaN
646  Note: Figures shown above are indicative only ...

                                                    4                     5   \
0                                                  NaN                   NaN
1                                                  NaN                   NaN
2                                                  NaN                   NaN
3                                                  NaN                   NaN
4                               Total job cards issued  Total job cards (SC)
..                                                 ...                   ...
642                                          124747235              26457858
643                                                NaN                   NaN
644                                                NaN                   NaN
645                                                NaN                   NaN
646  Note: Figures shown above are indicative only ...                   NaN

                       6                            7   \
0                     NaN                          NaN
1                     NaN                          NaN
2                     NaN                          NaN
3                     NaN                          NaN
4    Total job cards (ST)  Total job cards (non-SC/ST)
..                    ...                          ...
642              16874195                     81415182
643                   NaN                          NaN
644                   NaN                          NaN
645                   NaN                          NaN
646                   NaN                          NaN

                                 8                            9   ...  \
0                               NaN                          NaN  ...
1                               NaN                          NaN  ...
2                               NaN                          NaN  ...
3                               NaN                          NaN  ...
4    Total households demanded work  Total persons demanded work  ...
..                              ...                          ...  ...
642                        45622028                     72082186  ...
643                             NaN                          NaN  ...
644                             NaN                          NaN  ...
645                             NaN                          NaN  ...
646                             NaN                          NaN  ...

                                       18                          19  \
0                                     NaN                         NaN
1                                     NaN                         NaN
2                                     NaN                         NaN
3                                     NaN                         NaN
4    Total person-days worked (non-SC/ST)  Total SC households worked
..                                    ...                         ...
642                            1309779717                    10799918
643                                   NaN                         NaN
644                                   NaN                         NaN
645                                   NaN                         NaN
646                                   NaN                         NaN

                                  20                          21  \
0                                NaN                         NaN
1                                NaN                         NaN
2                                NaN                         NaN
3                                NaN                         NaN
4    Total person-days worked by SCs  Total ST households worked
..                               ...                         ...
642                        481635513                     7772643
643                              NaN                         NaN
644                              NaN                         NaN
645                              NaN                         NaN
646                              NaN                         NaN

                                  22                                       23  \
0                                NaN                                      NaN
1                                NaN                                      NaN
2                                NaN                                      NaN
3                                NaN                                      NaN
4    Total person-days worked by STs  Total land reform/IAY households worked
..                               ...                                      ...
642                        382678104                                  1550977
643                              NaN                                      NaN
644                              NaN                                      NaN
645                              NaN                                      NaN
646                              NaN                                      NaN

                                    24                 25  \
0                                  NaN                NaN
1                                  NaN                NaN
2                                  NaN                NaN
3                                  NaN                NaN
4    Total person-days worked by women  Total person-days
..                                 ...                ...
642                         1104256520         2174093334
643                                NaN                NaN
644                                NaN                NaN
645                                NaN                NaN
646                                NaN                NaN

                                         26  \
0                                       NaN
1                                       NaN
2                                       NaN
3                                       NaN
4    Total SC households over 100 day limit
..                                      ...
642                                 1079298
643                                     NaN
644                                     NaN
645                                     NaN
646                                     NaN

                                         27
0                                       NaN
1                                       NaN
2                                       NaN
3                                       NaN
4    Total ST households over 100 day limit
..                                      ...
642                                  826070
643                                     NaN
644                                     NaN
645                                     NaN
646                                     NaN

[647 rows x 28 columns],       Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households applied for job card  Total job cards issued  \
0                                     5149                    5145
1                                    18292                   18292
2                                    25048                   25048
3                                     8176                    3554
4                                        0                       0
..                                     ...                     ...
633                                 898113                  894792
634                                 685931                  683726
635                                 456861                  455667
636                                  91666                   91541
637                              125991924               124747235

     Total job cards (SC)  Total job cards (ST)  Total job cards (non-SC/ST)  \
0                       4                  3628                         1513
1                       0                     0                        18292
2                       0                   348                        24700
3                       1                  3499                           54
4                       0                     0                            0
..                    ...                   ...                          ...
633                187578                156977                       550237
634                101954                  5112                       576660
635                 83091                 84533                       288043
636                 42256                 25053                        24232
637              26457858              16874195                     81415182

     Total households demanded work  Total persons demanded work  ...  \
0                              1481                         1691  ...
1                             10668                        13351  ...
2                              6063                         6798  ...
3                                 4                            4  ...
4                                 0                            0  ...
..                              ...                          ...  ...
633                          553205                       931041  ...
634                          421531                       669275  ...
635                          228364                       441796  ...
636                           43330                        46176  ...
637                        45622028                     72082186  ...

     Total person-days worked (non-SC/ST)  Total SC households worked  \
0                                    7029                           2
1                                  588048                           0
2                                   20516                           0
3                                      22                           0
4                                       0                           0
..                                    ...                         ...
633                               9645458                      125804
634                              13676194                       64583
635                               5437212                       46871
636                                203460                       20986
637                            1309779717                    10799918

     Total person-days worked by SCs  Total ST households worked  \
0                                 26                        1196
1                                  0                           0
2                                  0                          60
3                                  0                           0
4                                  0                           0
..                               ...                         ...
633                          3986113                       96829
634                          2384947                        3190
635                          1937953                       48503
636                           419465                       10402
637                        481635513                     7772643

     Total person-days worked by STs  Total land reform/IAY households worked  \
0                              43580                                        2
1                                  0                                       12
2                               2120                                        4
3                                  0                                        1
4                                  0                                        0
..                               ...                                      ...
633                          2959322                                    81130
634                           121897                                    45187
635                          1898027                                     3948
636                           220501                                     2046
637                        382678104                                  1550977

     Total person-days worked by women  Total person-days  \
0                                17788              50635
1                               271632             588048
2                                 8929              22636
3                                    0                 22
4                                    0                  0
..                                 ...                ...
633                            5999676           16590893
634                            8001927           16183038
635                            3937224            9273192
636                             506321             843426
637                         1104256520         2174093334

     Total SC households over 100 day limit  \
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
633                                    2974
634                                    2850
635                                    3656
636                                     176
637                                 1079298

     Total ST households over 100 day limit
0                                        62
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
633                                    2565
634                                     140
635                                    3214
636                                     121
637                                  826070

[638 rows x 28 columns]]

In [114]:
dfs2_last_part.drop(columns={'Sno.','State Name','District Name'},inplace=True)
district_merged=pd.concat([dfs2_first_part,dfs2_last_part],axis=1,sort=False)
district_merged

,Sno.,State Name,District Name,Total households applied for job card,Total job cards issued,Total job cards (SC),Total job cards (ST),Total job cards (non-SC/ST),Total households demanded work,Total persons demanded work,...,Amount sanctioned (Rs. In Lakhs),Total works,Total bank accounts,Total individual bank accounts,Total joint bank accounts,Amount disbursed to bank accounts,Total post office accounts,Total individual post office accounts,Total joint post office accounts,Amount disbursed to post office accounts
0,1.0,ANDAMAN AND NICOBAR,NICOBARS,5149,5145,4,3628,1513,1481,1691,...,513,609,1504,1253,251,2626468,2,2,0,1195
1,2.0,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,18292,18292,0,0,18292,10668,13351,...,106937858,477,2208,2131,77,10071489,128,127,1,193308
2,3.0,ANDAMAN AND NICOBAR,SOUTH ANDAMAN,25048,25048,0,348,24700,6063,6798,...,486090,316,7506,7075,431,1534894,492,490,2,64436
3,4.0,DADRA & NAGAR HAVELI,DADRA AND NAGAR HAVELI,8176,3554,1,3499,54,4,4,...,22,11,2181,2172,9,1099,0,0,0,0
4,5.0,DAMAN & DIU,DAMAN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,634.0,WEST BENGAL,PASCHIM MEDINIPUR,898113,894792,187578,156977,550237,553205,931041,...,519031428,66449,667220,557518,109702,1094268706,364730,267531,97199,605078355
634,635.0,WEST BENGAL,PURBA MEDINIPUR,685931,683726,101954,5112,576660,421531,669275,...,682618646,53058,554787,543596,11191,1210108206,208378,203921,4457,472439777
635,636.0,WEST BENGAL,PURULIA,456861,455667,83091,84533,288043,228364,441796,...,304890351,22025,76271,68884,7387,160727155,432279,403539,28740,798006474
636,637.0,WEST BENGAL,SILIGURI MAHAKUMA PARISAD,91666,91541,42256,25053,24232,43330,46176,...,4914454,1266,21536,21436,100,26966323,56890,55973,917,78449371
637,NaN,NaN,Total:,125991924,124747235,26457858,16874195,81415182,45622028,72082186,...,187588441143,11049569,54230896,45292526,8938370,100290921226,35332233,30755165,4577068,73378549869

In [115]:
district_merged.to_csv("district_merged.csv",index=False)

# dropdown 1

In [116]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
# check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
# # print(check_box_trail)
# ##for checkbox in check_box_trail:
#     checkbox.click()
# driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# for i in range (0,33):
#     i = str(i+1)
#     try:
#         driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
#         i=int(i)
#     except:
#         continue
#         i=int(i)
#     i=int(i)
    
for i in range (1,13):
    i = str(i+1)
    li=['1-10','11-20','21-30','31-40','41-50','51-60','61-70','71-80','81-99','100','>100','>14']
    try:
        
        check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
        driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[10]').click()
        for checkbox in check_box_trail:
            checkbox.click()
        driver.find_element_by_xpath('//*[@id="regionselect"]/option[2]').click()
        for j in range (0,33):
            j = str(j+1)
            try:
                driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+j+']/label').click() #inside state
                j=int(j)
            except:
                continue
                j=int(j)
        j=int(j)
        driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click() #inside state
        i=int(i)
#         typeOf(i)
        driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
        driver.implicitly_wait(15)
        dfs = pd.read_html(driver.page_source)
        dfs2 = dfs[-1]
        if i==2:
            data_1=dfs2
        else:
            data_1[dfs2.columns[3]+li[i-2]]=dfs2.iloc[:,3]
                
                
        dfs2 = dfs[-1]
#                 dfs1.columns[3] = dfs[-1].dfs.loc[:,dfs.columns[2]]
        # dfs = dfs.T
        print(dfs2)
        sleep(5)
        driver.find_element_by_xpath('//*[@id="BtnBack"]').click() #inside state
        sleep(2)
#         driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click()
    except:
        continue    
#     i=int(i)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Driver [C:\Users\Abhishek\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households completed<br>person-days in range:
0                                                 1560
1                                                 4815
2                                                 1591
3                                                    7
4                                                    0
..                                                 ...
633                                             734983
634                                             399219
635                                             235277
636                                             104495
637                                           39163321

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households completed<br>person-days in range:
0                                                 4037
1                                                14994
2                                                 4045
3                                                   15
4                                                    0
..                                                 ...
633                                            1872295
634                                            1188696
635                                             650399
636                                             192795
637                                          117529453

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households completed<br>person-days in range:
0                                                 6634
1                                                24610
2                                                 4199
3                                                    0
4                                                    0
..                                                 ...
633                                            2377307
634                                            1652821
635                                             929204
636                                             176947
637                                          165525229

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households completed<br>person-days in range:
0                                                 5835
1                                                35542
2                                                 2374
3                                                    0
4                                                    0
..                                                 ...
633                                            2252533
634                                            1739588
635                                             786267
636                                             102895
637                                          159073691

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households completed<br>person-days in range:
0                                                 5279
1                                                37444
2                                                 2618
3                                                    0
4                                                    0
..                                                 ...
633                                            2042627
634                                            1778037
635                                             978030
636                                              68162
637                                          187623927

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households completed<br>person-days in range:
0                                                 4581
1                                                45389
2                                                 3410
3                                                    0
4                                                    0
..                                                 ...
633                                            1671094
634                                            1649182
635                                             848145
636                                              48753
637                                          190169980

[638 rows x 4 columns]

      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households completed<br>person-days in range:
0                                                 3246
1                                                49934
2                                                 2047
3                                                    0
4                                                    0
..                                                 ...
633                                            1429470
634                                            1468214
635                                             840024
636                                              31656
637                                          165919635

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households completed<br>person-days in range:
0                                                 5482
1                                                47534
2                                                 1194
3                                                    0
4                                                    0
..                                                 ...
633                                            1125804
634                                            1347271
635                                             705242
636                                              27386
637                                          186248783

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households completed<br>person-days in range:
0                                                 7095
1                                               114746
2                                                  953
3                                                    0
4                                                    0
..                                                 ...
633                                            1802915
634                                            2819778
635                                            1553988
636                                              49249
637                                          411549051

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households completed<br>person-days in range:
0                                                 3000
1                                               206300
2                                                    0
3                                                    0
4                                                    0
..                                                 ...
633                                             398000
634                                             702200
635                                             251900
636                                              26300
637                                          148188600

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households completed<br>person-days in range:
0                                                 3886
1                                                 6740
2                                                  205
3                                                    0
4                                                    0
..                                                 ...
633                                             883865
634                                            1438032
635                                            1494716
636                                              14788
637                                          402579952

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households completed<br>person-days in range:
0                                                47736
1                                               578216
2                                                19299
3                                                   15
4                                                    0
..                                                 ...
633                                           15082732
634                                           15323845
635                                            8686508
636                                             662739
637                                         2081097359

[638 rows x 4 columns]

In [117]:
data_1.rename(columns = {'Total households completed<br>person-days in range:':'Total households completed<br>person-days in range:1-10'}, inplace = True)

In [118]:
data_1.to_csv("dis_dropdown_1.csv",index=False)

In [119]:
data_1

,Sno.,State Name,District Name,Total households completed<br>person-days in range:1-10,Total households completed<br>person-days in range:11-20,Total households completed<br>person-days in range:21-30,Total households completed<br>person-days in range:31-40,Total households completed<br>person-days in range:41-50,Total households completed<br>person-days in range:51-60,Total households completed<br>person-days in range:61-70,Total households completed<br>person-days in range:71-80,Total households completed<br>person-days in range:81-99,Total households completed<br>person-days in range:100,Total households completed<br>person-days in range:>100,Total households completed<br>person-days in range:>14
0,1.0,ANDAMAN AND NICOBAR,NICOBARS,1560,4037,6634,5835,5279,4581,3246,5482,7095,3000,3886,47736
1,2.0,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,4815,14994,24610,35542,37444,45389,49934,47534,114746,206300,6740,578216
2,3.0,ANDAMAN AND NICOBAR,SOUTH ANDAMAN,1591,4045,4199,2374,2618,3410,2047,1194,953,0,205,19299
3,4.0,DADRA & NAGAR HAVELI,DADRA AND NAGAR HAVELI,7,15,0,0,0,0,0,0,0,0,0,15
4,5.0,DAMAN & DIU,DAMAN,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,634.0,WEST BENGAL,PASCHIM MEDINIPUR,734983,1872295,2377307,2252533,2042627,1671094,1429470,1125804,1802915,398000,883865,15082732
634,635.0,WEST BENGAL,PURBA MEDINIPUR,399219,1188696,1652821,1739588,1778037,1649182,1468214,1347271,2819778,702200,1438032,15323845
635,636.0,WEST BENGAL,PURULIA,235277,650399,929204,786267,978030,848145,840024,705242,1553988,251900,1494716,8686508
636,637.0,WEST BENGAL,SILIGURI MAHAKUMA PARISAD,104495,192795,176947,102895,68162,48753,31656,27386,49249,26300,14788,662739
637,NaN,NaN,Total:,39163321,117529453,165525229,159073691,187623927,190169980,165919635,186248783,411549051,148188600,402579952,2081097359

# Dropdown 2

In [120]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
# check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
# # print(check_box_trail)
# ##for checkbox in check_box_trail:
#     checkbox.click()
# driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# for i in range (0,33):
#     i = str(i+1)
#     try:
#         driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
#         i=int(i)
#     except:
#         continue
#         i=int(i)
#     i=int(i)
    
for i in range (1,6):
    i = str(i+1)
    li=['18-30yrs','30-40yrs','40-50yrs','50-60yrs','>60yrs']
    try:
        
        check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[26:27]
        driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[10]').click()
        for checkbox in check_box_trail:
            checkbox.click()
        driver.find_element_by_xpath('//*[@id="regionselect"]/option[2]').click()
        for j in range (0,33):
            j = str(j+1)
            try:
                driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+j+']/label').click() #inside state
                j=int(j)
            except:
                continue
                j=int(j)
        j=int(j)
        driver.find_element_by_xpath('//*[@id="DdlstTxtBox9"]/option['+i+']').click() #inside state
        i=int(i)
#         typeOf(i)
        driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
        driver.implicitly_wait(15)
        dfs = pd.read_html(driver.page_source)
        dfs2 = dfs[-1]
        if i==2:
            data_2=dfs2
        else:
            data_2[dfs2.columns[3]+li[i-2]]=dfs2.iloc[:,3]
                
                
        dfs2 = dfs[-1]
#                 dfs1.columns[3] = dfs[-1].dfs.loc[:,dfs.columns[2]]
        # dfs = dfs.T
        print(dfs2)
        sleep(3)
        driver.find_element_by_xpath('//*[@id="BtnBack"]').click() #inside state
        sleep(1)
#         driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click()
    except:
        continue    
#     i=int(i)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Driver [C:\Users\Abhishek\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total workers employed<br>in age group:
0                                        352
1                                       2455
2                                        162
3                                          0
4                                          0
..                                       ...
633                                   147443
634                                    87094
635                                    82169
636                                     7003
637                                 13241780

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total workers employed<br>in age group:
0                                        546
1                                       4204
2                                        358
3                                          0
4                                          0
..                                       ...
633                                   291579
634                                   199226
635                                   138307
636                                    13697
637                                 24212011

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total workers employed<br>in age group:
0                                        391
1                                       2967
2                                        271
3                                          2
4                                          0
..                                       ...
633                                   282456
634                                   206273
635                                   132601
636                                    13822
637                                 21289992

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total workers employed<br>in age group:
0                                        243
1                                       1619
2                                        160
3                                          1
4                                          0
..                                       ...
633                                   152429
634                                   115264
635                                    72488
636                                     7549
637                                 12496510

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total workers employed<br>in age group:
0                                         95
1                                       1018
2                                         70
3                                          0
4                                          0
..                                       ...
633                                    52237
634                                    59057
635                                    30199
636                                     3935
637                                  6187195

[638 rows x 4 columns]

In [121]:
data_2.rename(columns = {'Total workers employed<br>in age group:':'Total workers employed<br>in age group:18-30yrs'}, inplace = True)

In [122]:
data_2.to_csv("dis_dropdown_2.csv",index=False)

In [123]:
data_2.head()

,Sno.,State Name,District Name,Total workers employed<br>in age group:18-30yrs,Total workers employed<br>in age group:30-40yrs,Total workers employed<br>in age group:40-50yrs,Total workers employed<br>in age group:50-60yrs,Total workers employed<br>in age group:>60yrs
0,1.0,ANDAMAN AND NICOBAR,NICOBARS,352,546,391,243,95
1,2.0,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,2455,4204,2967,1619,1018
2,3.0,ANDAMAN AND NICOBAR,SOUTH ANDAMAN,162,358,271,160,70
3,4.0,DADRA & NAGAR HAVELI,DADRA AND NAGAR HAVELI,0,0,2,1,0
4,5.0,DAMAN & DIU,DAMAN,0,0,0,0,0

# dropdown 3

In [124]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
# check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
# # print(check_box_trail)
# ##for checkbox in check_box_trail:
#     checkbox.click()
# driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# for i in range (0,33):
#     i = str(i+1)
#     try:
#         driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
#         i=int(i)
#     except:
#         continue
#         i=int(i)
#     i=int(i)
    
for i in range (1,13):
    i = str(i+1)
    try:
        
        check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[27:28]
        driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[10]').click()
        for checkbox in check_box_trail:
            checkbox.click()
        driver.find_element_by_xpath('//*[@id="regionselect"]/option[2]').click()
        for j in range (0,33):
            j = str(j+1)
            try:
                driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+j+']/label').click() #inside state
                j=int(j)
            except:
                continue
                j=int(j)
        j=int(j)
        driver.find_element_by_xpath('//*[@id="DdlstTxtBox5"]/option['+i+']').click() #inside state
        i=int(i)
#         typeOf(i)
        driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
        driver.implicitly_wait(15)
        dfs = pd.read_html(driver.page_source)
        dfs2 = dfs[-1]
        if i==2:
            data_3=dfs2
        else:
            data_3[dfs2.columns[3]]=dfs2.iloc[:,3]
                
                
        dfs2 = dfs[-1]
#                 dfs1.columns[3] = dfs[-1].dfs.loc[:,dfs.columns[2]]
        # dfs = dfs.T
        print(dfs2)
        sleep(5)
        driver.find_element_by_xpath('//*[@id="BtnBack"]').click() #inside state
        sleep(2)
#         driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click()
    except:
        continue    
#     i=int(i)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Driver [C:\Users\Abhishek\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households demanded<br>work(Apr)
0                                       448
1                                      1354
2                                      2085
3                                         4
4                                         0
..                                      ...
633                                  178385
634                                  150957
635                                   34286
636                                    8502
637                                12256569

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households demanded<br>work(May)
0                                       213
1                                      2018
2                                      1137
3                                         1
4                                         0
..                                      ...
633                                  156240
634                                  185026
635                                   70111
636                                    7072
637                                16834802

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households demanded<br>work(Jun)
0                                       421
1                                      1975
2                                       439
3                                         1
4                                         0
..                                      ...
633                                  176621
634                                  210155
635                                   79278
636                                    9808
637                                18814077

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households demanded<br>work(Jul)
0                                       348
1                                      3329
2                                       864
3                                         0
4                                         0
..                                      ...
633                                  112804
634                                  138753
635                                   60266
636                                    4424
637                                13127760

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households demanded<br>work(Aug)
0                                       327
1                                      2385
2                                      1276
3                                         0
4                                         0
..                                      ...
633                                   48960
634                                   71274
635                                   31982
636                                    4800
637                                10004235

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households demanded<br>work(Sep)
0                                       528
1                                      4096
2                                      1265
3                                         0
4                                         0
..                                      ...
633                                   41903
634                                   51160
635                                   42731
636                                    6722
637                                 9941355

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households demanded<br>work(Oct)
0                                       663
1                                      3848
2                                      2315
3                                         0
4                                         0
..                                      ...
633                                   37501
634                                   35767
635                                   46816
636                                    6395
637                                 8846279

[638 rows x 4 columns]

      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households demanded<br>work(Nov)
0                                       459
1                                      2493
2                                      1772
3                                         0
4                                         0
..                                      ...
633                                   34962
634                                   37994
635                                   34764
636                                    5000
637                                 8677879

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households demanded<br>work(Dec)
0                                       271
1                                      4132
2                                       918
3                                         0
4                                         0
..                                      ...
633                                   60500
634                                   58004
635                                   55678
636                                   10534
637                                10460555

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households demanded<br>work(Jan)
0                                       204
1                                      3662
2                                       740
3                                         0
4                                         0
..                                      ...
633                                  170932
634                                  120453
635                                   78623
636                                   10423
637                                12449386

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households demanded<br>work(Feb)
0                                       364
1                                      3889
2                                       789
3                                         0
4                                         0
..                                      ...
633                                  238729
634                                  145304
635                                   84461
636                                    8553
637                                14761277

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households demanded<br>work(Mar)
0                                       376
1                                      2959
2                                       611
3                                         0
4                                         0
..                                      ...
633                                  278174
634                                  201586
635                                   49747
636                                   11195
637                                15685212

[638 rows x 4 columns]

In [125]:
data_3

,Sno.,State Name,District Name,Total households demanded<br>work(Apr),Total households demanded<br>work(May),Total households demanded<br>work(Jun),Total households demanded<br>work(Jul),Total households demanded<br>work(Aug),Total households demanded<br>work(Sep),Total households demanded<br>work(Oct),Total households demanded<br>work(Nov),Total households demanded<br>work(Dec),Total households demanded<br>work(Jan),Total households demanded<br>work(Feb),Total households demanded<br>work(Mar)
0,1.0,ANDAMAN AND NICOBAR,NICOBARS,448,213,421,348,327,528,663,459,271,204,364,376
1,2.0,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,1354,2018,1975,3329,2385,4096,3848,2493,4132,3662,3889,2959
2,3.0,ANDAMAN AND NICOBAR,SOUTH ANDAMAN,2085,1137,439,864,1276,1265,2315,1772,918,740,789,611
3,4.0,DADRA & NAGAR HAVELI,DADRA AND NAGAR HAVELI,4,1,1,0,0,0,0,0,0,0,0,0
4,5.0,DAMAN & DIU,DAMAN,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,634.0,WEST BENGAL,PASCHIM MEDINIPUR,178385,156240,176621,112804,48960,41903,37501,34962,60500,170932,238729,278174
634,635.0,WEST BENGAL,PURBA MEDINIPUR,150957,185026,210155,138753,71274,51160,35767,37994,58004,120453,145304,201586
635,636.0,WEST BENGAL,PURULIA,34286,70111,79278,60266,31982,42731,46816,34764,55678,78623,84461,49747
636,637.0,WEST BENGAL,SILIGURI MAHAKUMA PARISAD,8502,7072,9808,4424,4800,6722,6395,5000,10534,10423,8553,11195
637,NaN,NaN,Total:,12256569,16834802,18814077,13127760,10004235,9941355,8846279,8677879,10460555,12449386,14761277,15685212

In [126]:
data_3.to_csv("dis_dropdown_3.csv",index=False)

# dropdown 4

In [127]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
# check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
# # print(check_box_trail)
# ##for checkbox in check_box_trail:
#     checkbox.click()
# driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# for i in range (0,33):
#     i = str(i+1)
#     try:
#         driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
#         i=int(i)
#     except:
#         continue
#         i=int(i)
#     i=int(i)
    
for i in range (1,13):
    i = str(i+1)
    try:
        
        check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[28:29]
        driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[10]').click()
        for checkbox in check_box_trail:
            checkbox.click()
        driver.find_element_by_xpath('//*[@id="regionselect"]/option[2]').click()
        for j in range (0,33):
            j = str(j+1)
            try:
                driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+j+']/label').click() #inside state
                j=int(j)
            except:
                continue
                j=int(j)
        j=int(j)
        driver.find_element_by_xpath('//*[@id="DdlstTxtBox6"]/option['+i+']').click() #inside state
        i=int(i)
#         typeOf(i)
        driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
        driver.implicitly_wait(15)
        dfs = pd.read_html(driver.page_source)
        dfs2 = dfs[-1]
        if i==2:
            data_4=dfs2
        else:
            data_4[dfs2.columns[3]]=dfs2.iloc[:,3]
                
                
        dfs2 = dfs[-1]
#                 dfs1.columns[3] = dfs[-1].dfs.loc[:,dfs.columns[2]]
        # dfs = dfs.T
        print(dfs2)
        sleep(2)
        driver.find_element_by_xpath('//*[@id="BtnBack"]').click() #inside state
        sleep(2)
#         driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click()
    except:
        continue    
#     i=int(i)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Trying to download new driver from http://chromedriver.storage.googleapis.com/87.0.4280.88/chromedriver_win32.zip
[WDM] - Driver has been saved in cache [C:\Users\Abhishek\.wdm\drivers\chromedriver\win32\87.0.4280.88]

      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons demanded work(Apr)
0                                 482
1                                1523
2                                2256
3                                   4
4                                   0
..                                ...
633                            264121
634                            202085
635                             58846
636                              8783
637                          16941705

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons demanded work(May)
0                                 225
1                                2312
2                                1244
3                                   1
4                                   0
..                                ...
633                            226797
634                            248685
635                            118328
636                              7384
637                          23960198

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons demanded work(Jun)
0                                 444
1                                2239
2                                 501
3                                   1
4                                   0
..                                ...
633                            255626
634                            288251
635                            133008
636                             10191
637                          26057215

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons demanded work(Jul)
0                                 368
1                                3746
2                                 927
3                                   0
4                                   0
..                                ...
633                            158125
634                            188128
635                             99034
636                              4602
637                          16808470

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons demanded work(Aug)
0                                 354
1                                2636
2                                1410
3                                   0
4                                   0
..                                ...
633                             67653
634                             92115
635                             49990
636                              4904
637                          12727578

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons demanded work(Sep)
0                                 573
1                                4695
2                                1337
3                                   0
4                                   0
..                                ...
633                             55955
634                             64580
635                             67961
636                              6837
637                          12395707

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons demanded work(Oct)
0                                 730
1                                4336
2                                2440
3                                   0
4                                   0
..                                ...
633                             51838
634                             44985
635                             73572
636                              6442
637                          10976228

[638 rows x 4 columns]

      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons demanded work(Nov)
0                                 486
1                                2828
2                                1877
3                                   0
4                                   0
..                                ...
633                             47417
634                             47157
635                             53948
636                              5112
637                          10799822

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons demanded work(Dec)
0                                 294
1                                4674
2                                 983
3                                   0
4                                   0
..                                ...
633                             83274
634                             73269
635                             89351
636                             10777
637                          13300542

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons demanded work(Jan)
0                                 209
1                                4046
2                                 789
3                                   0
4                                   0
..                                ...
633                            245650
634                            155349
635                            130172
636                             10905
637                          16343225

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons demanded work(Feb)
0                                 393
1                                4383
2                                 833
3                                   0
4                                   0
..                                ...
633                            353175
634                            190605
635                            140991
636                              9046
637                          20171532

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons demanded work(Mar)
0                                 399
1                                3284
2                                 639
3                                   0
4                                   0
..                                ...
633                            415707
634                            276351
635                             81731
636                             11620
637                          22085099

[638 rows x 4 columns]

In [128]:
data_4.to_csv("dis_dropdown_4.csv",index=False)

# dropdown5

In [129]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
# check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
# # print(check_box_trail)
# ##for checkbox in check_box_trail:
#     checkbox.click()
# driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# for i in range (0,33):
#     i = str(i+1)
#     try:
#         driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
#         i=int(i)
#     except:
#         continue
#         i=int(i)
#     i=int(i)
    
for i in range (1,13):
    i = str(i+1)
    try:
        
        check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[29:30]
        driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[10]').click()
        for checkbox in check_box_trail:
            checkbox.click()
        driver.find_element_by_xpath('//*[@id="regionselect"]/option[2]').click()
        for j in range (0,33):
            j = str(j+1)
            try:
                driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+j+']/label').click() #inside state
                j=int(j)
            except:
                continue
                j=int(j)
        j=int(j)
        driver.find_element_by_xpath('//*[@id="DdlstTxtBox7"]/option['+i+']').click() #inside state
        i=int(i)
#         typeOf(i)
        driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
        driver.implicitly_wait(15)
        dfs = pd.read_html(driver.page_source)
        dfs2 = dfs[-1]
        if i==2:
            data_5=dfs2
        else:
            data_5[dfs2.columns[3]]=dfs2.iloc[:,3]
                
                
        dfs2 = dfs[-1]
#                 dfs1.columns[3] = dfs[-1].dfs.loc[:,dfs.columns[2]]
        # dfs = dfs.T
        print(dfs2)
        sleep(2)
        driver.find_element_by_xpath('//*[@id="BtnBack"]').click() #inside state
        sleep(2)
#         driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click()
    except:
        continue    
#     i=int(i)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Driver [C:\Users\Abhishek\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households worked(Apr)
0                             394
1                            1250
2                             400
3                               2
4                               0
..                            ...
633                        177798
634                        150539
635                         34247
636                          8398
637                      13742545

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households worked(May)
0                             225
1                            2075
2                             341
3                               0
4                               0
..                            ...
633                        155327
634                        184618
635                         70002
636                          7077
637                      19199272

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households worked(Jun)
0                             349
1                            2934
2                              29
3                               0
4                               0
..                            ...
633                        174837
634                        208773
635                         79251
636                          9840
637                      21023066

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households worked(Jul)
0                             387
1                            3708
2                             215
3                               0
4                               0
..                            ...
633                        111398
634                        137297
635                         60137
636                          4353
637                      14085068

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households worked(Aug)
0                             325
1                            3587
2                             115
3                               0
4                               0
..                            ...
633                         47870
634                         70127
635                         31543
636                          4771
637                      10319944

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households worked(Sep)
0                             585
1                            4236
2                             149
3                               0
4                               0
..                            ...
633                         40830
634                         49447
635                         41829
636                          7210
637                       9857205

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households worked(Oct)
0                             663
1                            5116
2                             154
3                               0
4                               0
..                            ...
633                         36003
634                         35535
635                         46267
636                          7455
637                       8810931

[638 rows x 4 columns]

      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households worked(Nov)
0                             563
1                            3588
2                             331
3                               0
4                               0
..                            ...
633                         32659
634                         37990
635                         34087
636                          4860
637                       8509411

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households worked(Dec)
0                             270
1                            4365
2                              62
3                               0
4                               0
..                            ...
633                         57772
634                         58042
635                         52007
636                         10482
637                      10211762

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households worked(Jan)
0                             206
1                            5047
2                             166
3                               0
4                               0
..                            ...
633                        166380
634                        119243
635                         79484
636                         10239
637                      12214000

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households worked(Feb)
0                             359
1                            5032
2                             267
3                               0
4                               0
..                            ...
633                        233550
634                        140246
635                        103845
636                          7639
637                      15161750

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total households worked(Mar)
0                             426
1                            4108
2                             109
3                               0
4                               0
..                            ...
633                        270467
634                        190110
635                         68141
636                          9442
637                      16176675

[638 rows x 4 columns]

In [130]:
data_5.to_csv("dis_dropdown_5.csv",index=False)

# dropdown 6

In [131]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
# check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[25:26]
# # print(check_box_trail)
# ##for checkbox in check_box_trail:
#     checkbox.click()
# driver.find_element_by_xpath('//*[@id="regionselect"]/option[1]').click()
# for i in range (0,33):
#     i = str(i+1)
#     try:
#         driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
#         i=int(i)
#     except:
#         continue
#         i=int(i)
#     i=int(i)
    
for i in range (1,13):
    i = str(i+1)
    try:
        
        check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[30:31]
        driver.find_element_by_xpath('//*[@id="DdlstFinYear"]/option[10]').click()
        for checkbox in check_box_trail:
            checkbox.click()
        driver.find_element_by_xpath('//*[@id="regionselect"]/option[2]').click()
        for j in range (0,33):
            j = str(j+1)
            try:
                driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+j+']/label').click() #inside state
                j=int(j)
            except:
                continue
                j=int(j)
        j=int(j)
        driver.find_element_by_xpath('//*[@id="DdlstTxtBox8"]/option['+i+']').click() #inside state
        i=int(i)
#         typeOf(i)
        driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
        driver.implicitly_wait(15)
        dfs = pd.read_html(driver.page_source)
        dfs2 = dfs[-1]
        if i==2:
            data_6=dfs2
        else:
            data_6[dfs2.columns[3]]=dfs2.iloc[:,3]
                
                
        dfs2 = dfs[-1]
#                 dfs1.columns[3] = dfs[-1].dfs.loc[:,dfs.columns[2]]
        # dfs = dfs.T
        print(dfs2)
        sleep(2)
        driver.find_element_by_xpath('//*[@id="BtnBack"]').click() #inside state
        sleep(2)
#         driver.find_element_by_xpath('//*[@id="DdlstTxtBox1"]/option['+i+']').click()
    except:
        continue    
#     i=int(i)
driver.quit()

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Driver [C:\Users\Abhishek\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons worked(Apr)
0                         4411
1                        14953
2                         5905
3                           22
4                            0
..                         ...
633                    2068849
634                    1839362
635                     482039
636                      81948
637                  209814532

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons worked(May)
0                         1731
1                        24575
2                         2745
3                            0
4                            0
..                         ...
633                    1741478
634                    2311705
635                    1046636
636                      68859
637                  320533990

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons worked(Jun)
0                         4016
1                        34621
2                          393
3                            0
4                            0
..                         ...
633                    1954672
634                    2653697
635                    1138999
636                     109698
637                  319361537

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons worked(Jul)
0                         3777
1                        51236
2                         1978
3                            0
4                            0
..                         ...
633                    1068754
634                    1542156
635                     718166
636                      44888
637                  174639989

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons worked(Aug)
0                         2890
1                        41959
2                         1092
3                            0
4                            0
..                         ...
633                     423888
634                     683982
635                     345760
636                      48512
637                  126368649

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons worked(Sep)
0                         6067
1                        45846
2                         1404
3                            0
4                            0
..                         ...
633                     339780
634                     444735
635                     457571
636                      61527
637                  113338935

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons worked(Oct)
0                         8395
1                        74852
2                         1149
3                            0
4                            0
..                         ...
633                     306505
634                     356556
635                     486423
636                      55319
637                   98511282

[638 rows x 4 columns]

      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons worked(Nov)
0                         5806
1                        37111
2                         2247
3                            0
4                            0
..                         ...
633                     287083
634                     402071
635                     375917
636                      45594
637                  102989153

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons worked(Dec)
0                         2529
1                        61266
2                          583
3                            0
4                            0
..                         ...
633                     526410
634                     618686
635                     651622
636                      92804
637                  126552656

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons worked(Jan)
0                         2390
1                        76549
2                         1473
3                            0
4                            0
..                         ...
633                    1851205
634                    1354491
635                    1109435
636                      97207
637                  163288307

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons worked(Feb)
0                         4225
1                        73710
2                         2529
3                            0
4                            0
..                         ...
633                    2831905
634                    1616583
635                    1582334
636                      63126
637                  203460478

[638 rows x 4 columns]
      Sno.            State Name              District Name  \
0      1.0   ANDAMAN AND NICOBAR                   NICOBARS
1      2.0   ANDAMAN AND NICOBAR   NORTH AND MIDDLE ANDAMAN
2      3.0   ANDAMAN AND NICOBAR              SOUTH ANDAMAN
3      4.0  DADRA & NAGAR HAVELI     DADRA AND NAGAR HAVELI
4      5.0           DAMAN & DIU                      DAMAN
..     ...                   ...                        ...
633  634.0           WEST BENGAL          PASCHIM MEDINIPUR
634  635.0           WEST BENGAL            PURBA MEDINIPUR
635  636.0           WEST BENGAL                    PURULIA
636  637.0           WEST BENGAL  SILIGURI MAHAKUMA PARISAD
637    NaN                   NaN                     Total:

     Total persons worked(Mar)
0                         4398
1                        51370
2                         1138
3                            0
4                            0
..                         ...
633                    3190364
634                    2359014
635                     878290
636                      73944
637                  214706534

[638 rows x 4 columns]

In [132]:
data_6.to_csv("dis_dropdown_6.csv",index=False)

In [133]:
district_merged.head()

,Sno.,State Name,District Name,Total households applied for job card,Total job cards issued,Total job cards (SC),Total job cards (ST),Total job cards (non-SC/ST),Total households demanded work,Total persons demanded work,...,Amount sanctioned (Rs. In Lakhs),Total works,Total bank accounts,Total individual bank accounts,Total joint bank accounts,Amount disbursed to bank accounts,Total post office accounts,Total individual post office accounts,Total joint post office accounts,Amount disbursed to post office accounts
0,1.0,ANDAMAN AND NICOBAR,NICOBARS,5149,5145,4,3628,1513,1481,1691,...,513,609,1504,1253,251,2626468,2,2,0,1195
1,2.0,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,18292,18292,0,0,18292,10668,13351,...,106937858,477,2208,2131,77,10071489,128,127,1,193308
2,3.0,ANDAMAN AND NICOBAR,SOUTH ANDAMAN,25048,25048,0,348,24700,6063,6798,...,486090,316,7506,7075,431,1534894,492,490,2,64436
3,4.0,DADRA & NAGAR HAVELI,DADRA AND NAGAR HAVELI,8176,3554,1,3499,54,4,4,...,22,11,2181,2172,9,1099,0,0,0,0
4,5.0,DAMAN & DIU,DAMAN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [134]:
d1=pd.read_csv("dis_dropdown_1.csv")
d2=pd.read_csv("dis_dropdown_2.csv")
d3=pd.read_csv("dis_dropdown_3.csv")
d4=pd.read_csv("dis_dropdown_4.csv")
d5=pd.read_csv("dis_dropdown_5.csv")
d6=pd.read_csv("dis_dropdown_6.csv")

In [135]:
#file2=pd.read_csv("district_merged.csv")

In [136]:
#file2.head()

In [137]:
#d6.shape

In [138]:
d1.drop(columns={"Sno.","State Name","District Name"},inplace=True)
d2.drop(columns={"Sno.","State Name","District Name"},inplace=True)
d3.drop(columns={"Sno.","State Name","District Name"},inplace=True)
d4.drop(columns={"Sno.","State Name","District Name"},inplace=True)
d5.drop(columns={"Sno.","State Name","District Name"},inplace=True)
d6.drop(columns={"Sno.","State Name","District Name"},inplace=True)

In [139]:
combined_2012_13_district=pd.concat([district_merged,d1,d2,d3,d4,d5,d6],axis=1,sort=False)

In [140]:
combined_2012_13_district.head()

,Sno.,State Name,District Name,Total households applied for job card,Total job cards issued,Total job cards (SC),Total job cards (ST),Total job cards (non-SC/ST),Total households demanded work,Total persons demanded work,...,Total persons worked(Jun),Total persons worked(Jul),Total persons worked(Aug),Total persons worked(Sep),Total persons worked(Oct),Total persons worked(Nov),Total persons worked(Dec),Total persons worked(Jan),Total persons worked(Feb),Total persons worked(Mar)
0,1.0,ANDAMAN AND NICOBAR,NICOBARS,5149,5145,4,3628,1513,1481,1691,...,4016,3777,2890,6067,8395,5806,2529,2390,4225,4398
1,2.0,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,18292,18292,0,0,18292,10668,13351,...,34621,51236,41959,45846,74852,37111,61266,76549,73710,51370
2,3.0,ANDAMAN AND NICOBAR,SOUTH ANDAMAN,25048,25048,0,348,24700,6063,6798,...,393,1978,1092,1404,1149,2247,583,1473,2529,1138
3,4.0,DADRA & NAGAR HAVELI,DADRA AND NAGAR HAVELI,8176,3554,1,3499,54,4,4,...,0,0,0,0,0,0,0,0,0,0
4,5.0,DAMAN & DIU,DAMAN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [141]:
combined_2012_13_district.to_csv("combined_2012_13_district.csv")

In [ ]:
ssssssssssssssssssssssssssssssss

# BLOCK

In [ ]:
url='https://nregarep2.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx'
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.implicitly_wait(20)
check_box_trail= driver.find_elements_by_xpath('//input[@type="checkbox"]')[:25]
# print(check_box_trail)
for checkbox in check_box_trail:
    checkbox.click()
driver.find_element_by_xpath('//*[@id="regionselect"]/option[3]').click()
# driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li[1]/label').click() #inside state

# try:
for i in range (0,33):
    i = str(i+1)
    try:
        driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li['+i+']/label').click() #inside state
        i=int(i)
    except:
        continue
        i=int(i)
#     sleep(0.1)
#     i=int(i)
driver.find_element_by_xpath('//*[@id="viewDummy"]').click()

# except:
#     pass
# driver.find_element_by_xpath('//*[@id="checklist"]/ul/ul/li[3]').click()
# # sleep(2)
# driver.find_element_by_xpath('//*[@id="viewDummy"]').click()
# # sleep(15)
# driver.quit()
# df_list = pd.read_html('https://nregarep2.nic.in/netnrega/dynamic2/ReportGenerated.aspx')
dfs = pd.read_html(driver.page_source)
dfs3_first_part = dfs[-1]
# dfs = dfs.T
print(dfs)
# dfs.to_csv('Animal.csv',index=0)
sleep(25)
driver.quit()